section(id='stell').stell.rel
  //- .container
  //-   .stell__title
  //-     h2 вакансии (vue)
  //-   nav.stell__nav
  //-     button.btn.btn-empty(type='button')._is-active  Венгрия
  //-     button.btn.btn-empty(type='button') Словакия
  //-     button.btn.btn-empty(type='button') Литва
  //-     button.btn.btn-empty(type='button') Латвия
  //-   ul.stell__plaza
  //-     li.stell__item 
  //-       h3 Работник склада
  //-       p Венгрия
  //-       p З/П от 700 евро
  //-       a.btn.btn-success.but-wave.popups-init-js(rel='#popup1' href='#!') Узнать детали
  //-     li.stell__item 
  //-       h3 Повар
  //-       p Венгрия
  //-       p З/П от 900 евро
  //-       a.btn.btn-success.but-wave.popups-init-js(rel='#popup1' href='#!') Узнать детали
  //-   h2 добавить вакансию
  //-   form(action="send" name="send-form").send#send-form.stell__form
  //-     .send__linia.input-field
  //-       input#firstname(type='text' name='text1' value='' placeholder=' Denzel Washington')
  //-       label.text-field__label(for='text1') профессия
  //-       span *поле обязательное для заполнения
  //-     .send__linia.input-field
  //-       input#text2(type='text' name='text2' value='' placeholder=' Denzel Washington')
  //-       label.text-field__label(for='text2') страна
  //-       span *поле обязательное для заполнения
  //-     .send__linia.input-field
  //-       input#text3(type='text' name='text3' value='' placeholder=' Denzel Washington')
  //-       label.text-field__label(for='text3') зарплата
  //-       span *поле обязательное для заполнения

  //-     button.btn.btn-success.but-wave(type='submit') submit
  //-   //- form.form
  //-   //-       input(name='example_button' type='button' value='Лайкнуть статью')
  //-   //-       input(name='example_color' type='color' value='#55cc77')
  //-   //-       input(name='example_date' type='date')
  //-   //-       input(name='example_datetime-local' type='datetime-local')
  //-   //-       input(name='example_email' type='email')
  //-   //-       input(name='example_file' type='file')
  //-   //-       input(name='example_hidden' type='hidden' value='48784')
  //-   //-       input(name='example_image' type='image' src='/images/button_image.png' width='130' height='42')
  //-   //-       input(name='example_month' type='month')
  //-   //-       input(name='example_number' type='number')
  //-   //-       input(name='example_password' type='password')
  //-   //-       input(name='example_reset' type='reset' value='Очистить поля')
  //-   //-       input(name='example_tel' type='tel')
  //-   //-       input(name='example_time' type='time')
  //-   //-       input(name='example_url' type='url')
  //-   //-       input(name='example_week' type='week')

