section(id="safe").safe.rel
  .container.rel
    .safe__img.rel
      .imgs
        img(src="./img/img-prob.webp" alt = "img")

    .safe__body
      .safe__title.title
        h2 С нами 
        span безопасно 
        h2 и 
        span комфортно
      p.safe__text 
        span Лицензия на трудоустройство 
        a(href="#!") приказ №227 от 15.08.18
      ul.safe__items
        li
          svg
            use(xlink:href="#check")
          div
            p Подберем 
            p подходящую
            p вакансию 
        li
          svg
            use(xlink:href="#check")
          div
            p Подберем  

            p подходящий
            p маршрут  
        li
          svg
            use(xlink:href="#check")
          div
            p Оформим все

            p необходимые
            p миграционные
            p документы 
        li
          svg
            use(xlink:href="#check")
          div
            p Встретим

            p и поселим
        li
          svg
            use(xlink:href="#check")
          div
            p Окажем
            p поддержку 1
            p месяц работы

      .safe__info
        .safe__info-common
          span Звоните прямо
          span.line сейчас
          a.btn-blue.btn(href="#!") +38 (093) 324 23 43
          span.line или
          span заполняйте анкету
          span.line и мы перезвоним вам

        button.btn-success.but-wave.btn(type="text" name = "text") Заполнить анкету
