section(id='actuel').actuel.rel
  .container
    .actuel__body
      .actuel__sec.actuel-sec
        .actuel-sec__header
          .actuel-sec__title
            h2 Актуально в Усадьбе «Фамилия»
          .actuel-sec__icons 
            .actuel-sec__icon 
              svg
                use(xlink:href='#grad')
            .actuel-sec__icon 
              svg
                use(xlink:href='#sonne')
        .actuel-sec__content 
          .actuel-sec__img.rel 
            .imgs
              img(src='./img/actuel/i-1.webp' alt='img')
          .actuel-sec__info
            .actuel-sec__info-title 
              h3 Спортивные площадки
            ul 
              li 
                span собственное футбольное поле;
              li 
                span две раздевалки со всеми удобствами и возможностью проведения теоретических занятий;
              li 
                span мобильный трибунный комплекс на 200 мест.
            a(href="#!") Подробнее
      .actuel__sec.actuel-sec.actuel-sec--small
        .actuel-sec__header
          .actuel-sec__title
            h2 События
          a(href="#!") Подробнее
        .actuel-sec__linies
          .actuel-sec__linie 
            img(src='./img/logo.svg' alt='img')
            p Сказочный Новый год в Усадьба «Фамилия»
            span с 31.12.22 г. - 02.01.23 г.
          .actuel-sec__linie 
            img(src='./img/logo.svg' alt='img')
            p Новогодние каникулы в Усадьба «Фамилия»
            span с 01.01 - 08.01.2023 г.
          .actuel-sec__linie 
            img(src='./img/logo.svg' alt='img')
            p Рождество в Усадьба «Фамилия»
            span 06.01 - 07.01.2023 г.

