$black: #313131;
$white: #fff;
$pinkish-grey-50: rgba(196, 196, 196, 0.5);
$black-two: #000;
$jungle-green: #006b36;
$black-three: #282828;
$dark-sea-green: #0f9a54;
$greyish-brown: #575757;
$white-two: #e8e8e8;
$white-16: rgba(255, 255, 255, 0.16);
$warm-grey: #6f6f6f;
$viridian: #187848;
$warm-grey-two: #9b9b9b;
$beige: #e3dfac;
$light-blue-grey: #e3f6ed;
$greyish: #b4b4b4;
$white-three: #d4d4d4;
$focus: rgb(237, 241, 247);