section(id='cards').cards.router-link 
section(id='cards').cards.rel
  .container
    ul.cards__body
    - var values = [

    ];

    each val in values
    li= val

.cards__card.inf-card
.inf-card__img 
svg
  use(xlink:href='#i-1')
.inf-card__title 
h3 Контроль ошибок по НДС
p.inf-card__text Регулярная проверка и контроль помогают предотвращать ошибки, связанные с НДС, что в свою очередь способствует соблюдению законодательных требований и уменьшению рисков финансовых потерь и штрафов.
.inf-card__
.inf-card__
.inf-card__
.inf-card__
.cards__
.cards__
.cards__
.cards__
