section(id='cards').cards.rel
  .container
    ul.cards__body
      -
        var blocks = [
          {
          src: '#i-1',
          title: 'Контроль ошибок по НДС',
          text: 'Регулярная проверка и контроль помогают предотвращать ошибки, связанные с НДС, что в свою очередь способствует соблюдению законодательных требований и уменьшению рисков финансовых потерь и штрафов.'
          },
          {
          src: '#i-2',
          title: 'Контроль ошибок в первичных документах',
          text: 'Регулярная проверка и контроль помогают предотвращать ошибки, связанные с НДС, что в свою очередь способствует соблюдению законодательных требований и уменьшению рисков финансовых потерь и штрафов.'
          },
          {
          src: '#i-3',
          title: 'Расчет и формирование регистров ЕСХН',
          text: 'Регулярная проверка и контроль помогают предотвращать ошибки, связанные с НДС, что в свою очередь способствует соблюдению законодательных требований и уменьшению рисков финансовых потерь и штрафов.'
          },
          {
          src: '#i-4',
          title: 'Актуальная отчетность АПК',
          text: 'Регулярная проверка и контроль помогают предотвращать ошибки, связанные с НДС, что в свою очередь способствует соблюдению законодательных требований и уменьшению рисков финансовых потерь и штрафов.'
          },
          {
          src: '#i-5',
          title: 'Электронный архив копий документов',
          text: 'Регулярная проверка и контроль помогают предотвращать ошибки, связанные с НДС, что в свою очередь способствует соблюдению законодательных требований и уменьшению рисков финансовых потерь и штрафов.'
          },
          {
          src: '#i-6',
          title: 'Распределение незавершенки',
          text: 'Регулярная проверка и контроль помогают предотвращать ошибки, связанные с НДС, что в свою очередь способствует соблюдению законодательных требований и уменьшению рисков финансовых потерь и штрафов.'
          },
          {
          src: '#i-7',
          title: 'Подготовка и проведение годовой инвентаризации',
          text: 'Регулярная проверка и контроль помогают предотвращать ошибки, связанные с НДС, что в свою очередь способствует соблюдению законодательных требований и уменьшению рисков финансовых потерь и штрафов.'
          },
        ];
      each block in blocks
        .cards__card.inf-card
          .inf-card__top
            svg.inf-card__img
              use(xlink:href=block.src)
            .inf-card__title 
              h3=block.title 
          p.inf-card__text=block.text 

