section(id='crambs').crambs.rel
  .container
    .crambs__body
      a(href="!#")
        svg
          use(xlink:href='#home-smile')
      svg
        use(xlink:href='#chevron-right')
      a(href="!#").crambs__link Каталог
      svg
        use(xlink:href='#chevron-right')
      a(href="!#").crambs__link Женская одежда
      svg
        use(xlink:href='#chevron-right')
      a(href="!#").crambs__link Белье
    .index-title 
      h1 Боди без рукавов, на широких бретелях


