section(id='book').book.rel
  .container
    .book__title
      h2 Пожалуйста, заполните анкету

    div.book-section
      form.book-section-form(action="#" name="book-form")
        .book-section-form__field
          .text-block
            .text-field
              input#firstname(type='text' name='firstname' value='' placeholder=' Denzel Washington')
              label.text-field__label(for='firstname') Имя Фамилия *
              

            
            //- .form-field.form-field--year
            //-     span.form-field__span Год рождения
            //-     #check-year._check
            //-     .form-field__area-svg
            //-       svg
            //-         use(xlink:href='#arrow-down')

          .text-block
            input#date-in(type='hidden' name='date-in')
            .form-field
              #check-in._check
              .form-field__area-svg
                svg
                  use(xlink:href='#arrow-down')
            input#date-out(type='hidden' name='date-out')
            .form-field
              #check-out._check
              .form-field__area-svg
                svg
                  use(xlink:href='#arrow-down')
            .form-field.form-field--select
              .select
                .dropdown-button
                  p Место проживания *
                  input(type="hidden" name='place' value="" )
                  span
                  .form-field__area-svg
                    svg
                      use(xlink:href='#arrow-down')
                ul.dropdown-list
                  -
                    var blocks = [
                      {text: 'коттеджи 2-х местные' },
                      {text: 'дом Лесника' },
                      {text: 'дом Охотника' },
                      {text: 'дом Рыбака №1' },
                      {text: 'дом Рыбака №2' },
                      {text: 'отель "Усадьба Фамилия"' },
                      {text: 'гостиница с зоной барбекю' },
                      {text: 'гостиница "Lafe-арена"' },
                      {text: 'SPA-отель' },
                      {text: 'VIP отель' },
                      {text: 'VIP дом №1' },
                      {text: 'VIP дом №2' },
                      {text: 'VIP дом №3' },
                    ];
                  each block in blocks
                    li.dropdown-list__item(data-value=block.text)=block.text
            span._text-block-span * Поля обязательные для заполнения

        include ./info.pug
        include ./choise.pug
        include ./contacts.pug
        .book-section-form__field.book-section-form__field--text
          p.form-fild-text Благодарим Вас <br class='_sm-visible'> за заполнение анкеты.
          p.form-fild-text Это поможет сделать ваш отдых именно таким как вы того желаете
          p.form-fild-text.form-fild-text--green Все пожелания и предложения вы можете сообщить по номеру телефона 
            a(href="#!") +7 (961)511-66-14


    //- h2(style='margin: 40px 0 0 0;') инпуту добавлен класс .input_invalid  
    //- .text-field
    //-   input#firstname(type='text' name='firstname' value='' placeholder=' Denzel Washington').input_invalid
    //-   label.text-field__label(for='firstname' ) Имя
    //-   span Поле обязательно для заполнения

    //- h2(style='margin: 40px 0 0 0;') инпуту добавлен класс .input_valid   
    //- .text-field
    //-   input#firstname(type='text' name='firstname' value="Джек Безз" placeholder=' Denzel Washington').input_valid
    //-   label.text-field__label(for='firstname') Имя
    //-   span Спасибо за предоствленную информацию!

