.book {
  &__title {
    margin: 24px 0 19px 0;
    h2 {
      @include Text-Style-12;
    }
  }
}

.book-section {
  &-form {
    h3 {
      @include Text-Style-37;
      margin: 18px 0 20px 0;
    }

    &__field {
      padding: 40px 0 27px 0;
      border-top: 1px solid $white-three;
      &--text {
        margin: 93px 0 193px 0;
        .form-fild-text {
          @include Text-Style-25;
          margin: 0 0 18px 0;
          &--green {
            @include Text-Style-26;
            margin: -6px 0 0 0;
          }
          a {
            margin: 10px 0 0 0;
          }
        }
      }
    }
    .text-block {
      display: table;
      width: 100%;
      margin: 0 0 58px 0;
      &:last-child {
        margin: 0 0 0 0;
        span._text-block-span {
          // position: absolute;
          // top: calc(100% + 10px);
          width: 100%;
          // left: 0;
          display: inline-block;
          @include Text-Style-32;
          opacity: 0.5;
        }
      }
    }

    .form-field {
      float: left;
      position: relative;
      margin: 0 20px 30px 0;

      // border: solid 1px #b4b4b4;
      // border-radius: 5px;
      @include transition;
      &:hover {
        // color: lighten($jungle-green, 25%);
        // border: solid 1px lighten($jungle-green, 25%);

        p,
        button p {
          color: lighten($jungle-green, 25%);
        }
        .form-field__area-svg {
          background: lighten($jungle-green, 45%);
        }
      }
    }

    .form-field {
      width: 182px;

      &:last-child {
        min-width: 320px;
      }
    }
    // ==================text-field======================
    .text-field {
      margin: 0 20px 30px 0;
      ._check {
        width: 100%;
        height: 100%;
        position: relative;
      }
      &:last-of-type {
        margin: 0;
      }
    }

    // =================form-field=======================

    .form-field {
      min-height: 50px;
      position: relative;
      box-sizing: content-box;
      @include transition;
      @include flex-column;
      padding: 0 0 0 20px;
      border: solid 1px #b4b4b4;
      border-radius: 5px;
      &._is-active {
        min-height: 75px;
      }
      &:hover {
        border: solid 1px lighten($jungle-green, 25%);
      }
      ._check {
        width: 100%;
        height: 100%;
        position: relative;
      }
      input {
        min-height: 50px;
        border: none;
        padding: 0 0 0 0;
        @include transition;
      }
      input:not(:placeholder-shown) {
        min-height: 0;
        opacity: 1;
        margin: 29px 0 10px;
      }
      p {
        @include Text-Style-31;
        @include transition;
        position: absolute;
        top: 50%;
        transform: translateY(-153%);
        z-index: -20;
        &._empty-data {
          transform: translateY(-50%);
        }
      }

      &__area-svg {
        z-index: -20;
        position: absolute;
        top: 50%;
        left: auto;
        right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: #eee;
        transform: translateY(-50%);
        @include flex-center;
        transition: all 0.2s;
        svg {
          width: 13px;
          height: 7px;
        }
      }
      &--select {
        min-width: 320px;
        padding: 0 0 0 0;
        .dropdown-button {
          width: 100%;
          min-height: 48px;
          p {
            @include Text-Style-31;
            position: relative;
            transform: translateY(0);
          }
        }
      }
      // &--year {
      //   max-width: 230px;
      //   input:not(:placeholder-shown) {
      //     padding: 7px 20px;
      //   }
      // }
    }
  }
}

@media (min-width: 768px) and (max-width: 833px) {
  .text-field {
    width: 100%;
    max-width: 350px;
    border: none;
  }
  .book-section-form .text-field,
  .book-section-form .form-field {
    clear: both;
  }
  .book-section-form .form-field {
    width: 328px;
    margin: 0 0 30px 0;
  }
  .book-section-form .form-field--select {
    width: 348px;
  }
  .book-section-form .form-field--select .dropdown-button {
    min-width: 348px;
  }
}

@media (max-width: 767px) {
  .book {
    &__title {
      display: none;
    }
  }
  .book-section-form__field {
    // max-width: 350px;
    border-top: none;
    width: 100%;
    padding: 33px 0 27px 0;

  }
  .book-section-form__field--text {
  margin: 100px 0 193px 0;
padding: 40px 0 27px 0;
}
  .book-section-form__field--text .form-fild-text {
  line-height: 29px;
  &--green {
  line-height: 24px;
    margin: 0 0 0 0;
}
}
.book-section-form__field--text .form-fild-text a {
  margin: 0 0 0 0;
}

  // .book-section-form .form-field {
  //   width: calc(100% - 20px);
  //   max-width: 350px;
  // }
  // .book-section-form__field {
  //   padding: 33px 0 42px 0;
  //   border-top: none;
  // }
  // .book-section-form__field--text .form-fild-text:first-child {
  //   padding: 0 20px;
  // }
  .book-section-form .text-field {
    width: 100%;
    max-width: 353px;
  }
  .book-section-form .text-field,
  .book-section-form .form-field {
    margin: 0 0 16px 0;
  }
  .book-section-form .form-field {
    width: calc(100% - 20px);
    max-width: 331px;
    min-width: 0;
  }
  .book-section-form .form-field--select {
    max-width: 351px;
    width: 100%;
  }
  .book-section-form .text-block {
    @include flex-column;
    width: 100%;
    margin: 0 0 58px 0;
  }

  // .book-section-form .form-field:last-child {
  //   width: 100%;
  //   max-width: 350px;
  //   min-width: 0;
  // }
  // .book-section-form .form-field--select .dropdown-button {
  //   max-width: 350px;
  //   width: 100%;
  //   min-width: 0;
  // }

  // .book-section-form__field--text {
  //   margin: 50px 0 12px 0;
  //   border-top: 1px solid #d4d4d4;
  //   padding: 91px 0 42px 0;
  // }
  // .book-section-form__field--text .form-fild-text {
  //   line-height: 29px;
  //   &--green {
  //     margin: 19px 0 0 0;
  //     line-height: 22px;
  //   }
  // }
  // .book-section-form__field--text .form-fild-text a {
  //   margin: 0px 0 0 0;
  // }
  // .book-section-form .form-field--select {
  //   min-width: 0px;
  //   width: 100%;
  //   padding: 0 0 0 0;
  // }
}
