.book-section-form__field.book-section-form__field--info
  .book-section-form__title 
    h3 Гостиничный комплекс
  .book-section-form-line
    p Вежливость и корректность персонала?
    ul.vidjets
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
  .book-section-form-line
    p Скорость и качество поселения, расчета, выселения?
    ul.vidjets
      li
        svg
          use(xlink:href='#Star-2')
      li
        svg
          use(xlink:href='#Star-2')
      li
        svg
          use(xlink:href='#Star-2')
      li
        svg
          use(xlink:href='#Star-2')
      li
        svg
          use(xlink:href='#Star-1')
  .book-section-form-line
    p Чистота в номере?
    ul.vidjets
      li
        svg
          use(xlink:href='#Star-2')
      li
        svg
          use(xlink:href='#Star-2')
      li
        svg
          use(xlink:href='#Star-2')
      li
        svg
          use(xlink:href='#Star-2')
      li
        svg
          use(xlink:href='#Star-2')
  .book-section-form-line
    p Внешний вид персонала гостиницы?
    ul.vidjets
      li
        svg
          use(xlink:href='#Star-2')
      li
        svg
          use(xlink:href='#Star-2')
      li
        svg
          use(xlink:href='#Star-2')
      li
        svg
          use(xlink:href='#Star-2')
      li
        svg
          use(xlink:href='#Star-1')
  .book-section-form-line.book-section-form-line--tiers
    p Имеет ли для Вас значение возможность посещение клуба с вашими питомцами?
    fildset.fildset-radio.fildset-radio--tiers
      input(type="radio" id="tieresyes" name='tieres' val='yes' checked)
      label(for="tieresyes")  Да
      span /
      input(type="radio" id="tieresnot" name='tieres' val='not')
      label(for="tieresnot")  Нет
  .book-section-form-line.book-section-form-line--text
    p Ваши предложения / пожелания
    textarea#form-line-1(name="form-line" row='20' placeholder="Введите текст")

//- ===========================

.book-section-form__field.book-section-form__field--info
  .book-section-form__title 
    h3 SPA комплекс
  .book-section-form-line
    p Ассортимент услуг spa комплекса
    ul.vidjets
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
  .book-section-form-line
    p Качество услуг spa комплекса
    ul.vidjets
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
  .book-section-form-line
    p Вежливость и корректность администратора
    ul.vidjets
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
  .book-section-form-line.book-section-form-line--text
    p Ваши предложения / пожелания
    textarea#form-line-2(name="form-line" placeholder="Введите текст")
//- ===========================

.book-section-form__field.book-section-form__field--info
  .book-section-form__title 
    h3 Ресторан
  .book-section-form-line
    p Качество обслуживание
    ul.vidjets
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
  .book-section-form-line
    p Качество блюд
    ul.vidjets
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
  .book-section-form-line
    p Соотношение цена/качество
    ul.vidjets
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
      li
        svg
          use(xlink:href='#Star-1')
  .book-section-form-line.book-section-form-line--text
    p Ваши предложения / пожелания
    textarea#form-line-3(name="form-line" placeholder="Введите текст")
//- ===========================

