.book-section-form__field.book-section-form__field--info
  .book-section-form__title 
    h3 Гостиничный комплекс
  .book-section-form-line
    p Вежливость и корректность персонала?
    ul.vidjets
      +rating("rating1")
  .book-section-form-line
    p Скорость и качество поселения, расчета, выселения?
    ul.vidjets
      +rating("rating2")
  .book-section-form-line
    p Чистота в номере?
    ul.vidjets
      +rating("rating3")
  .book-section-form-line
    p Внешний вид персонала гостиницы?
    ul.vidjets
      +rating("rating4")
  .book-section-form-line.book-section-form-line--tiers
    p Имеет ли для Вас значение возможность посещение клуба с вашими питомцами?
    fildset.fildset-radio.fildset-radio--tiers
      input(type="radio" id="tieresyes" name='tieres' value='yes' checked)
      label(for="tieresyes")  Да
      span /
      input(type="radio" id="tieresnot" name='tieres' value='not')
      label(for="tieresnot")  Нет
  .book-section-form-line.book-section-form-line--text
    p Ваши предложения / пожелания
    textarea#form-line-1(name="form-line-1" row='20' placeholder="Введите текст")

//- ===========================

.book-section-form__field.book-section-form__field--info
  .book-section-form__title 
    h3 SPA комплекс
  .book-section-form-line
    p Ассортимент услуг spa комплекса
    ul.vidjets
      +rating("rating5")
  .book-section-form-line
    p Качество услуг spa комплекса
    ul.vidjets
      +rating("rating6")
  .book-section-form-line
    p Вежливость и корректность администратора
    ul.vidjets
      +rating("rating7")
  .book-section-form-line.book-section-form-line--text
    p Ваши предложения / пожелания
    textarea#form-line-2(name="form-line-2" placeholder="Введите текст")
//- ===========================

.book-section-form__field.book-section-form__field--info
  .book-section-form__title 
    h3 Ресторан
  .book-section-form-line
    p Качество обслуживание
    ul.vidjets
      +rating("rating8")
  .book-section-form-line
    p Качество блюд
    ul.vidjets
      +rating("rating9")
  .book-section-form-line
    p Соотношение цена/качество
    ul.vidjets
      +rating("rating10")
  .book-section-form-line.book-section-form-line--text
    p Ваши предложения / пожелания
    textarea#form-line-3(name="form-line-3" placeholder="Введите текст")
//- ===========================

