header.header
  .container
    .header__body 
      a(href='#!').header__logo.logo 
        svg
          use(xlink:href='#logo')
      nav.header__menu.menu
        .header__close
          svg
            use(xlink:href='#x-lg')
        ul.menu__list
          li.menu__item.rel
            .menu__link.menu__link--active MARKETINGAS
          li.menu__item
            a.menu__link(href='#!' ) TINKLAPIAI
          li.menu__item
            a.menu__link(href='#!' ) MOKYMAI
          li.menu__item.rel
            a.menu__link(href='#!' ) ATSILIEPIMAI
          li.menu__item.rel
            a.menu__link(href='#!' ) Tinklaraštis
          li.menu__item.rel
            a.menu__link(href='#!' ) Karjera
          li.menu__item.rel
            a.menu__link(href='#!' ) Atvejai
      .header__info.info
        .fildset-radio.fildset-radio--tema
          input(type="radio" id="temadark" name='tema' value='not')
          label(for="temadark")  
            svg
              use(xlink:href='#night')
          input(type="radio" id="temalight" name='tema' value='yes' checked)
          label(for="temalight") 
            svg
              use(xlink:href='#sun') 
          span
        .header__burger
          span 
        button(type='button' value='Готово' rel="#popup1").popups-init-js.btn.btn-success.but-wave GAUTI PASIULYMA


