header.header#header
  .header__top.header-top
    .container 
      .header-top__body
        .select
          input(type="hidden" name="header_town")
          button(type="button").dropdown-button
            span Ростов-на-Дону
            svg
              use(xlink:href='#arrow')
            svg.icon
              use(xlink:href='#location')
          ul.dropdown-list
            .dropdown-list-wrap
              li.dropdown-list__item(data-value='Notes') Ростов-на-Дону
              li.dropdown-list__item(data-value='Notes') Mосква
              li.dropdown-list__item(data-value='Photo') Санкт Петербург
              li.dropdown-list__item(data-value='Dictionary') Сан Франциско
        a.link-phone(href="#!")._not-sm 8 800 100-01-03 
          span Обратный звонок
        a.link-oder(href="#!")._not-sm 
          svg
            use(xlink:href='#24_7')
          | Как сделать заказ
        a(href="#!") Аптеки
        a(href="#!")._not-sm Доставка
        a(href="#!").link-status Статус заказа
        .header__enter._not-sm
          a(href="#!") Вход
          span |
          a(href="#!") Регистрация

  .header__body.header-midl
    .container
      .header-midl__body
        a(href='#!').header__logo.logo
          svg
            use(xlink:href='#logo_apteka')

        .header__info.info
          form.form-input
            input#search1(type='text' placeholder='Поиск' name="" )
            label(for='search1') Поиск по названию, производителю, веществу, штрих-коду
            .form-input__submit
              input(type='submit')
              svg
                use(xlink:href='#search')
          ul.info__links
            li._not-sm
              a(href='#!' ).info__link 
                svg
                  use(xlink:href='#clipboards')
                |Заказы
            li._visible-sm
              a(href='#!' ).info__link 
                svg
                  use(xlink:href='#search')
            li._visible-sm
              a(href='#!' ).info__link 
                svg
                  use(xlink:href='#phone-call')
            li._not-sm
              a(href='#!' ).info__link 
                svg
                  use(xlink:href='#like')
                |Избранное
            li
              a(href='#!' ).info__link
                svg
                  use(xlink:href='#shopping-cart')
                span._not-sm
                  | Корзина


    .header__burger.icon
      svg
        use(xlink:href='#list')

  //- .header__low
  //-   .header__close
  //-     svg
  //-       use(xlink:href='#x-lg')
  //-   .container
  //-     .header__menu.menu
  //-       section(id='side-menu').smenu
  //-         .smenu__body
  //-           ._smenu-js.rel 
  //-             .smenu__item._smenu-item-js 
  //-               .smenu__title._smenu-title-js.smenu__title--main 
  //-                 .smenu__burger 
  //-                   span
  //-                 span  Каталог товаров

  //-               .smenu__hidden._smenu-hidden-js
  //-                 .smenu__wrap
  //-                   ._smenu-js
  //-                     .smenu__item._smenu-item-js 
  //-                       .smenu__title._smenu-title-js._smenu-sub-title-js
  //-                         span  title1
  //-                         svg
  //-                           use(xlink:href='#arrow')
  //-                       .smenu__hidden._smenu-sub-hidden-js
  //-                         .smenu__wrap
  //-                           ._smenu-js
  //-                             .smenu__item._smenu-item-js 
  //-                               .smenu__title._smenu-title-js._smenu-sub-title-js 
  //-                                 span sub title1
  //-                                 svg
  //-                                   use(xlink:href='#arrow')
  //-                               .smenu__hidden._smenu-sub-hidden-js
  //-                                 .smenu__wrap
  //-                                   ._smenu-js
  //-                                     .smenu__item._smenu-item-js 
  //-                                       .smenu__title._smenu-title-js 
  //-                                         span sub title111
  //-                                     .smenu__item._smenu-item-js 
  //-                                       .smenu__title._smenu-title-js 
  //-                                         span sub title222
  //-                                     .smenu__item._smenu-item-js 
  //-                                       .smenu__title._smenu-title-js 
  //-                                         span sub title333
  //-                                     .smenu__item._smenu-item-js 
  //-                                       .smenu__title._smenu-title-js 
  //-                                         span sub title444
  //-                             .smenu__item._smenu-item-js 
  //-                               .smenu__title._smenu-title-js._smenu-sub-title-js 
  //-                                 span sub title1
  //-                     .smenu__item._smenu-item-js 
  //-                       .smenu__title._smenu-title-js 
  //-                         span  title2
  //-                     .smenu__item._smenu-item-js 
  //-                       .smenu__title._smenu-title-js 
  //-                         span  title3
  //-                     .smenu__item._smenu-item-js 
  //-                       .smenu__title._smenu-title-js 
  //-                         span  title4
  //-       ul.menu__list
  //-         li.menu__item
  //-           a.menu__link(href='#!' rel='#posts') Акции
  //-         li.menu__item
  //-           a.menu__link(href='#!' rel='#galery') Товар дня
  //-         li.menu__item
  //-           a.menu__link.menu__link--cherry(href='#!' rel='#galery') %Распродажа
  //-         li.menu__item
  //-           a.menu__link(href='#!' rel='#galery') аптечка
  //-         li.menu__item
  //-           a.menu__link(href='#!' rel='#galery') Программа лольности
  //-         li.menu__item
  //-           a.menu__link(href='#!' rel='#galery') О компании



