.header {
  z-index: 50;
  @include transition;
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  border: 1px solid transparent;
  padding: 34px 0 5px 0;
}

.header .container {
  height: 100%;
}

.header__body {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 128px auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__burger {
  min-width: 28px;
  height: 26px;
  position: relative;
  cursor: pointer;
  position: absolute;
  transform: translate(0%, -50%) rotate(0);
  display: inline-block;
  right: 259px;
  top: 50%;
  span {
    display: inline-block;
    width: 28px;
    height: 6px;
    background-color: $periwinkle;
    border-radius: 6px;
    position: absolute;
    width: 28px;
    height: 6px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  &::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 6px;
    background-color: $periwinkle;
    border-radius: 6px;
    top: 0%;
    left: 0;
    @include transition;
  }
  &::before {
    @include transition;
    content: "";
    position: absolute;
    width: 28px;
    height: 6px;
    background-color: $periwinkle;
    border-radius: 6px;
    bottom: 0%;
    left: 0;
  }
  &._is-active {
    &::after {
      transform: translateX(40%);
    }
    &::before {
      transform: translateX(-40%);
    }
  }
}

.header__close {
  display: none;
}
.header__button {
  padding: 5px 10px;
}
/*=====================*/
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0 10px;
  img {
    height: 40px;
    width: 40px;
  }
}

/*=====================*/
.header__menu {
  position: relative;
  position: absolute;
  top: 116px;
  left: 86px;
}
.menu {
  max-height: 60px;
  height: 60px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: rgba(138, 122, 255, 0.2);
  padding: 0 20px;
  opacity: 0;
  visibility: hidden;
  @include transition;
  &.active-menu {
    opacity: 1;
    top: 65px;
    visibility: visible;
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.menu__item {
  display: flex;
  align-items: center;
  height: 100%;
  /* border: 1px solid transparent; */
  margin: 0 10px 0 0;
}

.menu__link {
  padding: 0 10px;
  @include transition;
  text-transform: uppercase;
  color: rgb(253, 253, 253);
  cursor: pointer;
  @include Text-Style;

  &:hover {
    color: lighten($sandy-yellow, 20%);
  }

  &--active {
    color: $sandy-yellow;
  }
}
.fildset-radio--tema {
  z-index: 1001;
  position: absolute;
  right: 319px;
}
/*=====================*/
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 115px;
}

// ==========================================
.responciveHeader {
  position: fixed;
  width: 100%;
  background: rgba(15, 18, 22, 0.65);
  border: 1px solid #1e2329;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(15px);
  padding: 5px 0 5px 0;
}

@media (min-width: 768px) and (max-width: 998px) {
  .menu {
    max-height: 1060px;
    height: auto;
    background-color: rgba(138, 122, 255, 0.4);
    .menu__list {
      justify-content: center;
      flex-direction: column;
      row-gap: 20px;
      padding: 20px 0;
    }
    &.active-menu {
      top: 65px;
    }
  }
  .header__menu {
    position: relative;
    position: absolute;
    top: 116px;
    left: 60%;
  }
}

/*===========*/

@media (max-width: 767px) {
  .header {
    height: 60px;
    padding: 0 0 0 0;
    .logo {
      width: 85px;
      height: 37px;
    }
  }
  .header__body {
    grid-template-columns: 1fr;
  }

  .header__menu {
    margin: 0;
    padding: 60px 20px 0 20px;
    visibility: visible;
    &._is-active {
      opacity: 1;
      border-radius: 0;

      .menu__list {
        height: auto;
      }
    }
  }
  .header__burger {
    height: 20px;
    &._is-active {
      top: 33%;
      z-index: 1026;
    }
  }
  .header__burger::after,
  .header__burger::before,
  .header__burger span {
    height: 3px;
  }
  .fildset-radio--tema {
    right: 60px;
  }
  .header__burger {
    left: auto;
    top: 50%;
    right: 0;
  }
  .header__close {
    left: auto;
    top: 29px;
    right: 41px;
  }
  .logo__link img {
    height: 30px;
    width: 30px;
  }

  .header__menu {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    transform: translateX(-100vw);
    left: 0;
    padding: 100px 20px 0 20px;
    overflow: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(15px);
    z-index: 1000;
    @include transition;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-end;
  }

  ._is-active {
    transform: translateX(0);
  }

  .info {
    display: none !important;
  }

  .info.info-active {
    display: flex !important;
    @include transition;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 0px;
    row-gap: 20px;
  }

  .menu-active .menu__link {
    padding: 0 0 0 0;
  }

  .menu__item {
    margin: 0 0 20px 0;
    width: 100%;
    justify-content: flex-end;
  }

  .menu__item:last-child {
    margin: 0 0 30px 0;
  }
}
