.header {
  z-index: 50;
  @include transition;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  // background-image: url("/dist/img/img-1.png")
}

.header .container {
  height: 100%;
}

.header__body {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  width: 100%;
  gap: 0 20px;
  justify-content: space-between;
}

.header__burger {
  display: none;
}

.header__close {
  display: none;
}
.header__button {
  padding: 5px 10px;
}
/*=====================*/
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0 10px;
  svg {
    height: 40px;
    width: 40px;
  }
}

/*=====================*/
.header__menu {
  margin: 0 30px 0 30px;
  position: relative;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.menu__item {
  display: flex;
  align-items: center;
  height: 100%;
  /* border: 1px solid transparent; */
  margin: 0 10px 0 0;
}

.menu__link {
  padding: 0 10px;
  @include transition;
  text-transform: uppercase;
  color: rgb(253, 253, 253);
  cursor: pointer;
  svg {
    width: 15px;
    height: 15px;
    @include transition;
    fill: white;
    margin: 0 0 0 10px;
  }

  &:hover {
    color: lighten(green, 25%);
  }

  &--active {
    background: green;
  }

  &._is-active {
    & ~ .menu-tab {
      background-color: black;
      max-height: 190px;
      height: 190px;
      outline: solid 1px rgb(165, 10, 10);
      animation: pul 0.3s linear;
      animation-fill-mode: forwards;

      .smenu__item:hover {
        & > .smenu-title-js {
          background: rgb(147, 240, 185);
          svg {
            transform: rotate(90deg);
          }
        }
        & > .smenu__hidden {
          animation: pulse 0.3s linear;
          animation-fill-mode: forwards;
        }
      }
    }
    svg {
      transform: rotate(180deg);
    }
  }
}

@keyframes pul {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}

.menu__tab {
  transition: all 0.3s;
  overflow: hidden;
  position: absolute;
  width: 247px;
  height: 148px;
  bottom: 0px;
  top: 80px;
  max-height: 0;
  border: solid 1px transparent;
}

.menu-tab {
  &__item {
    font-size: 14px;
    font-weight: 600;
    color: white;
    min-height: 36px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    @include transition;
    &:hover {
      background-color: rgb(54, 54, 56);
      color: rgb(109, 181, 240);
    }
  }
  .smenu__body {
    width: 100%;
  }
}

/*=====================*/
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__search {
  display: flex;
  align-items: center;
  height: 25px;
  min-width: 25px;
  position: relative;
  margin: 0 0 0 10px;
  justify-content: space-between;
}

.info__search input[type="text"] {
  height: 100%;
  padding: 0 0 0 10px;
  background: #fff;
}

.info__search input[type="submit"] {
  width: 35px;
  height: 23px;
  font-size: 0;
  background: lighten(green, 65%);
  border: none;
  border-radius: 0;
  z-index: 10;
  position: absolute;
  top: 1px;
  left: auto;
  right: 1px;

  & + svg {
    display: block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: auto;
    transform: translate(-33%, -50%);
    right: 5px;
    // opacity: 0.4;
    z-index: 15;
    @include transition;
    &:hover {
      fill: lighten(green, 25%);
    }
  }
  &:hover {
    & + svg {
      fill: lighten(green, 25%);
    }
  }
}

.info__phone {
  white-space: nowrap;
}
// ==========================================
.responciveHeader {
  position: fixed;
  width: 100%;
  height: 70px;
  background: rgba(15, 18, 22, 0.65);
  border: 1px solid #1e2329;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(15px);
}

.responciveHeader .menu__link {
  // color: rgb(15, 15, 15);
}

.responciveHeader .menu__link--active {
}

.responciveHeader .info__phone {
}

/*=========@media==============*/

@media (min-width: 1000px) and (max-width: 1199px) {
  .header {
    height: 60px;
  }

  .header__body {
    grid-template-columns: 100px 1fr minmax(260px, auto);
  }

  .info__phone {
    margin: 0 0 10px 0;
  }

  .header__menu {
    margin: 0 20px 0 0;
  }

  .info__search {
    margin: 0;
  }

  .info {
    padding: 0 0 0 0;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

/*===========*/

@media (max-width: 999px) {
  .header {
    height: 60px;
  }
  .header__body {
    grid-template-columns: 100px 1fr;
  }
  .header__menu {
    margin: 0;
  }
  .header__burger,
  .header__close {
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translate(0%, -50%) rotate(0);
    display: inline-block;
    cursor: pointer;
    svg {
      width: 100%;
      height: 100%;
      @include transition;
      stroke: #fff;
      position: absolute;
    }
    &:hover {
      svg {
        opacity: 0.6;
      }
    }
  }
  .header__burger {
    left: auto;
    top: 50%;
    right: 0;
  }
  .header__close {
    left: auto;
    top: 29px;
    right: 41px;
  }
  .logo__link img {
    height: 30px;
    width: 30px;
  }

  .header__menu {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    transform: translateX(-100vw);
    left: 0;
    padding: 100px 20px 0 20px;
    overflow: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(15px);
    z-index: 1000;
    @include transition;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-active {
    transform: translateX(0);
  }

  .info {
    display: none !important;
  }

  .info.info-active {
    display: block !important;
    @include transition;
  }

  .info__search {
    margin: 50px 0 0;
  }

  .info__search input[type="text"] {
    width: 100%;
  }

  .menu-active .menu__link {
    border-radius: 10px;
    padding: 5px;
    background: transparent;
    &--active {
      color: green;
      background: lighten(green, 65%);
    }
  }

  .menu__item {
    margin: 0 0 20px 0;
    width: 100%;
    justify-content: flex-end;
  }

  .menu__item:last-child {
    margin: 0 0 30px 0;
  }
}
