.header {
  z-index: 50;
  @include transition;
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  border: 1px solid transparent;
  padding: 34px 0 5px 0;
}

.header .container {
  height: 100%;
}

.header__body {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 128px auto;
  width: 100%;
  justify-content: space-between;
}

.header__burger {
  min-width: 28px;
  height: 26px;
  position: relative;
  cursor: pointer;
  span {
    display: inline-block;
    width: 28px;
    height: 6px;
    background-color: $periwinkle;
    border-radius: 6px;
    position: absolute;
    width: 28px;
    height: 6px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  &::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 6px;
    background-color: $periwinkle;
    border-radius: 6px;
    top: 0%;
    left: 0;
    @include transition;
  }
  &::before {
    @include transition;
    content: "";
    position: absolute;
    width: 28px;
    height: 6px;
    background-color: $periwinkle;
    border-radius: 6px;
    bottom: 0%;
    left: 0;
  }
  &._is-active {
    &::after {
      transform: translateX(40%);
    }
    &::before {
      transform: translateX(-40%);
    }
  }
}

.header__close {
  display: none;
}
.header__button {
  padding: 5px 10px;
}
/*=====================*/
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0 10px;
  img {
    height: 40px;
    width: 40px;
  }
}

/*=====================*/
.header__menu {
  position: relative;
  position: absolute;
  top: 30px;
  left: 86px;
}
.menu {
  max-height: 60px;
  height: 60px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: rgba(138, 122, 255, 0.2);
  padding: 0 20px;
  opacity: 0;
  @include transition;
  &._is-active {
    opacity: 1;
    top: 70px;
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.menu__item {
  display: flex;
  align-items: center;
  height: 100%;
  /* border: 1px solid transparent; */
  margin: 0 10px 0 0;
}

.menu__link {
  padding: 0 10px;
  @include transition;
  text-transform: uppercase;
  color: rgb(253, 253, 253);
  cursor: pointer;
  @include Text-Style;

  &:hover {
    color: lighten($sandy-yellow, 20%);
  }

  &--active {
    color: $sandy-yellow;
  }
}

/*=====================*/
.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 60px;
}

// ==========================================
.responciveHeader {
  position: fixed;
  width: 100%;
  background: rgba(15, 18, 22, 0.65);
  border: 1px solid #1e2329;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(15px);
}

.responciveHeader .menu__link {
  // color: rgb(15, 15, 15);
}

.responciveHeader .menu__link--active {
}

.responciveHeader .info__phone {
}

/*=========@media==============*/

@media (min-width: 1000px) and (max-width: 1199px) {
  .header {
    height: 60px;
  }

  .header__body {
    grid-template-columns: 100px 1fr minmax(260px, auto);
  }

  .info__phone {
    margin: 0 0 10px 0;
  }

  .header__menu {
    margin: 0 20px 0 0;
  }

  .info__search {
    margin: 0;
  }

  .info {
    padding: 0 0 0 0;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

/*===========*/

@media (max-width: 999px) {
  .header {
    height: 60px;
  }
  .header__body {
    grid-template-columns: 100px 1fr;
  }
  .header__menu {
    margin: 0;
  }
  .header__burger,
  .header__close {
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translate(0%, -50%) rotate(0);
    display: inline-block;
    cursor: pointer;
    svg {
      width: 100%;
      height: 100%;
      @include transition;
      stroke: #fff;
      position: absolute;
    }
    &:hover {
      svg {
        opacity: 0.6;
      }
    }
  }
  .header__burger {
    left: auto;
    top: 50%;
    right: 0;
  }
  .header__close {
    left: auto;
    top: 29px;
    right: 41px;
  }
  .logo__link img {
    height: 30px;
    width: 30px;
  }

  .header__menu {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    transform: translateX(-100vw);
    left: 0;
    padding: 100px 20px 0 20px;
    overflow: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(15px);
    z-index: 1000;
    @include transition;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-active {
    transform: translateX(0);
  }

  .info {
    display: none !important;
  }

  .info.info-active {
    display: block !important;
    @include transition;
  }

  .info__search {
    margin: 50px 0 0;
  }

  .info__search input[type="text"] {
    width: 100%;
  }

  .menu-active .menu__link {
    border-radius: 10px;
    padding: 5px;
    background: transparent;
    &--active {
      color: green;
      background: lighten(green, 65%);
    }
  }

  .menu__item {
    margin: 0 0 20px 0;
    width: 100%;
    justify-content: flex-end;
  }

  .menu__item:last-child {
    margin: 0 0 30px 0;
  }
}
