header.header
    .container
      .header__top 
        a(href='#!').header__logo.logo
            svg
              use(xlink:href='#logo')
            p Усадьба «Фамилия»
              span клуб загородного отдыха

        ul.header__info.info
          li 
            svg
              use(xlink:href='#image')
            .info__text Краснодарский край, Динской р-н, ст. Пластуновская
          li 
            svg
              use(xlink:href='#vk')
            a(href='#!' ) ysadbaclub

            svg
              use(xlink:href='#telegram')
            a(href='#!' ) @ysadbafamiliya
          li 
            svg
              use(xlink:href='#image')
            a(href='#!' ) 8 800 500 10 60
              p Заказать звонок

    .header__menu.menu
      .container
        ul.menu__list
          li.menu__item.rel
            a(href="#!").menu__link.menu-link-js.menu__link--active  Проживание
          li.menu__item.rel
            a(href="#!").menu__link.menu-link-js.menu__link--active  Spa
          li.menu__item.rel
            a(href="#!").menu__link.menu-link-js.menu__link--active  Ресторанный комплекс
          li.menu__item.rel
            a(href="#!").menu__link.menu-link-js.menu__link--active  Отдых
          li.menu__item.rel
            a(href="#!").menu__link.menu-link-js.menu__link--active  Спорт
          li.menu__item.rel
            a(href="#!").menu__link.menu-link-js.menu__link--active  Конный клуб
          li.menu__item.rel
            a(href="#!").menu__link.menu-link-js.menu__link--active  LIFE-Арена
          li.menu__item.rel
            a(href="#!").menu__link.menu-link-js.menu__link--active  Корпоративы
          li.menu__item.rel
            a(href="#!").menu__link.menu-link-js.menu__link--active  Оплата Online

    .header__burger.icon
        svg
          use(xlink:href='#list')
    .header__close
          svg
            use(xlink:href='#x-lg')
