.header {
  z-index: 50;
  @include transition;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  // background-image: url("/dist/img/img-1.png")
}

.header-top {
  background-color: $white;
  min-height: 40px;

  &__body {
    @include flex-aligne-center;
    .select {
      max-width: 150px;
      .dropdown-button {
        padding: 0 0 0 16px;
        background-color: $white;
        span {
          line-height: 24px;
        }
        svg.icon {
          width: 9px;
          height: 12px;
          fill: $emerald;
          left: 0;
          top: 50%;
          transform: translateY(-50%) rotate(0deg);
        }
        svg {
          fill: $emerald;
        }
        &:hover {
          svg {
            fill: $hover;
          }
        }
      }
      .dropdown-list {
        z-index: 100;
      }
    }
    a {
      @include Text-Style;
      @include flex-aligne-center;
      white-space: nowrap;
      margin: 0 15px 0 0px;
      &:hover {
        color: $hover;
      }
      &.link-phone {
        @include Text-Style-6;
        margin: 0 0 0 15px;
        span {
          margin: 0 0 0 10px;
          color: #4c4c4c;
          font-family: "HouschkaPro-DemiBold", sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration: dashed !important;
          @include transition;
        }
        &:hover {
          color: $hover;
          span {
            color: $hover;
          }
        }
      }
      &.link-oder {
        margin: 0 15px 0 60px;
        &:hover {
          color: $hover;
        }
        svg {
          width: 20px;
          height: 20px;
          margin: 0 5px 0 0;
        }
      }
      &.link-status {
        &:hover {
          color: $hover;
        }
        margin: 0 0 0 60px;
        @include Text-Style-2;
      }
    }
  }
}

.header__enter {
  background-color: $white-two;
  min-width: 192px;
  height: 40px;
  margin: 0 0 0 auto;
  @include flex-center;
  a {
    @include Text-Style-3;
    &:hover {
      color: $hover;
    }
  }
  span {
    color: #9a9696;
    margin: 0 5px;
  }
}
.header .container {
  height: 100%;
}

.header__burger {
  display: none;
}

.header__close {
  display: none;
}
.header__button {
  padding: 5px 10px;
}
/*=====================*/
.logo {
  svg {
    width: 233px;
    height: 67px;
  }
}

/*=====================*/
.header__low {
  background-color: $white-three;
  min-height: 76px;
  @include flex-aligne-center;
}
.header__menu {
}
.menu {
  display: grid;
  grid-template-columns: 190px 1fr;
  column-gap: 96px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.menu__item {
  display: flex;
  align-items: center;
  height: 100%;
  a {
    color: #434141;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    &:hover {
      color: $hover;
    }
    &.menu__link--cherry {
      color: $cherry;
      &:hover {
        color: lighten($cherry, 20%);
      }
    }
  }
}

// .menu__link {
//   padding: 0 10px;
//   @include transition;
//   text-transform: uppercase;
//   color: rgb(253, 253, 253);
//   cursor: pointer;
//   svg {
//     width: 15px;
//     height: 15px;
//     @include transition;
//     fill: white;
//     margin: 0 0 0 10px;
//   }

//   &:hover {
//     color: lighten(green, 25%);
//   }

//   &--active {
//     background: green;
//   }

// &._is-active {
//   & ~ .menu-tab {
//     background-color: black;
//     max-height: 190px;
//     height: 190px;
//     outline: solid 1px rgb(165, 10, 10);
//     animation: pul 0.3s linear;
//     animation-fill-mode: forwards;

//     .smenu__item:hover {
//       & > .smenu-title-js {
//         background: rgb(147, 240, 185);
//         svg {
//           transform: rotate(90deg);
//         }
//       }
//       & > .smenu__hidden {
//         animation: pulse 0.3s linear;
//         animation-fill-mode: forwards;
//       }
//     }
//   }
//   svg {
//     transform: rotate(180deg);
//   }
// }
// }

// @keyframes pul {
//   0% {
//     overflow: hidden;
//   }
//   99% {
//     overflow: hidden;
//   }
//   100% {
//     overflow: visible;
//   }
// }

// .menu__tab {
//   transition: all 0.3s;
//   overflow: hidden;
//   position: absolute;
//   width: 247px;
//   height: 148px;
//   bottom: 0px;
//   top: 80px;
//   max-height: 0;
//   border: solid 1px transparent;
// }

// .menu-tab {
//   &__item {
//     font-size: 14px;
//     font-weight: 600;
//     color: white;
//     min-height: 36px;
//     padding: 0 20px;
//     display: flex;
//     align-items: center;
//     @include transition;
//     &:hover {
//       background-color: rgb(54, 54, 56);
//       color: rgb(109, 181, 240);
//     }
//   }
//   .smenu__body {
//     width: 100%;
//   }
// }

/*=====================*/
.header-midl {
  min-height: 120px;
  background-color: $emerald;
  &__body {
    position: relative;
    display: grid;
    grid-template-columns: 233px 1fr;
    width: 100%;
    height: 100%;
    min-height: 120px;
    gap: 0 55px;
    justify-content: space-between;
    align-items: center;
  }
}

.info {
  display: grid;
  grid-template-columns: 568px 1fr;
  align-items: center;
  justify-content: space-between;
  column-gap: 54px;
  .form-input {
    width: 568px;
    height: 36px;
  }
  &__links {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: 20px;
    justify-content: space-between;
  }
  &__link {
    @include flex-column;
    @include transition;
    align-items: center;
    row-gap: 10px;
    svg {
      width: 30px;
      height: 30px;
      fill: $white-three;
      @include transition;
    }
    @include Text-Style-4;
    &:hover {
      color: $hover;
      svg {
        fill: $hover;
      }
    }
  }
}

// ==========================================
.responciveHeader {
  position: fixed;
  width: 100%;
  height: 70px;
  background: rgba(15, 18, 22, 0.65);
  border: 1px solid #1e2329;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(15px);
}

/*=========@media==============*/
._not-sm {
  display: flex !important;
}
._visible-sm {
  display: none !important;
}

@media (min-width: 768px) and (max-width: 1199px) {
}
@media (max-width: 767px) {
  ._not-sm {
    display: none !important;
  }
  ._visible-sm {
    display: flex !important;
  }
  .logo svg {
    width: 130px;
    height: 40px;
  }
  .header-midl,
  .header-midl__body {
    min-height: 70px;
    height: 70px;
    gap: 0 16px;
  }
  .header-midl__body {
    grid-template-columns: 130px 1fr;
  }
  .info__links {
    grid-template-columns: repeat(3, max-content);
    column-gap: 16px;
    justify-content: start;
  }
}

// @media (min-width: 1000px) and (max-width: 1199px) {
//   .header {
//     height: 60px;
//   }

//   .header__body {
//     grid-template-columns: 100px 1fr minmax(260px, auto);
//   }

//   .info__phone {
//     margin: 0 0 10px 0;
//   }

//   .header__menu {
//     margin: 0 20px 0 0;
//   }

//   .info__search {
//     margin: 0;
//   }

//   .info {
//     padding: 0 0 0 0;
//     flex-direction: column;
//     justify-content: center;
//     flex-wrap: nowrap;
//   }
// }

// /*===========*/

// @media (max-width: 999px) {
//   .header {
//     height: 60px;
//   }
//   .header__body {
//     grid-template-columns: 100px 1fr;
//   }
//   .header__menu {
//     margin: 0;
//   }
//   .header__burger,
//   .header__close {
//     position: absolute;
//     width: 20px;
//     height: 20px;
//     transform: translate(0%, -50%) rotate(0);
//     display: inline-block;
//     cursor: pointer;
//     svg {
//       width: 100%;
//       height: 100%;
//       @include transition;
//       stroke: #fff;
//       position: absolute;
//     }
//     &:hover {
//       svg {
//         opacity: 0.6;
//       }
//     }
//   }
//   .header__burger {
//     left: auto;
//     top: 50%;
//     right: 0;
//   }
//   .header__close {
//     left: auto;
//     top: 29px;
//     right: 41px;
//   }
//   .logo__link img {
//     height: 30px;
//     width: 30px;
//   }

//   .header__menu {
//     width: 100vw;
//     min-height: 100vh;
//     position: fixed;
//     top: 0;
//     transform: translateX(-100vw);
//     left: 0;
//     padding: 100px 20px 0 20px;
//     overflow: auto;
//     text-align: right;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: flex-end;
//     background: rgba(0, 0, 0, 0.75);
//     backdrop-filter: blur(15px);
//     z-index: 1000;
//     @include transition;
//   }

//   .menu__list {
//     flex-direction: column;
//     align-items: flex-end;
//   }

//   .menu-active {
//     transform: translateX(0);
//   }

//   .info {
//     display: none !important;
//   }

//   .info.info-active {
//     display: block !important;
//     @include transition;
//   }

//   .info__search {
//     margin: 50px 0 0;
//   }

//   .info__search input[type="text"] {
//     width: 100%;
//   }

//   .menu-active .menu__link {
//     border-radius: 10px;
//     padding: 5px;
//     background: transparent;
//     &--active {
//       color: green;
//       background: lighten(green, 65%);
//     }
//   }

//   .menu__item {
//     margin: 0 0 20px 0;
//     width: 100%;
//     justify-content: flex-end;
//   }

//   .menu__item:last-child {
//     margin: 0 0 30px 0;
//   }
// }
