.header {
  z-index: 50;
  @include transition;
  width: 100%;
  @include flex-column;
}

.header .container {
  height: 100%;
}

.header__top {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 280px 1fr;
  width: 100%;
  gap: 0 51px;
  justify-content: space-between;
  padding: 5px 0;
}

.header__burger {
  display: none;
}

.header__close {
  display: none;
}

.header-button {
  width: 227px;
  height: 42px;
  border-radius: 10px;
  border: solid 1px $white-16;
  background-color: $jungle-green;
}

.header__book {
}
.header-book {
  @include flex-aligne-center;
  column-gap: 33px;
  padding: 24px 0;
  &__items {
    display: table;
    .form-field {
      width: 241px;
      margin: 0 18px 0px 0;
      float: left;
      min-height: 40px;
      &--rooms {
        width: 178px;
        margin: 0 0 0px 0;
      }
      p {
        @include Text-Style-7;
        padding: 0px 0px 0px 12px;
        transform: translateY(-127%);
        opacity: 1;
        &._empty-data {
          transform: translateY(-50%);
        }
      }
      input {
        padding: 0 0 0 12px;
        min-height: 40px;
        &:not(:placeholder-shown) {
          @include Text-Style-8;
          line-height: 17px;
          min-height: 0px;
          padding: 20px 0px 0px 12px;
        }
      }
      &:hover {
        p {
          color: lighten($jungle-green, 25%);
        }
      }
    }
  }
  &__title {
    h3 {
      @include Text-Style-6;
    }
  }
}
/*=====================*/
.logo {
  display: grid;
  grid-template-columns: 68px 207px;
  column-gap: 16px;
  align-items: center;
  img {
    height: 76px;
    width: 68px;
  }
  p {
    @include Text-Style;
    letter-spacing: -0.015rem;
    span {
      display: block;
      @include Text-Style-2;
    }
  }
}
/*=====================*/
.info {
  display: grid;
  grid-template-columns: 280px repeat(2, 1fr);
  column-gap: 54px;
  li {
    @include flex-aligne-center;
    column-gap: 33px;
    cursor: pointer;
    &:nth-child(2) {
      margin: -11px 0 0 0;
      padding: 0 0 0 28px;
      column-gap: 22px;
    }
    p,
    svg {
      @include transition;
    }

    svg {
      width: 34px;
      min-width: 34px;
      height: 33px;
      fill: $jungle-green;
      position: relative;
      &#cerckle {
        position: absolute;
        fill: transparent;
        stroke: $jungle-green;
      }
      &#locale {
        min-width: 1px;
        height: 13px;
        transform: translateX(5px);
      }
    }

    .info__text {
      @include Text-Style-3;
    }

    a {
      @include Text-Style-4;
    }
    &:nth-child(1),
    &:nth-child(3) {
      &:hover p,
      &:hover a,
      &:hover svg {
        color: lighten($jungle-green, 25%);
        fill: lighten($jungle-green, 25%);
      }

      &:hover #cerckle {
        fill: transparent;
        stroke: lighten($jungle-green, 25%);
      }
    }
    &:nth-child(2) {
      svg {
        width: 17px;
        min-width: 17px;
        height: 17px;
      }
      .info__block {
        @include flex-aligne-center;
        column-gap: 5px;
        &:hover a {
          color: lighten($jungle-green, 25%);
        }

        &:hover svg {
          fill: lighten($jungle-green, 25%);
        }
      }
    }
    &:nth-child(3) {
      justify-self: end;
      column-gap: 11px;
      a {
        @include Text-Style-5;
        p {
          @include Text-Style-4;
        }
      }
    }
  }
}
/*=====================*/
.header__menu {
  position: relative;
  background-color: $dark-sea-green;
}

.menu__list {
  padding: 11px 62px;
  @include flex-aligne-center;
  justify-content: space-between;
}
.menu__item {
  display: inline-block;
  height: 100%;
}

.menu__link {
  @include Text-Style-49;
  @include transition;
  color: rgb(253, 253, 253);
  cursor: pointer;

  &:hover {
  }

  &--active {
  }

  &._is-active {
  }
}

/*=========@media==============*/

// @media (min-width: 1000px) and (max-width: 1199px) {
//   .header {
//     height: 60px;
//   }

//   .header__top {
//     grid-template-columns: 100px 1fr minmax(260px, auto);
//   }

//   .header__menu {
//     margin: 0 20px 0 0;
//   }

//   .info {
//     padding: 0 0 0 0;
//     flex-direction: column;
//     justify-content: center;
//     flex-wrap: nowrap;
//   }
// }

/*===========*/

@media (max-width: 767px) {
  .header {
  }
  .logo {
    grid-template-columns: 68px 207px;
    z-index: 100;
  }

  .header-book {
    display: none;
  }

  .header__top {
    grid-template-columns: 1fr;
    padding: 0 0 0 0;
  }

  .header__burger {
    display: inline-block;
    position: relative;
    position: absolute;
    top: 38px;
    width: 34px;
    height: 30px;
    transform: translateY(-50%);
    left: auto;
    right: 0px;
    z-index: 110;
    cursor: pointer;
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      width: 34px;
      height: 3px;
      background: $jungle-green;
      @include transition;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 34px;
      height: 3px;
      background: $jungle-green;
      @include transition;
    }
    &::after {
      top: 0;
      left: 0;
    }
    &::before {
      bottom: 0;
      left: 0;
    }
    &:hover {
      span,
      &::after,
      &::before {
        background: lighten($jungle-green, 25%);
      }
    }
  }
  .responciveHeader {
    .header__burger {
      span {
        opacity: 0;
      }
      &::after {
        top: calc(50% - 1px);
        left: 0;
        transform: rotate(45deg);
      }
      &::before {
        bottom: calc(50% - 2px);
        left: 0;
        transform: rotate(-45deg);
      }
      .header__burger,
      &::after,
      &::before {
        background: $white;
      }
      &:hover {
        span,
        &::after,
        &::before {
          background: lighten($jungle-green, 25%);
        }
      }
    }
  }
  .logo__link img {
    height: 30px;
    width: 30px;
  }

  .header__menu {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    transform: translateX(-100vw);
    left: 0;
    padding: 140px 0px 0 0px;
    overflow: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(15px);
    z-index: 100;
    @include transition;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    padding: 0 0 0 0;
    row-gap: 7px;
  }

  .menu-active {
    transform: translateX(0);
  }

  .info {
    display: none;
  }

  .info.info-active {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 300px;
    margin: 23px 20px 0 0;
  }
  .info li {
    column-gap: 11px;
    .info__text,
    a {
      text-align: left;
      color: $white;
    }
    &:nth-child(2) {
      padding: 15px 0 15px 7px;
    }
    &:nth-child(3) a {
      color: $white;
      p {
        color: $white;
      }
    }
    &:nth-child(3) {
      justify-self: start;
      column-gap: 11px;
    }
  }

  .menu-active .menu__link {
    border-radius: 10px;
    padding: 5px;
  }

  .menu__link--active {
    background: $jungle-green;
    &:hover {
      color: $white;
      background: lighten($jungle-green, 25%);
    }
  }
}

@media (max-width: 380px) {
  .logo p {
    display: none;
  }
}
