header.header
  .container
    .header__burger.burger  
        span
    .header__top 
      a(href='#!').header__logo.logo
        svg
          use(xlink:href='#logo')
        p Estate "Familia"
          span country club

      ul.header__info.info
        li 
          svg#cerckle
            use(xlink:href='#imagecerckle')
          svg
            use(xlink:href='#image')
          p.info__text Krasnodar region, Dinskoy district,<br> Plastunovskaya station

        li 
          .info__block
            svg
              use(xlink:href='#vk')
            a(href='#!' ) ysadfafamiliya

          .info__block
            svg
              use(xlink:href='#telegram')
            a(href='#!' ) @ysadfafamiliya
        li 
          svg#cerckle
            use(xlink:href='#imagecerckle')
          svg
            use(xlink:href='#image')
          a(href='#!' ) 8 800 000 00 00
            p Request a call


  .header__menu.menu
    .container
      ul.menu__list
        li.menu__item.rel
          a(href="#!").menu__link.menu-link-js.menu__link--active  Accommodation
        li.menu__item.rel
          a(href="#!").menu__link.menu-link-js  Spa
        li.menu__item.rel
          a(href="#!").menu__link.menu-link-js  Restaurant complex
        li.menu__item.rel
          a(href="#!").menu__link.menu-link-js  Rest
        li.menu__item.rel
          a(href="#!").menu__link.menu-link-js  Sports
        li.menu__item.rel
          a(href="#!").menu__link.menu-link-js  Equestrian club
        li.menu__item.rel
          a(href="#!").menu__link.menu-link-js  LIFE-Arena
        li.menu__item.rel
          a(href="#!").menu__link.menu-link-js  Corporate events
        li.menu__item.rel
          a(href="#!").menu__link.menu-link-js  Online payment


