.wk {
  background: #272727;

  // &__body {
  //   display: inline-flex;
  //   height: 24px;
  //   justify-content: center;
  //   align-items: center;
  //   gap: 240px;
  //   flex-shrink: 0;
  // }
  .swiper-pagination-wk {
    display: inline-flex;
    height: 24px;
    justify-content: center;
    align-items: flex-start;
    margin: 30px 0;
  }
  .swiper-pagination-bullet {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    width: 32px;
    height: 32px;
    @include flex-center;
    @include transition;
    background-color: transparent;
    opacity: 1;
    border-radius: 0;
  }
  .swiper-pagination-bullet-active {
    background: #fcd54c;
  }

  .slider-arrow {
    top: auto;
    bottom: 0px;
    border-radius: 0;
    box-shadow: none;
    border: none;
  }

  .slider-arrow {
    svg {
      width: 24px;
      height: 24px;
      z-index: 2;
      fill: green;
    }
    &:hover {
      transform: scale(1) translate(0%, -50%);
      box-shadow: none;
      & > svg {
        fill: lighten(green, 25%);
      }
    }
  }

  .swiper-button-disabled {
    svg {
      fill: #929292;
    }
    &:hover {
      svg {
        fill: #929292;
        cursor: none;
      }
    }
  }

  .arrow-next-wk {
    left: auto;
    right: 0;
  }
  .arrow-prev-wk {
  }

  .wk-slide {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 30px;
    justify-content: center;
    &__item {
      display: grid;
      grid-template-rows: 420px min-content;
    }
    &__img {
      width: 100%;
      min-height: 420px;
    }
    &__low {
      border: 1px solid #fcd54c;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 17px 30px 5px;
    }
    &__title {
      min-height: 70px;
      h3 {
        color: #fff;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
      }
    }
    &__text {
      margin: 23px 0 0 0;
      p {
        color: #929292;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 280px;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }
    &__link {
      display: inline-flex;
      gap: 10px;
      margin: 13px 0 0 0;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
