.fildset-checkbox {
  .form-check {
    position: relative;
  }
  input[type="checkbox"]:checked,
  input[type="checkbox"]:not(:checked) {
    position: fixed !important;
    left: -9999px !important;
    height: 0px;
    width: 0px;
  }

  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    @include Text-Style-11;
    display: inline-block;
    position: relative;
    padding: 0 0 0 25px;
    line-height: 26px;
    cursor: pointer;
    @include transition;

    &:hover {
      color: $sandy-yellow;
    }
  }

  input[type="checkbox"]:not(:checked) + label::before,
  input[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    @include transition;
  }

  input[type="checkbox"]:not(:checked) + label::before {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: solid 2px $white;
  }
  input[type="checkbox"]:checked + label::before {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: solid 2px $white;
  }

  input[type="checkbox"]:checked + label::after,
  input[type="checkbox"]:not(:checked) + label::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    top: 50%;
    transform: translate(5px, -50%);
    left: 0%;
    border: solid 2px $sandy-yellow;
    background-color: $sandy-yellow;
    @include transition;
  }
  input[type="checkbox"]:checked + label::after {
    opacity: 1;
  }
  input[type="checkbox"]:not(:checked) + label::after {
    opacity: 0;
  }
}
