.form-field {
  min-height: 50px;
  width: 182px;
  position: relative;
  box-sizing: content-box;
  @include transition;
  @include flex-column;
  border: solid 1px #b4b4b4;
  border-radius: 5px;
  cursor: pointer;
  // &._is-active {
  //   min-height: 75px;
  // }
  &:hover {
    border: solid 1px lighten($jungle-green, 25%);
    p,
    button p {
      color: lighten($jungle-green, 25%);
    }
    .form-field__area-svg {
      background: lighten($jungle-green, 25%);
    }
  }

  ._check {
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent;
  }
  input {
    border: none;
    padding: 0px 0px 0px 20px;
    background: transparent;
    font-family: "PTSerif-Regular", serif;
    font-size: 0;
    font-weight: 400;
    line-height: 34px;
    min-height: 50px;
    transform-origin: bottom;
    @include transition;
    & ~ svg {
      display: none;
    }
    &:not(:placeholder-shown) {
      color: $black-two;
      font-size: 26px;
      padding: 30px 0px 0px 20px;
      // & ~ label {
      //   z-index: 4;
      //   padding-bottom: 30px;
      // }
    }
    &.dp__pointer {
      & ~ div {
        display: none;
      }
    }
  }

  p {
    @include Text-Style-31;
    @include transition;
    position: absolute;
    top: 50%;
    transform: translateY(-153%);
    z-index: -20;
    padding: 0 0 0 20px;
    opacity: 0.5;
    &._empty-data {
      transform: translateY(-50%);
    }
  }

  &__area-svg {
    z-index: -20;
    position: absolute;
    top: 50%;
    left: auto;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #eee;
    transform: translateY(-50%);
    @include flex-center;
    transition: all 0.2s;
    svg {
      width: 13px;
      height: 7px;
    }
    &._is-active {
      transform: rotate(180deg) translateY(50%);
    }
  }
  &--select {
    min-width: 320px;
    padding: 0 0 0 0;
  }
  // &--year {
  //   max-width: 230px;
  //   input:not(:placeholder-shown) {
  //     padding: 7px 20px;
  //   }
  // }
}


