.form-input {
  @include flex-center;
  position: relative;

  height: 100%;
  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    @include transition;
  }
  input[type="text"] {
    @include transition;
    min-height: 52px;
    padding: 0px 0 0 20px;
    width: 100%;
    height: 100%;
    &:focus,
    &:not(:placeholder-shown) {
      min-height: 62px;
      padding: 10px 0 0 20px;
      & + label {
        transform: translateY(-140%);
      }
    }
  }

  &__submit {
    position: relative;
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    right: 1px;
    @include flex-center;
  }
  input[type="submit"] {
    width: 100%;
    height: 23px;
    font-size: 0;
    background: lighten(green, 65%);

    & + svg {
      display: block;
      cursor: pointer;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 15;
      @include transition;
    }
    &:hover {
      & + svg {
        fill: lighten(green, 25%);
      }
    }
  }
}
