input:not([type="range"]),
input:not([type="submit"]) {
  // background: transparent;
  // border: 1px solid transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
  @include flex-center;
  position: relative;
  background: transparent;
  @include transition;
  border: solid 1px #b4b4b4;
  border-radius: 5px;
  z-index: 5;
  &:hover {
    color: lighten($jungle-green, 25%);
    border: solid 1px lighten($jungle-green, 25%);
  }
  &:focus {
    padding: 30px 20px 8px;
    color: $black-two;
    font-family: "PT Serif", serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    & ~ label {
      z-index: 4;
      padding-bottom: 30px;
    }
  }
  &:not(:placeholder-shown) {
    color: $black-two;
    font-family: "PT Serif", serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    // background: $focus;
    padding: 30px 20px 8px;
    & ~ label {
      z-index: 4;
      padding-bottom: 30px;
    }
  }
  &.input_invalid {
    border: solid 1px #ff0000;
    & ~ label ~ span {
      color: #ff0000;
      opacity: 1;
    }
    &:hover {
      // color: lighten($jungle-green, 25%);
      border: solid 1px lighten($jungle-green, 25%);
    }
  }

  &.input_valid {
    border: solid 1px $jungle-green;
    padding-top: 30px;
    & ~ label {
      padding-bottom: 30px;
    }
    & ~ label ~ span {
      color: $jungle-green;
      opacity: 1;
    }
    &:hover {
      // color: lighten($jungle-green, 25%);
      border: solid 1px lighten($jungle-green, 25%);
    }
  }
  & ~ span {
    @include transition;
  }

  & + i {
    @include transition;
  }
  &::placeholder {
    opacity: 0;
  }
  & ~ div {
    display: none;
  }
  & ~ svg {
    display: none;
  }
}

@media (min-width: 768px) {
  .text-field {
    float: left;
  }
}
.text-field {
  position: relative;
  @include transition;
  width: 100%;
  max-width: 320px;
  border: none;
  &:last-of-type {
    margin: 0 0 0 0;
  }
  input {
    min-height: 52px;
  }
  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    @include transition;
    @include Text-Style-31;
    z-index: 2;
  }
  span {
    position: absolute;
    top: calc(100% + 10px);
    width: 100%;
    left: 0;
    display: inline-block;
    @include Text-Style-32;
    opacity: 0.5;
  }
  &:hover {
    label {
      color: lighten($jungle-green, 25%);
    }
  }
}
