input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  height: 100%;
  cursor: pointer;
  @include flex-center;
  position: relative;
  background: transparent;
  @include transition;
  z-index: 5;
  border: 1px solid transparent;
  
  // & ~ span {
  //   @include transition;
  // }

  // & + i {
  //   @include transition;
  // }
  &::placeholder {
    opacity: 0;
  }
  // & ~ div {
  //   display: none;
  // }
  // & ~ svg {
  //   display: none;
  // }
}

