section(id='fid').caract.fid.rel
  .container
    .title
      h3 Отзывы о препарате Промисан капсулы, 120 шт.
    .caract__body
      .caract__left
        .fid__rate 
          svg
            use(xlink:href='#star-empty')  
          svg
            use(xlink:href='#star-empty')  
          svg
            use(xlink:href='#star-empty')  
          svg
            use(xlink:href='#star-empty')  
          svg
            use(xlink:href='#star-empty') 
          span 4.5 из 5
          p На основе 3190 отзывы наших покупателей

        section#accord--fid.accord.accord--galery
          .accord__body._accord-js._accord-galery-js
            nav.accord__nav._accord-nav-js
              button(type='button')  Новые
              button(type='button')  Положительные
              button(type='button')  Отрицательные

            .accord__hidden._accord-hidden-js
              .accord-hidden__wrap._accord-hidden-wrap-js
                ul.accord__content._accord-content-js._accord-default-js
                  section(id='galCasesfid').galCases
                    .galCases__body.rel
                      ul._galCases-plaza-js
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug
                      button._galCases-button-js.btn.btn-success.but-wave
                        span Еще 2 отзыва
                        svg
                          use(xlink:href='#load')
                ul.accord__content._accord-content-js._accord-default-js
                  section(id='galCasesfidplus').galCases
                    .galCases__body.rel
                      ul._galCases-plaza-js
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug

                      button._galCases-button-js.btn.btn-success.but-wave
                        span Еще 2 отзыва
                        svg
                          use(xlink:href='#load')
                ul.accord__content._accord-content-js._accord-default-js
                  section(id='galCasesfidminus').galCases
                    .galCases__body.rel
                      ul._galCases-plaza-js
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug
                        li._galCases-item-js.rel
                          include fidback.pug

                      button._galCases-button-js.btn.btn-success.but-wave
                        span Еще 2 отзыва
                        svg
                          use(xlink:href='#load')

                ul.accord__content._accord-content-js




        //- section(id='galCasesfid').galCases
        //-   .galCases__body.rel
        //-     ul._galCases-plaza-js
        //-       li._galCases-item-js.rel
        //-         include fidback.pug
        //-       li._galCases-item-js.rel
        //-         include fidback.pug
        //-       li._galCases-item-js.rel
        //-         include fidback.pug
        //-       li._galCases-item-js.rel
        //-         include fidback.pug
        //-       li._galCases-item-js.rel
        //-         include fidback.pug
        //-       li._galCases-item-js.rel
        //-         include fidback.pug
        //-       li._galCases-item-js.rel
        //-         include fidback.pug
        //-       li._galCases-item-js.rel
        //-         include fidback.pug
        //-     button._galCases-button-js.btn.btn-success.but-wave
        //-       span Еще 2 отзыва
        //-       svg
        //-         use(xlink:href='#load')




      .caract__right
        .caract__shild.right-shild
          .right-shild__title 
            h4 20%
          .right-shild__decor
          .right-shild__text Скидки на крем для рук
          .right-shild__img.rel
            .imgs
              img(src='./img/i-7.webp' alt='img')
        .caract__shild.right-shild.right-shild--pink
          .right-shild__title 
            h4 35%
          .right-shild__decor
          .right-shild__text Скидки на Либридерм
          .right-shild__img.right-shild__img--pink.rel
            .imgs
              img(src='./img/i-3.webp' alt='img')
