.fid__section.fid-section
  .fid-section__top
    .fid-section__title
      h3 Мария Степановна
    div
      svg
        use(xlink:href='#star-empty')  
      svg
        use(xlink:href='#star-empty')  
      svg
        use(xlink:href='#star-empty')  
      svg
        use(xlink:href='#star-empty')  
      svg
        use(xlink:href='#star-empty') 
    span  Москва 24.05.2018
  p.fid-section__content Наши партнёры крупные производители и поставщики с многолетней репутацией, поэтому мы предлагаем только зарегистрированные и сертифицированные товары, тщательно соблюдая все условия хранения и транспортировки.
  .fid-section__low
    .tab._tab-js._tab-top-js.rel
      .tab__title._tab-title-js
        h4  Показать 2 комментария

      .tab__hidden._tab-hidden-js 
        ._tab-wrap-js
          p коммент1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          p коммент2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    a.popups-init-js(rel='#popup2' href='#!') 
      svg
        use(xlink:href='#comment')
      span Комментировать
    a(href='#!' ).fid-score
      svg
        use(xlink:href='#gut')
      span  123
    a(href='#!' ).fid-score.fid-score--bad
      svg
        use(xlink:href='#bad')
      span  1