section(id='feed').feed.rel
  .container
    .feed__title.title
      h3  Отзывы 
      span  наших клиентов
    .feed__body
      #slider-full.slider-full.swiper-container
        .swiper-wrapper
          -
            var blocks = [
              {
                rel: '#popupPlyr1',
                src: './img/feed1.webp',
                srcPlyr: './img/video.webp',
              },
              {
                rel: '#popupPlyr2',
                src: './img/feed2.webp',
                srcPlyr: './img/video.webp',
              },
              {
                rel: '#popupPlyr1',
                src: './img/feed1.webp',
                srcPlyr: './img/video.webp',
              },
              {
                rel: '#popupPlyr2',
                src: './img/feed2.webp',
                srcPlyr: './img/video.webp',
              },
              {
                rel: '#popupPlyr1',
                src: './img/feed1.webp',
                srcPlyr: './img/video.webp',
              },
              {
                rel: '#popupPlyr2',
                src: './img/feed2.webp',
                srcPlyr: './img/video.webp',
              },

            ];
          each block in blocks
            .slider__item.swiper-slide
              .imgs
                img(src=block.src)
              a.popups-init-js.slider__control.controls(href='#!' rel=block.rel)
                .imgs
                  img(src=block.srcPlyr alt='img')

      .swiper-pagination-full