h2(style="margin: 40px 0 0 0;") swiper-full+ pagination+plyr
#slider-full.slider-full.swiper-container
  button.slider-arrow.full-prev.js-full-prev(type='button')
    svg
          use(xlink:href='#left')
  button.slider-arrow.full-next.js-full-next(type='button')
    svg
          use(xlink:href='#right')
  .swiper-wrapper
    -
      var blocks = [
        {
          rel: '#popupPlyr1',
          src: './img/bg.webp',
          srcPlyr: './img/paralax.webp',
        },
        {
          rel: '#popupPlyr2',
          src: './img/img-1.webp',
          srcPlyr: './img/paralax.webp',
        },
        {
          rel: '#popupPlyr1',
          src: './img/img-2.webp',
          srcPlyr: './img/paralax.webp',
        },
        {
          rel: '#popupPlyr2',
          src: './img/img-3.webp',
          srcPlyr: './img/paralax.webp',
        },
        {
          rel: '#popupPlyr1',
          src: './img/bg.webp',
          srcPlyr: './img/paralax.webp',
        },
        {
          rel: '#popupPlyr2',
          src: './img/bg.webp',
          srcPlyr: './img/paralax.webp',
        },
       
      ];
    each block in blocks
      .slider__item.swiper-slide
        .imgs
          img(src=block.src)
        a.popups-init-js.slider__control.controls(href='#!' rel=block.rel)
          .imgs
            img(src=block.srcPlyr alt='img')

.swiper-pagination-full