div(style='clear: both; height: 20px; ')
p -buttons-
button(type='submit' valueue='Готово').create-anzahl__fertig.btn-success.but-wave Готово
div(style='clear: both; height: 20px; ')
button(type='button').btn-blue Удалить номер из списка
div(style='clear: both; height: 20px; ')
button.btn.btn--empty.submit-button(  type='submit' name='send' ) Отправить

div(style='clear: both; height: 20px; ')
p -inputs-
.text-field
  input#1(type='text' name='1' valueue='' placeholder=' Denzel Washington')
  label.text-field__label(for='1') Имя Фамилия
  span Поле обязательно для заполнения
div(style='clear: both; height: 50px; ')
.text-field
  input#firstname(type='text' name='firstname' valueue='' placeholder=' Denzel Washington').input_invalueid
  label.text-field__label(for='firstname' ) .input_invalueid
  span Поле обязательно для заполнения
div(style='clear: both; height: 50px; ')
.text-field
  input#firstname(type='text' name='firstname' valueue="Джек Безз" placeholder=' Denzel Washington').input_valueid
  label.text-field__label(for='firstname') .input_valueid
  span Спасибо за предоствленную информацию!

div(style='clear: both; height: 50px; ')

textarea#4(name="4" row='20' placeholder="Введите текст")
div(style='clear: both; height: 50px; ')
p -checkbox-

.fildset-checkbox
  .form-check
    input#5(type='checkbox')
    label(for='5') Любимое место
  .form-check
    input#6(type='checkbox')
    label(for='6') Месторасположение
  .form-check
    input#7(type='checkbox')
    label(for='7') Гость торжественного события
  .form-check
    input#8(type='checkbox')
    label(for='8') Корпоративные мероприятия
  .form-check
    input#9(type='checkbox')
    label(for='9') СПА комплекс
div(style='clear: both; height: 20px; ')
p -radio-

fildset.fildset-radio
  .form-check
    input(type="radio" id="10" name='a' value='16-25' checked)
    label(for="10")  от 16-25
  .form-check
    input(type="radio" id="11" name='a' value='26-35')
    label(for="11")  от 26-35
  .form-check
    input(type="radio" id="12" name='a' value='36-45')
    label(for="12")  36-45
  .form-check
    input(type="radio" id="13" name='a' value='55')
    label(for="13")  от 45 и старше
div(style='clear: both; height: 20px; ')
p -radio-svg-
fildset.fildset-radio.fildset-radio--sex
  .form-check
    input(type="radio" id="14" name='s' value='man')
    label(for="14")  Мужчина
    svg
      use(xlink:href='#Union')
  .form-check
    input(type="radio" id="15" name='s' value='frau')
    label(for="15")  Женщина
    svg
      use(xlink:href='#Union')

div(style='clear: both; height: 20px; ')
p -radio--tiers-
fildset.fildset-radio.fildset-radio--tiers
      input(type="radio" id="tieresyes" name='tieres' valueue='yes' checked)
      label(for="tieresyes")  Да
      span /
      input(type="radio" id="tieresnot" name='tieres' value='not')
      label(for="tieresnot")  Нет
div(style='clear: both; height: 20px; ')

p -radio -- rating--
fildset.fildset-rating
  .fildset-rating__items
      input(type="radio" id="rating5" name='rating' value='5' )
      label(for="rating5")
        svg
          use(xlink:href='#Star-1')  
      input(type="radio" id="rating4" name='rating' value='4' )
      label(for="rating4")
        svg
          use(xlink:href='#Star-1') 
      input(type="radio" id="rating3" name='rating' value='3' )
      label(for="rating3") 
        svg
          use(xlink:href='#Star-1') 
      input(type="radio" id="rating2" name='rating' value='2' )
      label(for="rating2") 
        svg
          use(xlink:href='#Star-1') 
      input(type="radio" id="rating1" name='rating' value='1' )
      label(for="rating1") 
        svg
          use(xlink:href='#Star-1') 

p -a-
a(href="#!") +7 (961)511-66-14










div(style='clear: both; height: 50px; ')