section#hero.hero
  .container
    .hero-info.hero-info--white
      .hero-info__title
        h2 Luxury homeware for people who love timeless design quality
      p.hero-info__text With our new collection, view over 400 bespoke pieces from homeware through to furniture today
      a(href='#!').btn.btn--light.hero-info__button View collection
  .hero__bg.rel
    .imgs
      picture
        source(srcset='./img/hero.webp ' type='image/webp' media='(min-width: 1200px)')
        source(srcset='./img/hero.webp' type='image/webp' media='(min-width: 1000px) and (max-width: 1199px)')
        source(srcset='./img/hero-sm.webp' type='image/webp' media='(max-width: 767px)')
        img(src='./img/hero.webp' alt='img')



