section#bunner.bunner
  .bunner__bg.imgs
    picture
      source(srcset='./img/paralax.webp ' type='image/webp' media='(min-width: 1200px)')
      source(srcset='./img/img-2.webp' type='image/webp' media='(min-width: 1000px) and (max-width: 1199px)')
      source(srcset='./img/img-1.webp' type='image/webp' media='(max-width: 999px)')
      img(src='./img/paralax.webp' alt='img')

  .container
    .bunner__body
      .bunner__title
        h1 НОЧНОЙ ЭКСПРЕСС
      a#bunner-link( href='#best') scroll->#best
      .bunner__text
        p Мы предлагаем доставку сборных 
        p грузов из Москвы в Санкт-Петербург
        p на следующий день.
        p Принимаем грузы ежедневно 
          span до 21:00,
        p выдача на следующий день 
          span с 09:00





