section#bunner.bunner
  .bunner__bg.imgs
    picture
      source(srcset='./img//bunner.webp ' type='image/webp' media='(min-width: 1200px)')
      source(srcset='./img//bunner.webp' type='image/webp' media='(min-width: 1000px) and (max-width: 1199px)')
      source(srcset='./img/bunner-sm.webp' type='image/webp' media='(max-width: 999px)')
      img(src='./img/bunner.webp' alt='img')

  .container
    .bunner__body
      .bunner__title
        span Работа в Европе. 
        span Наши 
        span вакансии 
        br
        span бесплатные 
        span или оплачиваются 
        br
        span с первой зароботной платы 
      a#bunner-link.custom-link._hover( href='#best') ЛИСТАЙТЕ ВНИЗ
        .marker
      .bunner__text
        .marker-host Вакансии для мужчин, женщин, семейных пар, pазнорабочих и специалистов. Зарплата 
        span от 700 до 2500 евро/мес.
        .marker
      ul.bunner__blocks.blocks
        li
          .blocks__img
            include ../svgbunner.pug
          p Проверенные 
          p.dunn работодатели 
        li
          .blocks__img
            include ../svgbunner.pug
          p Никаких
          p.dunn предоплат 
        li
          .blocks__img
            include ../svgbunner.pug
          p Помощь 
            span по
          p.dunn всем вопросам 
          p.dunn в течении 1 
          p.dunn месяца
        li
          .blocks__img
            include ../svgbunner.pug
          p Гарантия  
          p.dunn трудоустройства 
          p 100% 
      .bunner__wall
        span Бесплатный 
          span подбор вакансии
        .marker
        a.btn.btn-success.but-wave.popups-init-js(rel='#popup1' href='#!')
          p Подобрать вакансию


