.bunner {
  max-height: 600px;
  position: relative;
  padding: 136px 24px;
  background: linear-gradient(
      -87.27deg,
      rgb(255, 255, 255) 0.4%,
      rgba(255, 255, 255, 0) 21.018%
    ),
    linear-gradient(
      90deg,
      rgb(255, 255, 255) 50%,
      rgba(255, 255, 255, 0) 66.344%
    ),
    rgb(252, 252, 253);
}

.bunner .container {
  z-index: 2;
  position: relative;
}

.bunner__body {
  max-width: 756px;
  padding: 24px;
}
.bunner__title {
  h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0px;
    color: $akzent;
  }
}
.bunner__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0px;
  color: $black-1;
}

.bunner__buttons {
  margin: 24px 0 0 0;
  display: flex;
  column-gap: 24px;
  align-items: center;
  a {
    border-radius: 16px;
    width: 200px;
    height: 56px;
  }
}
