.bunner {
  min-height: calc(100vh - 68px);
  position: relative;
  margin: 70px 0 0 0;
  &__wall {
    margin: 30px 0 0 0;
    @include flex-aligne-center;
    line-height: 15px;
    color: rgb(137, 137, 137);
    font-size: 12px;
    span {
      font-weight: 600;
      span {
        display: block;
        font-weight: 400;
      }
    }
    .marker {
      margin: 0 0 0 43px;
      width: 32px;
      background-color: $red;
      height: 1px;
      position: relative;
      &::after {
        background-color: $red;
        width: 10px;
        height: 10px;
        right: auto;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
}

.bunner .container {
  z-index: 2;
  position: relative;
}

.bunner__body {
  padding: 95px 0px 68px 0px;
}
.bunner__title {
  span {
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    &:nth-child(1) {
      font-weight: 600;
    }
    &:nth-child(3) {
      font-weight: 600;
    }
    &:nth-child(5) {
      font-weight: 600;
    }
  }
}
.bunner__text {
  margin: 44px 0 0 0;
  font-size: 20px;
  line-height: 24px;
  .marker-host {
    position: relative;
  }
  span {
    font-weight: 600;
  }
  & .marker {
    position: absolute;
    @include transvert;
    left: 0px;
    top: 53%;
  }
  padding: 0 0 0 108px;
}
.bunner__blocks {
  margin: 16px 0 0 0;
}
.blocks {
  display: grid;
  grid-template-columns: repeat(auto-fill, 190px);

  li {
    padding: 0 0 0 30px;
    position: relative;
    @include flex-column;
    justify-content: center;
  }
  li {
    font-size: 13px;

    line-height: 16px;
    p {
      font-weight: 600;

      &.dunn {
        font-weight: 400;
      }
      span {
        font-weight: 400;
      }
    }
  }
  &__img {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.custom-link {
  color: rgb(86, 86, 86);
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  position: relative;
  transform: rotate(-90deg) translate(151px, -94px);
  &::after {
    content: "";
    position: absolute;
    background-color: rgb(0, 115, 222);
    border-radius: 0%;
    width: 30px;
    height: 1px;
    right: 98px;
    top: 50%;
    transform: translate(0, 84%);
  }
  .marker {
    background-color: rgb(190, 190, 190);
    width: 375px;
    top: 50%;
    left: -385px;
    position: absolute;
    transform: translate(0, 0%);
    &::after {
      display: none;
    }
  }
  &:hover {
    &::after {
      background-color: $red;
    }
    .marker {
      background-color: $akzent;
    }
  }
}
@media (max-width: 768px) {
  .bunner {
    margin: 68px 0 0 0;
    min-height: 1vh;
    &__wall {
      margin: 19px 0 0 0;
      display: grid;
      grid-template-columns: 125px 32px 1fr;
      & .marker {
        margin: 0;
        width: 32px;
      }
    }
  }
  .bunner-btn {
    width: 185px;
    height: 48px;
    font-size: 12px;
  }
  .bunner .container {
    z-index: 2;
    position: relative;
  }

  .bunner__body {
    padding: 37px 0px 30px 0px;
  }
  .bunner__title {
    span {
      font-size: 22px;
      line-height: 34px;
      &:nth-child(1) {
        font-weight: 600;
      }
      &:nth-child(3) {
        font-weight: 600;
      }
      &:nth-child(5) {
        font-weight: 600;
      }
    }
    br {
      display: none;
    }
  }
  .bunner__text {
    margin: 30px 0 0 0;
    font-size: 16px;
    line-height: 20px;
    top: 17.5%;
    position: relative;
    .marker-host {
      position: relative;
    }
    span {
      font-weight: 600;
    }
    p {
      display: inline-block;
    }
    .marker-host {
      span {
        font-weight: 400;
      }
    }
    & .marker {
      top: 17.5%;
      left: -45px;
      &::after {
        width: 7px;
        height: 7px;
      }
    }
    padding: 0 0 0 61px;
  }
  .bunner__blocks {
    margin: 16px 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 153px);
    row-gap: 34px;
    li {
      padding: 0 0 0 30px;
      position: relative;
      @include flex-column;
      justify-content: center;
    }
    li {
      font-size: 13px;

      line-height: 16px;
      p {
        font-weight: 600;

        &.dunn {
          font-weight: 400;
        }
        span {
          font-weight: 400;
        }
      }
    }
  }

  .bunner-block__img {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }

  .bunner__button {
    display: inline-block;

    svg {
      width: 20px;
      height: 20px;
      fill: green;
      margin: 0 0 0 10px;
    }
    &:hover {
      svg {
        fill: lighten(green, 25%);
      }
    }
  }

  .custom-link {
    color: rgb(86, 86, 86);
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    position: relative;
    transform: rotate(-90deg) translate(151px, -94px);
    &::after {
      content: "";
      position: absolute;
      background-color: rgb(0, 115, 222);
      border-radius: 0%;
      width: 30px;
      height: 1px;
      right: 98px;
      top: 50%;
      transform: translate(0, 84%);
    }
    .marker {
      background-color: rgb(190, 190, 190);
      width: 375px;
      top: 50%;
      left: -385px;
      position: absolute;
      transform: translate(0, 0%);
      &::after {
        display: none;
      }
    }
    &:hover {
      &::after {
        background-color: $red;
      }
      .marker {
        background-color: $akzent;
      }
    }
  }
}
@media (max-width: 390px) {
  .bunner {
    margin: 68px 0 0 0;
    min-height: 100vh;
  }
}
// =====================================
.vector {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(61, 161, 252);
  @include flex-center;
  svg {
    width: 60%;
    height: 60%;
  }
}
.marker {
  width: 95px;
  background-color: rgb(0, 133, 255);
  height: 1px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-color: rgb(61, 161, 252);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    right: 0;
    @include transvert;
  }
}
