.bunner-slider {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.bunner-slider .slider,
.bunner-slider .slider__body,
.bunner-slider .slider__item {
  min-height: 100vh;
}

.bunner-slider .slider {
  position: relative;
}

.bunner-slider .slider__body {
  width: 100%;
  height: 100%;
}

.bunner-slider .slider__item {
  position: relative;
  width: 100%;
  height: 100%;
}

.bunner-slider .slider-card {
  position: relative;
}

.bunner-slider .slider-card__img {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
}

.bunner-slider .slider-card__body {
  display: flex;
  flex-direction: column;
  padding: 276px 0 0;
  position: relative;
  z-index: 5;
}

.bunner-slider .swiper-pagination {
  position: absolute;
  left: calc((100vw - 1240px) / 2);
  display: inline-block;
  width: auto;
  bottom: 22%;
  z-index: 40;
  display: flex;
  column-gap: 10px;
}

.bunner-slider .swiper-pagination span {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background: transparent;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  display: block;
  border-radius: 50%;
  cursor: pointer;
}

.bunner-slider .swiper-pagination span.swiper-pagination-bullet-active {
  background: rgb(28, 25, 194);
}

// ==================================
