.btn-success {
  color: white;
  background-color: $red;
  width: 254px;
  height: 55px;
  border-radius: 10px;
  @include flex-center;
  p {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
  }
  &:hover {
    color: $red;
    background-color: $akzent;
    border: solid 1px lighten($red, 25%);
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 1);
  }
}
