a.btn.btn-success.but-wave.popups-init-js(rel='#popup1' href='#!') popup

button.btn.btn-success.but-wave(type='submit') submit

button(type='button' ).btn.btn-success.but-wave success
a(href="#!").btn.btn-success.but-wave success

button.btn.btn-empty(  type='button' name='empty' ) empty
a.btn.btn-empty( href='#!') empty

button(type='button').btn.btn-blue blue
a(href="#!").btn.btn-blue blue