section(id='caract').caract.rel
  .container
    .caract__body
      .caract__left
        nav.caract__nav

          a._link(href='#product_description' )._is-active 
            span Описание
          a._link(href='#product_indication' )  
            span Показания
          a._link(href='#product_contraindications' )  
            span Противопоказания
          a._link(href='#product_take' )  
            span Как принимать
          a._link(href='#product_interaction' )  
            span Условия отпуска
        section#product_description.caract__section
          .title
            h3 Описание
          .caract__section-line 
            span Количество в упаковке:
            span 120
          .caract__section-line 
            span Лекарственная форма:
            span Капсулы
          .caract__section-line 
            span Назначение:
            span Прочие
          .caract__section-line 
            span Производитель:
            span МираксБиоФарма, Россия
        section.caract__section
          .caract__section-title
            h3 Состав
          p На 1 капсулу 550 мг: экстракт зеленого чая (140,0 мг), экстракт растений семейства крестоцветных (индол-3-карбинол) (100,0 мг), лактозы моногидрат — наполнитель (120,0 мг), капсула (желатин, вода) (96 мг), крахмал картофельный — наполнитель (70 мг), микрокристаллическая целлюлоза — наполнитель (67 мг), минеральный премикс (50,0 мг) (цинка сульфат моногидрат, меди сульфат моногидрат, йодид калия, железа (II) лактат дигидрат, марганец сульфат моногидрат, селенит натрия); магния стеарат (антислеживающий агент) (3,0 мг).
        section.caract__section
          .caract__section-title
            h3 Фармакологическое действие
          p Промисан рекомендуется для коррекции метаболических нарушений у пациентов с онкологическими заболеваниями и для профилактики развития рака молочной железы, яичников и эндометрия.
        section.caract__section#product_indication
          .caract__section-title
            h3 Показания
          p В качестве биологически активной добавки к пище — источника эпигаллокатехин-3-галлата, индол-3-карбинола, и дополнительного источника железа, меди, йода, цинка, марганца, селена.
        section.caract__section#product_contraindications
          .caract__section-title
            h3 Противопоказания
          p Индивидуальная непереносимость компонентов, беременность, кормление грудью. Не рекомендуется лицам, принимающим препараты, снижающие кислотность желудочного сока.Перед применением необходима консультация врача-эндокринолога. Не является лекарственным средством.
        section.caract__section
          .caract__section-title
            h3 Побочные действия
          p По данным доклинического и клинического изучения, Промисан® хорошо переносится, не оказывая в терапевтических дозах побочных эффектов.
        section.caract__section#product_take
          .caract__section-title
            h3 Как принимать, курс приема и дозировка
          p Взрослым принимать по 1 капсуле 2 раза вдень во время еды. Продолжительность приема 1 месяц. При необходимости прием можно повторить. В суточной дозировке (2 капсулы) содержится не менее 180 мг индол-3-карбинола, не менее 190 мг эпигаллокатехин-3-галлата и в % от рекомендуемой суточной потребности: железо 67 % (9,4 мг), медь 60 % (0,6 мг), йод 54 % (0,08 мг), цинк 36 % (5,4 мг), марганец 30 % (0,6 мг), селен 57 % (0,04 мг).
          p  Промисан рекомендуется для коррекции метаболических нарушений у пациентов с онкологическими заболеваниями и для профилактики развития рака молочной железы, яичников и эндометрия.
        section.caract__section.caract__section--double
          .caract__section-title
            h3 Форма выпуска
          .caract__section-title
            h3 Срок годности
          p Капсулы.
          p 2 года.
        section.caract__section.caract__section--double
          .caract__section-title
            h3 Условия хранения

          .caract__section-title
            h3 Бренд
          p Хранить в сухом, недоступном для детей месте.
          p ПРОМИСАН
        section.caract__section#product_interaction
          .caract__section-title
            h3 Условия отпуска из аптек
          p Без рецепта
      .caract__right
        .caract__right-title
          h3 С этим товаром покупают
        ul.caract__right-items 
          li.caract__right-card.right-card
            .right-card__img._a.rel
              .imgs
                img(src='./img/i-4.webp' alt='img')
            .right-card__descr._b Кестин 10мг n10 таб. покрытые оболочкой
            .right-card__price._c
              span 10790 ₽
              .common-span 11590 ₽
                p -20%
            .right-card__buttons._d
              button(type='button' ).btn.btn-success.but-wave 
                svg
                  use(xlink:href='#shopping-cart')
              a(href='#!')
                svg
                  use(xlink:href='#like')
          li.caract__right-card.right-card
            .right-card__img._a.rel
              .imgs
                img(src='./img/i-5.webp' alt='img')
            .right-card__descr._b Кестин 10мг n10 таб. покрытые оболочкой
            .right-card__price._c
              span 10790 ₽
            .right-card__buttons._d
              button(type='button' ).btn.btn-success.but-wave 
                svg
                  use(xlink:href='#shopping-cart')
              a(href='#!')
                svg
                  use(xlink:href='#like')
          li.caract__right-card.right-card
            .right-card__img._a.rel
              .imgs
                img(src='./img/i-6.webp' alt='img')
            .right-card__descr._b Кестин 10мг n10 таб. покрытые оболочкой
            .right-card__price._c
              span 10790 ₽
            .right-card__buttons._d
              button(type='button' ).btn.btn-success.but-wave 
                svg
                  use(xlink:href='#shopping-cart')
              a(href='#!')
                svg
                  use(xlink:href='#like')
          li.caract__right-card.right-card
            .right-card__img._a.rel
              .imgs
                img(src='./img/i-10.webp' alt='img')
            .right-card__descr._b Кестин 10мг n10 таб. покрытые оболочкой
            .right-card__price._c
              span 10790 ₽
            .right-card__buttons._d
              button(type='button' ).btn.btn-success.but-wave 
                svg
                  use(xlink:href='#shopping-cart')
              a(href='#!')
                svg
                  use(xlink:href='#like')
          li.caract__right-card.right-card
            .right-card__img.right-card__img--pink._a.rel
              .imgs
                img(src='./img/i-1.webp' alt='img')
            .right-card__descr._b Кестин 10мг n10 таб. покрытые оболочкой
            .right-card__price._c
              span 10790 ₽
            .right-card__buttons._d
              button(type='button' ).btn.btn-success.but-wave 
                svg
                  use(xlink:href='#shopping-cart')
              a(href='#!')
                svg
                  use(xlink:href='#like')
        .caract__shild.right-shild
          .right-shild__title 
            h4 20%
          .right-shild__decor
          .right-shild__text Скидки на крем для рук
          .right-shild__img.rel
            .imgs
              img(src='./img/i-7.webp' alt='img')
        .caract__shild.right-shild.right-shild--pink
          .right-shild__title 
            h4 35%
          .right-shild__decor
          .right-shild__text Скидки на Либридерм
          .right-shild__img.right-shild__img--pink.rel
            .imgs
              img(src='./img/i-3.webp' alt='img')
