section(id='map').map.rel
  .container
    .title
      h3 В наличии в аптеках
    .map__body
      .map__text 
        span Отобразить аптеки по 
        .select
          input(type="hidden")
          button.dropdown-button
            span Московской области
            svg.icon
              use(xlink:href='#arrow')
          ul.dropdown-list
            .dropdown-list-wrap
              li.dropdown-list__item._item-active(data-value='Mosk') Московской области
              li.dropdown-list__item(data-value='Rost') Ростовской области
              li.dropdown-list__item(data-value='Penz') Пензенской области
              li.dropdown-list__item(data-value='Kursk') Курской области

    .map__content.maps#maps  
      section#Mosk.accord.accord--galery._is-active
        .accord__body._accord-js._accord-galery-js
          nav.accord__nav._accord-nav-js
            button(type='button')  Москва
            button(type='button')  Балашиха
            button(type='button')  Бронницы
            button(type='button')  Видное
            button(type='button')  Высоковск
            button(type='button')  Дзержинский
            button(type='button')  Дрезна
            button(type='button')  Видное
            button(type='button')  Волоколамск
            button(type='button')  Балашиха
            button(type='button')  Бронницы
            button(type='button')  Высоковск
            button(type='button')  Все аптеки

          .accord__hidden._accord-hidden-js
            .accord-hidden__wrap._accord-hidden-wrap-js
              .map__picture.rel
                .imgs
                  img(src='./img/i-14.webp' alt='img')

              .map__daten
                include moc.pug
                include balash.pug
                include br.pug
                include vidn.pug
                include drez.pug
                include dzer.pug
                include vi.pug
                include vis.pug
                include visok.pug
                include vol.pug
                include vi.pug
                include drez.pug
                ul.accord__content._accord-content-js
      section#Rost.accord.accord--galery
        .accord__body._accord-js._accord-galery-js
          nav.accord__nav._accord-nav-js
            button(type='button')  Ростов
            button(type='button')  Ростов
            button(type='button')  Ростов
            button(type='button')  Ростов
            button(type='button')  Ростов
            button(type='button')  Ростов
            button(type='button')  Ростов
            button(type='button')  Ростов
            button(type='button')  Ростов
            button(type='button')  Ростов
            button(type='button')  Ростов
            button(type='button')  Ростов

            button(type='button')  Все аптеки

          .accord__hidden._accord-hidden-js
            .accord-hidden__wrap._accord-hidden-wrap-js
              .map__picture.rel
                .imgs
                  img(src='./img/i-14.webp' alt='img')

              .map__daten
                include moc.pug
                include balash.pug
                include br.pug
                include vidn.pug
                include drez.pug
                include dzer.pug
                include vi.pug
                include vis.pug
                include visok.pug
                include vol.pug
                include vi.pug
                include drez.pug
                ul.accord__content._accord-content-js
      section#Penz.accord.accord--galery
        .accord__body._accord-js._accord-galery-js
          nav.accord__nav._accord-nav-js
            button(type='button')  Penz
            button(type='button')  Penz
            button(type='button')  Penz
            button(type='button')  Penz
            button(type='button')  Penz
            button(type='button')  Penz
            button(type='button')  Penz
            button(type='button')  Penz
            button(type='button')  Penz
            button(type='button')  Penz
            button(type='button')  Penz
            button(type='button')  Penz
            button(type='button')  Все аптеки

          .accord__hidden._accord-hidden-js
            .accord-hidden__wrap._accord-hidden-wrap-js
              .map__picture.rel
                .imgs
                  img(src='./img/i-14.webp' alt='img')

              .map__daten
                include moc.pug
                include balash.pug
                include br.pug
                include vidn.pug
                include drez.pug
                include dzer.pug
                include vi.pug
                include vis.pug
                include visok.pug
                include vol.pug
                include vi.pug
                include drez.pug
                ul.accord__content._accord-content-js
      section#Kursk.accord.accord--galery
        .accord__body._accord-js._accord-galery-js
          nav.accord__nav._accord-nav-js
            button(type='button')  Kursk
            button(type='button')  Kursk
            button(type='button')  Kursk
            button(type='button')  Kursk
            button(type='button')  Kursk
            button(type='button')  Kursk
            button(type='button')  Kursk
            button(type='button')  Kursk
            button(type='button')  Kursk
            button(type='button')  Kursk
            button(type='button')  Kursk
            button(type='button')  Kursk
            button(type='button')  Все аптеки

          .accord__hidden._accord-hidden-js
            .accord-hidden__wrap._accord-hidden-wrap-js
              .map__picture.rel
                .imgs
                  img(src='./img/i-14.webp' alt='img')

              .map__daten
                include moc.pug
                include balash.pug
                include br.pug
                include vidn.pug
                include drez.pug
                include dzer.pug
                include vi.pug
                include vis.pug
                include visok.pug
                include vol.pug
                include vi.pug
                include drez.pug
                ul.accord__content._accord-content-js













