ul.accord__content._accord-content-js._accord-default-js
  .maps__item 
    .maps__name  А-МЕГА
    .maps__address Волоколамск, ул. Мастеркова, 3
    .maps__time 8:00-23:00
  .maps__item 
    .maps__name  А-МЕГА
    .maps__address Волоколамск, ул. Мастеркова, 3
    .maps__time 8:00-23:00
  .maps__item 
    .maps__name  А-МЕГА
    .maps__address Волоколамск, ул. Мастеркова, 3
    .maps__time 8:00-23:00
  .maps__item 
    .maps__name  А-МЕГА
    .maps__address Волоколамск, ул. Мастеркова, 3
    .maps__time 8:00-23:00
  .maps__item 
    .maps__name  А-МЕГА
    .maps__address Волоколамск, ул. Мастеркова, 3
    .maps__time 8:00-23:00
  .maps__item 
    .maps__name  А-МЕГА
    .maps__address Волоколамск, ул. Мастеркова, 3
    .maps__time 8:00-23:00
  .maps__item 
    .maps__name  А-МЕГА
    .maps__address Волоколамск, ул. Мастеркова, 3
    .maps__time 8:00-23:00
  .maps__item 
    .maps__name  А-МЕГА
    .maps__address Волоколамск, ул. Мастеркова, 3
    .maps__time 8:00-23:00