section(id='best').best.rel
  //- .imgs
  //-   img.__img(src='./img/img-1.webp' alt='img')
  .container
    .best__title
      h2 BEST шаблонная секцияшаблонная секцияшаблонная секцияшаблонная секция
    .best__body
      p.best__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae culpa alias explicabo ipsam non voluptatum incidunt dolores. Ab quam eum alias exercitationem. Amet labore sunt asperiores, perferendis sequi illum facere?


    ul.soc
      li.soc__item
        a(href="#!") 
          svg
            use(xlink:href='#in')
      li.soc__item
        a(href="#!") 
          svg
            use(xlink:href='#fb')
      li.soc__item
        a(href="#!") 
          svg
            use(xlink:href='#lk')

    .logo 
      svg
        use(xlink:href='#logo')
    a(href="#!") © Aurimas Skaržinskas - Marketingo vadovas
    button(type='button' value='Готово').btn.btn-success.but-wave GAUTI PASIULYMA
    a(href="#!").btn.btn-success.but-wave GAUTI PASIULYMA
    button(type='button').btn.btn-blue button btn-blue 
    button.btn.btn-empty(  type='button' name='ATSILIEPIMAI' ) ATSILIEPIMAI
    button.btn.btn-empty.btn-empty--gauti(  type='button' name='GAUTI' ) GAUTI PASIŪLYMĄ
    input(type='text' placeholder='Поиск' name="")
    form.form-input
      input#1(type='text' placeholder='Leškoti...' name="" )
      label(for='1') Jūsų vardas
    .form-input__submit
      input(type='submit')
      svg
        use(xlink:href='#search')

    .text-field
      input#11(type='text' name='11' value='' placeholder=' Denzel Washington')
      label(for='11') Jūsų vardas
    .text-field.text-field--white
      input#11(type='text' name='11' value='' placeholder=' Denzel Washington')
      label(for='11') Jūsų el. paštas
    .text-field
      textarea#4(name="4" placeholder="Введите текст" )
      label(for='4') Jūsų vardas
    .fildset-checkbox
      .form-check
        input#5(type='checkbox' name="")
        label(for='5') Aš sutinku su privatumo politika

    fildset.fildset-radio
      .form-check
        input(type="radio" id="10" name='a' value='16-25' checked)
        label(for="10")  от 16-25
      .form-check
        input(type="radio" id="11" name='a' value='26-35')
        label(for="11")  от 26-35
      .form-check
        input(type="radio" id="12" name='a' value='36-45')
        label(for="12")  36-45
      .form-check
        input(type="radio" id="13" name='a' value='55')
        label(for="13")  от 45 и старше
    fildset.fildset-radio.fildset-radio--sex
      .form-check
        input(type="radio" id="14" name='s' value='man' checked)
        label(for="14")  Мужчина
          svg
            use(xlink:href='#Union')
      .form-check
        input(type="radio" id="15" name='s' value='frau')
        label(for="15")  Женщина
          svg
            use(xlink:href='#Union')
    .fildset-radio.fildset-radio--tema
      input(type="radio" id="temadark" name='tema' value='not')
      label(for="temadark")  
        svg
          use(xlink:href='#night')
      input(type="radio" id="temalight" name='tema' value='yes' checked)
      label(for="temalight") 
        svg
          use(xlink:href='#sun') 
      span 
      .fildset-radio.fildset-radio--tiers
        input(type="radio" id="tieresyes" name='tieres' value='yes' checked)
        label(for="tieresyes")  Да
        span /
        input(type="radio" id="tieresnot" name='tieres' value='not')
        label(for="tieresnot")  Нет
      fildset.fildset-rating
        .fildset-rating__items
          input(type="radio" id="rating5" name='rating' value='5' )
          label(for="rating5")
            svg
              use(xlink:href='#Star-1')  
          input(type="radio" id="rating4" name='rating' value='4' )
          label(for="rating4")
            svg
              use(xlink:href='#Star-1') 
          input(type="radio" id="rating3" name='rating' value='3' )
          label(for="rating3") 
            svg
              use(xlink:href='#Star-1') 
          input(type="radio" id="rating2" name='rating' value='2' )
          label(for="rating2") 
            svg
              use(xlink:href='#Star-1') 
          input(type="radio" id="rating1" name='rating' value='1' )
          label(for="rating1") 
            svg
              use(xlink:href='#Star-1') 
      .select
        input(type="hidden")
        button.dropdown-button
          span custom select
          svg.icon
            use(xlink:href='#down')
        ul.dropdown-list
          .dropdown-list-wrap
            li.dropdown-list__item(data-value='Notes') Notes
            li.dropdown-list__item(data-value='Photo') Photo
            li.dropdown-list__item(data-value='Dictionary') Dictionary
      div(style=' width:250px; height:250px;').rel
        .imgs
          picture
            source(srcset='./img/paralax.webp ' type='image/webp' media='(min-width: 1200px)')
            source(srcset='./img/img-2.webp' type='image/webp' media='(min-width: 1000px) and (max-width: 1199px)')
            source(srcset='./img/img-1.webp' type='image/webp' media='(max-width: 999px)')
            img(src='./img/paralax.webp' alt='img')