section(id='best').best.rel
  .imgs
    img.__img(src='./img/dist/img-1.webp' alt='img')
  .container
    .best__title
      h2 BEST шаблонная секцияшаблонная секцияшаблонная секцияшаблонная секция
    .best__body
      .best__