section.accord#accord1.descr
    .container
        h2 accord-gorizont
        .accord__body._accord-js
            nav.accord__nav._accord-nav-js
                button(type='button')  Описание
                button(type='button')  Преимущества использования
                button(type='button')  Условия использования
                button(type='button')  Цена
                button(type='button')  Дополнительно 

            .accord__hidden._accord-hidden-js
                .accord-hidden__wrap._accord-hidden-wrap-js
                    .accord__content._accord-content-js._accord-default-js
                        h2 Описание
                        include content-accord-gorizont.pug
                    .accord__content._accord-content-js._accord-default-js
                        h2 Преимущества использования
                        include content-accord-gorizont.pug
                    .accord__content._accord-content-js._accord-default-js
                        h2 Условия использования
                        include content-accord-gorizont.pug
                    .accord__content._accord-content-js._accord-default-js
                        h2 Цена
                        include content-accord-gorizont.pug
                    .accord__content._accord-content-js._accord-default-js
                        h2 Дополнительно
                        include content-accord-gorizont.pug







































    .accord__content._accord-content-js
        p 22222
        p 22222222222 
        p 22222222222 
        p 22222222222 
    .accord__content._accord-content-js
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
    .accord__content._accord-content-js
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
    .accord__content._accord-content-js
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333
        p 3333333333

