.accord {
  &__body {
  }
  &__nav {
    display: grid;
    grid-auto-flow: column;
    button {
      @include transition;

      &:hover {
      }
      &._is-active {
      }
    }
  }
  &__hidden {
  }
  &__content {
    height: 0;
    overflow: hidden;
    &._is-active {
      height: auto;
    }
  }
}

._accord-hidden-js {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  @include transition;

  &._is-active {
    grid-template-rows: 1fr;
  }
}
._accord-hidden-wrap-js {
  min-height: 0;
  min-width: 0;
}
