section(id='komf').komf.rel
  .container
    .komf__img.rel
      .imgs
        img(src='./img/komf.webp' alt='img')

    .komf__body
      .komf__title.title
        span С нами   
        h3  безопасно 
        span  и 
        h3  комфортно 
      p.komf__text Лицензия на трудоустройство 
        span приказ №227 от 15.08.18
      ul.komf__blocks.blocks
        li
          .blocks__img
            .vector
              svg
                use(xlink:href='#Vector')
          p.dunn Подберем   
          p.dunn подходящую
          p.dunn вакансию 
        li
          .blocks__img
            .vector
              svg
                use(xlink:href='#Vector')
          p.dunn Подберем  
          p.dunn подходящий 
          p.dunn маршрут 

        li
          .blocks__img
            .vector
              svg
                use(xlink:href='#Vector')
          p.dunn Оформим все   
          p.dunn необходимые
          p.dunn миграционные
          p.dunn документы 
        li
          .blocks__img
            .vector
              svg
                use(xlink:href='#Vector')
          p.dunn Встретим и 
          p.dunn  поселим 

        li
          .blocks__img
            .vector
              svg
                use(xlink:href='#Vector')
          p.dunn Окажем 
          p.dunn необходимую 
          p.dunn поддержку 1 
          p.dunn месяц работы

      .komf__ruf
        span.dick Звоните прямо&nbsp;
        span сейчас&nbsp;
        span.tel  +38 (093) 324 23 43&nbsp;
        span или&nbsp;
        span.dick  заполняйте анкету&nbsp;
        span &nbsp;и мы перезвоним вам&nbsp;
        a.btn.btn-success.but-wave.popups-init-js(rel='#popup1' href='#!') 
          p Заполнить анкету


