section(id='profit').profit.rel
  .container.rel
    .profit__decor
      .imgs
        img(src='./img/mac.webp' alt='img')
    .profit__img
      .imgs
        img(src='./img/mac1.webp' alt='img')

    .profit__body
      .profit__title
        h2 Чем еще можем быть полезны?
      p.profit__text Получите <span class ='profit__span'> 3 бесплатные консультации</span> и примите решение о дальнейшем сотрудничестве
      a.btn.btn-success.but-wave.popups-init-js(rel='#popup1' href='#!') 
        span  Посмотреть услуги
        svg
          use(xlink:href='#arrow-right')
