.descr {
  margin: 40px 0 128px;
  .accord {
    &__body {
      border: 1px solid #7ab764;
      display: flex;
    }
    &__nav {
      min-width: 330px;
      display: inline-flex;
      flex-direction: column;
      border-radius: 8px;
      box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.1);
      button {
        padding: 16px;
        font-size: 18px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0px;
        padding: 10px;
        text-align: left;
        color: $akzent;
        &:hover {
          background: lighten($black-3, 10%);
        }
        &._is-active {
          background: $bg-grey;
        }
      }
    }
    &__hidden {
      margin: 0 0 0 48px;
    }
    &__content {
      height: 0;
      overflow: hidden;
      h2 {
        font-size: 40px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0px;
        color: $akzent;
      }
      h3,
      li,
      p {
        font-size: 24px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0px;
        color: $black-1;
      }
      &._is-active {
        height: auto;
      }
      & > ul {
        margin: 0 0 0 9px;
      }
      ul > li > ul > li {
        list-style-type: disc;
        margin: 0 0 0 49px;
      }
    }
  }
}
