.ideas {
  margin: 100px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;

  &__item {
    padding: 64px 75px 54px 64px;
    background: var(--dark-primary, #2a254b);
    @include flex-column;
    &:first-child {
      min-height: 478px;
      padding: 0 0 0 0;
    }
  }
}

@media (max-width: 767px) {
  .ideas {
    grid-template-columns: 1fr;
    margin: 60px 0 0 0;
    row-gap: 24px;
    &__item {
      &:first-child {
        min-height: 280px;
      }
      &:last-child {
        min-height: 260px;
        height: 65vw;
      }
    }
  }
}
