section#ideas
  .container
    .ideas
      .ideas__item
        .hero-info.hero-info--dark
          .hero-info__title
            h2 It started with a small idea
          p.hero-info__text A global brand with local beginnings, our story begain in a small studio in South London in early 2014
          a(href='#!').btn.btn--dark.hero-info__button View collection
      .ideas__item.rel
        .imgs
          img(src='./img/ideas/i-1.webp' alt='img')