extends layouts/default
include components/mixins

block variables
  - const title = "INDEX"

block content
  include ../modules/header/header
  main.inner
    include ../modules/bunner/bunner
    include ../modules/bunner/bunner-slider
    include ../modules/best/best
    include ../modules/form/form
    include ../modules/probe/probe
    include ../modules/marque/marque
    include ../modules/title/title
    include ../modules/do/do
    include ../modules/wk/wk
    include ../modules/tab/tab
    include ../modules/side-menu/side-menu
    include ../modules/accord/accord
    include ../modules/galery/galery
    include ../modules/cases/cases
    include ../modules/galCases/galCases
    include ../modules/look/look
    include ../modules/swiper-1/swiper-1
    include ../modules/slider-full/slider-full
    include ../modules/slider-double/sdouble
    include ../modules/slider-scroll/slider-scroll

    include ../modules/typed/typedHover
    include ../modules/typed/typedScroll
    include ../modules/footer/footer
    include ../modules/popup/popup
block scripts
  script(src="js/main.js")

block spriteSvg 
  .hidden
    include ../img/svg/sprite.svg