extends layouts/default
include components/mixins

block variables
  - const title = "ROOM"

block content
  main.inner
      //- include ../familia/rooms/rooms
      include ../blocks/modules/header/header
      include ../familia/shild/shild
      include ../familia/book/book
      include ../blocks/modules/footer/footer
block scripts
  
  script(src="js/main.js" )


block spriteSvg 
  .hidden
    include ../img/svg/sprite.svg