extends layouts/default
include components/mixins

block variables
  - const title = "INDEX"

block content
  main.inner
      include ../blocks/modules/rooms/rooms
      include ../blocks/modules/shild/shild
      include ../blocks/modules/book/book
block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script( src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js")
  script( src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js")
  //- script( src="https://unpkg.com/vue@3/dist/vue.global.js")

  script(src="js/vendor.js")
  script(src="js/main.js")


block spriteSvg 
  .hidden
    include ../img/svg/sprite.svg