extends layouts/default
include components/mixins

block variables
  - const title = "ui"

block content
  main.inner
    .container
      include ../ui/ui
block scripts
  script(src="js/main.js")
block spriteSvg 
  .hidden
    include ../img/svg/sprite.svg