form(action="#" name="send-form").send__body
      .send__linia
            p Оценка:
            fildset.fildset-rating
                  .fildset-rating__items
                        input(type="radio" id="rating5" name='rating' value='5' )
                        label(for="rating5")
                              svg
                                    use(xlink:href='#star-empty')  
                        input(type="radio" id="rating4" name='rating' value='4' )
                        label(for="rating4")
                              svg
                                    use(xlink:href='#star-empty') 
                        input(type="radio" id="rating3" name='rating' value='3' )
                        label(for="rating3") 
                              svg
                                    use(xlink:href='#star-empty') 
                        input(type="radio" id="rating2" name='rating' value='2' )
                        label(for="rating2") 
                              svg
                                    use(xlink:href='#star-empty') 
                        input(type="radio" id="rating1" name='rating' value='1' )
                        label(for="rating1") 
                              svg
                                    use(xlink:href='#star-empty')
      .send__linia
            .text-field
                  textarea#4(name="отзыв" row='20' placeholder="Введите текст" )
                  label(for='4') Напишите ваш отзыв...

      .send__linia.send__linia--inputs
            .text-field
                  input#1(type='text' name='ФИО' placeholder=' Denzel Washington')
                  label.text-field__label(for='1') ФИО
            .text-field
                  input#2(type='phone' name='Телефон' placeholder=' Denzel Washington')
                  label.text-field__label(for='2') Телефон
            .select
                  input(type="hidden" name="town")
                  button(type="button").dropdown-button
                        span Москва
                        svg.icon
                              use(xlink:href='#arrow')
                  ul.dropdown-list
                        .dropdown-list-wrap
                              li.dropdown-list__item(data-value='Notes') Ростов-на-Дону
                              li.dropdown-list__item(data-value='Notes') Mосква
                              li.dropdown-list__item(data-value='Photo') Санкт Петербург
                              li.dropdown-list__item(data-value='Dictionary') Сан Франциско

      .send__linia.send__linia--check
            .fildset-checkbox
                  .form-check
                        input#55(type='checkbox' name="agry")
                        label(for='55') Согласен с  правилами публикации отзывов
      button(type="submit").btn.btn-success.send__btn.but-wave Отправить отзыв
form.form
      input(name='example_button' type='button' value='Лайкнуть статью')
      input(name='example_color' type='color' value='#55cc77')
      input(name='example_date' type='date')
      input(name='example_datetime-local' type='datetime-local')
      input(name='example_email' type='email')
      input(name='example_file' type='file')
      input(name='example_hidden' type='hidden' value='48784')
      input(name='example_image' type='image' src='/images/button_image.png' width='130' height='42')
      input(name='example_month' type='month')
      input(name='example_number' type='number')
      input(name='example_password' type='password')
      input(name='example_reset' type='reset' value='Очистить поля')
      input(name='example_tel' type='tel')
      input(name='example_time' type='time')
      input(name='example_url' type='url')
      input(name='example_week' type='week')

