form.form
      input(name='example_button' type='button' value='Лайкнуть статью')
      input(name='example_color' type='color' value='#55cc77')
      input(name='example_date' type='date')
      input(name='example_datetime-local' type='datetime-local')
      input(name='example_email' type='email')
      input(name='example_file' type='file')
      input(name='example_hidden' type='hidden' value='48784')
      input(name='example_image' type='image' src='/images/button_image.png' width='130' height='42')
      input(name='example_month' type='month')
      input(name='example_number' type='number')
      input(name='example_password' type='password')
      input(name='example_reset' type='reset' value='Очистить поля')
      input(name='example_tel' type='tel')
      input(name='example_time' type='time')
      input(name='example_url' type='url')
      input(name='example_week' type='week')

