



section(id='book').book.rel
  .container
    .book__title
      h2 Пожалуйста, заполните анкету

    div.book-section
      forma.book-section-form
        .book-section-form__field
          .text-block
            .text-field
              input#firstname(type='text' name='firstname' value='' placeholder=' Denzel Washington')
              label.text-field__label(for='firstname') Имя
              span Поле обязательно для заполнения
            .text-field
              input#name(type='text' name='name' value='' placeholder=' Denzel Washington')
              label.text-field__label(for='name') Фамилия
              span Поле обязательно для заполнения
            .form-field.form-field--year
                span.form-field__span Год рождения
                #check-year
                .form-field__area-svg
                  svg
                    use(xlink:href='#arrow-down')

          h3 Даты проживания
          .text-block
            .form-field
              span.form-field__span Заезд
              #check-in
              .form-field__area-svg
                svg
                  use(xlink:href='#arrow-down')
            .form-field
              span.form-field__span Выезд
              #check-out
              .form-field__area-svg
                svg
                  use(xlink:href='#arrow-down')


          .text-block
            .form-field
              input(type="text" placeholder='Место проживания')
              .form-field__area-svg
                svg
                  use(xlink:href='#arrow-down')

        .book-section-form__field
          .book-section-form__title 
            h3 Гостиничный комплекс
          .book-section-form-line
            p Вежливость и корректность персонала?
            ul.vidjets
              li
                svg
                  use(xlink:href='#Star-1')
              li
                svg
                  use(xlink:href='#Star-1')
              li
                svg
                  use(xlink:href='#Star-1')
              li
                svg
                  use(xlink:href='#Star-1')
              li
                svg
                  use(xlink:href='#Star-1')
          .book-section-form-line
            p Скорость и качество поселения, расчета, выселения?
            ul.vidjets
              li
                svg
                  use(xlink:href='#Star-2')
              li
                svg
                  use(xlink:href='#Star-2')
              li
                svg
                  use(xlink:href='#Star-2')
              li
                svg
                  use(xlink:href='#Star-2')
              li
                svg
                  use(xlink:href='#Star-1')
          .book-section-form-line
            p Чистота в номере?
            ul.vidjets
              li
                svg
                  use(xlink:href='#Star-2')
              li
                svg
                  use(xlink:href='#Star-2')
              li
                svg
                  use(xlink:href='#Star-2')
              li
                svg
                  use(xlink:href='#Star-2')
              li
                svg
                  use(xlink:href='#Star-2')
          .book-section-form-line
            p Внешний вид персонала гостиницы?
            ul.vidjets
              li
                svg
                  use(xlink:href='#Star-2')
              li
                svg
                  use(xlink:href='#Star-2')
              li
                svg
                  use(xlink:href='#Star-2')
              li
                svg
                  use(xlink:href='#Star-2')
              li
                svg
                  use(xlink:href='#Star-1')
          .book-section-form-line
            p Имеет ли для Вас значение возможность посещение клуба с вашими питомцами?
            fildset.fildset-switch
              input(type="radio" id="tieresyes" name='tieres' val='yes' checked)
              label(for="tieresyes")  Да
              span /
              input(type="radio" id="tieresnot" name='tieres' val='not')
              label(for="tieresnot")  Нет
          .book-section-form-line.book-section-form-line--text
            p Ваши предложения / пожелания
            textarea#form-line(name="form-line"   placeholder="Введите текст")

        .book-section-form__field.book-section-form__field--text
          p.form-fild-text Благодарим Вас за заполнение анкеты.
          p.form-fild-text Это поможет сделать ваш отдых именно таким как вы того желаете
          p.form-fild-text.form-fild-text--green Все пожелания и предложения вы можете сообщить по номеру телефона 
            a(href="#!") +7 (961)511-66-14


    //- h2(style='margin: 40px 0 0 0;') инпуту добавлен класс .input_invalid  
    //- .text-field
    //-   input#firstname(type='text' name='firstname' value='' placeholder=' Denzel Washington').input_invalid
    //-   label.text-field__label(for='firstname' ) Имя
    //-   span Поле обязательно для заполнения

    //- h2(style='margin: 40px 0 0 0;') инпуту добавлен класс .input_valid   
    //- .text-field
    //-   input#firstname(type='text' name='firstname' value="Джек Безз" placeholder=' Denzel Washington').input_valid
    //-   label.text-field__label(for='firstname') Имя
    //-   span Спасибо за предоствленную информацию!

