.book-section {
  &__form {
  }

  // ==================
  .book-section-form {
    h3 {
      @include Text-Style-33;
      margin: 18px 0 20px 0;
    }

    &__field {
      padding: 40px 0 60px 0;
      border-top: 1px solid $white-three;
      &--text {
        .form-fild-text {
          @include Text-Style-25;
          margin: 0 0 5px 0;
          &--green {
            @include Text-Style-26;
          }
          a {
            margin: 10px 0 0 0;
          }
        }
      }
    }
    input {
      min-height: 51px;
      padding: 0px 20px;
      border-radius: 5px;
      border: solid 1px $greyish;

      z-index: 2;
      position: relative;
    }
    .text-block {
      display: table;
    }

    .text-field,
    .form-field {
      float: left;
      position: relative;
      width: 320px;
      margin: 0 20px 30px 0;
    }

    .text-field {
      &:last-of-type {
        margin: 0 0 0 0;
      }
      input {
        &::placeholder {
          opacity: 0;
        }
      }
      label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        @include transition;
        @include Text-Style-31;
        z-index: 2;
      }
      input:focus {
        background: $focus;
        padding: 30px 20px 8px;
        color: $black-two;
        font-family: "PT Serif", serif;
        font-size: 26px;
        font-weight: 400;
        line-height: 34px; /* 130.769% */
        & ~ label {
          z-index: 4;
          padding-bottom: 30px;
        }
      }
      input:not(:placeholder-shown) {
        color: $black-two;
        font-family: "PT Serif", serif;
        font-size: 26px;
        font-weight: 400;
        line-height: 34px; /* 130.769% */
        background: $focus;
        padding: 30px 20px 8px;
        & ~ label {
          z-index: 4;
          padding-bottom: 30px;
        }
      }

      span {
        position: absolute;
        top: calc(100% + 10px);
        width: 100%;
        left: 0;
        display: inline-block;
        @include Text-Style-32;
      }

      .input_invalid {
        border: solid 1px #ff0000;
        & ~ label ~ span {
          color: #ff0000;
        }
      }

      .input_valid {
        border: solid 1px $viridian;
        padding-top: 30px;
        & ~ label {
          padding-bottom: 30px;
        }
        & ~ label ~ span {
          color: $viridian;
        }
      }
    }
    .form-field {
      position: relative;
      border-radius: 5px;
      border: solid 1px #b4b4b4;
      @include flex-aligne-center;
      &--year{
        max-width: 230px;
      }
      #check-in {
        width: 100%;
        height: 100%;
        position: relative;
      }
      &._is-active {
        background: $focus;
        color: $black-two;
        font-family: "PT Serif", serif;
        font-size: 26px;
        font-weight: 400;
        line-height: 34px; /* 130.769% */
        input {
          padding: 30px 20px 8px;
        }
        span.form-field__span {
          z-index: 20;
          padding-bottom: 30px;
        }
        .form-field__area-svg {
          z-index: 20;
          transform: translateY(calc(-50% - 15px)) rotate(180deg);
        }
      }
      &._is-vertig {
        background: $focus;
      }

      input {
        background: transparent;
        border: none;
        & ~ div {
          display: none;
        }
        & ~ svg {
          display: none;
        }

        &:not(:placeholder-shown) {
          color: $black-two;
          font-family: "PT Serif", serif;
          font-size: 26px;
          font-weight: 400;
          line-height: 34px; /* 130.769% */
          background: $focus;
          padding: 30px 20px 8px;
        }
      }
      span.form-field__span {
        z-index: -20;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        @include Text-Style-31;
        transition: all .5s;
      }
      &__area-svg {
        z-index: -20;
        position: absolute;
        top: 50%;
        left: auto;
        right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: #eee;
        transform: translateY(-50%);
        @include flex-center;
        transition: all .4s;
        svg {
          width: 13px;
          height: 7px;
        }
      }
    }
    &-line {
      @include flex-aligne-center;
      margin: 43px 0 0 0;
      p {
        @include Text-Style-36;
        margin: 0 20px 0 0;
        white-space: nowrap;
      }
      .vidjets {
        @include flex-aligne-center;
        column-gap: 5px;
      }
      svg {
        width: 30px;
        height: 30px;
      }
      &--text {
        flex-direction: column;
        align-items: flex-start;
        textarea {
          margin: 10px 0 0 0;
          max-height: 86px;
          padding: 15px 20px;
          border-radius: 5px;
          border: solid 1px $greyish;
          background-color: $white;
          @include Text-Style-32;
          &::placeholder {
            @include transition;
            @include Text-Style-31;
          }
          &:focus {
            background: $focus;
            &::placeholder {
              opacity: 0;
            }
          }
          &:not(:placeholder-shown) {
            background: $focus;
            &::placeholder {
              opacity: 0;
            }
          }
        }
      }
    }
    &__title {
      h3 {
        @include Text-Style-37;
      }
    }
  }
}
