section#bunner.bunner
  .container
    .bunner__body
        .bunner__title
          h1 Luxury homeware for people who love timeless design quality
        p.bunner__text Shop the new Spring 2022 collection today
        a(href='#!').btn.btn--light.bunner__button View collection
  .bunner__bg.rel
    .imgs
      picture
        source(srcset='./img/hero.webp ' type='image/webp' media='(min-width: 1200px)')
        source(srcset='./img/hero.webp' type='image/webp' media='(min-width: 1000px) and (max-width: 1199px)')
        source(srcset='./img/hero.webp' type='image/webp' media='(max-width: 999px)')
        img(src='./img/hero.webp' alt='img')


   
