.bunner {
  min-height: 100vh;
  position: relative;
  @include flex-aligne-center;
  margin: 132px 0 0 0;
  padding: 130px 0;
}

.bunner .container {
  z-index: 2;
  position: relative;
  @include flex-aligne-center;
  justify-content: end;
  height: 100%
}
.bunner__bg{
  position: absolute;
  width: 100%;
  margin: 130px 0 ;
  min-height: 704px;
}
.bunner__body {
  @include flex-column;
  width: 630px;
  min-height: 444px;
  padding: 48px 61px 46px 56px;
  background-color: $white;
}
.bunner__title {
  h1 {
   color: $dark;
  @include Headings-H2;
  }
}
.bunner__text {
  margin: 20px 0 0 0;
  text-align: left;
  color: $dusk;
  @include Body-Large;
}

.bunner__button {
margin: 157px 0 0 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
      
}
@media (max-width: 767px) {
.bunner {
  margin: 70px 0 0 0;
  padding:  0;
  display: grid;
  grid-template-columns:  1fr;
  // column-gap: 50px;
  // row-gap: 50px;
}

.bunner .container {
  z-index: 2;
  position: relative;
  @include flex-aligne-center;
  justify-content: end;
  height: 100%;
}

.bunner__body {
  width: 100%;
  min-height: 335px;
  padding: 45px 25px;
  background-color: $white;
}


.bunner__bg{
  position: relative;
  width: 100%;
  margin: 0px 0 ;
  min-height: 304px;
}


.bunner__title {
  h1 {
   color: $dark;
  @include Headings-H2;
  }
}
.bunner__text {
  margin: 20px 0 0 0;
  text-align: left;
  color: $dusk;
  @include Body-Large;
}

.bunner__button {
margin: 157px 0 0 0;
}
}
