.bunner {
  min-height: 100vh;
  position: relative;
  @include flex-aligne-center;
  margin: 132px 0 0 0;
  padding: 130px 0;
}

.bunner .container {
  z-index: 2;
  position: relative;
  @include flex-aligne-center;
  justify-content: end;
  height: 100%
}

.bunner__body {
  @include flex-column;
  width: 630px;
  min-height: 444px;
  padding: 48px 61px 46px 56px;
  background-color: $white;
}
.bunner__title {
  h1 {
   color: $dark;
  @include Headings-H2;
  }
}
.bunner__text {
  margin: 20px 0 0 0;
  text-align: left;
  color: $dusk;
  @include Body-Large;
}

.bunner__button {
margin: 157px 0 0 0;
}
