.bunner {
  min-height: 100vh;
  position: relative;
}

.bunner .container {
  z-index: 2;
  position: relative;
}

.bunner__body {
  display: flex;
  flex-direction: column;
  padding: 300px 300px 0 0px;
}
.bunner__title {
  h1 {
    font-size: 60px;
    font-family: "Lobster-Regular";
    color: #1763b2;
    text-shadow:  0px 0px 4px #bdd8f5;
  }
}
.bunner__text {
  margin: 50px 0 30px 0;
  text-shadow: 0px 0px 4px #1763b2;
}

.bunner__button {
  min-height: 40px;
}
// .slider-main-js {
//   max-height: 100%;
// }
