.tab {
  &__body {
    display: table;
  }
  .kab {
    &__title {
      @include transition;
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
        width: 15px;
        height: 18px;
        @include transition;
      }
      &:hover {
        cursor: pointer;
      }
    }
    &__hidden {
      position: absolute;
      background: $white;
      p {
        padding: 10px;
      }
    }
    &._is-active {
      & > .kab__title {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}

._kab-js {
  float: left;
  width: 50%;
  & > ._kab-hidden-js {
    overflow: hidden;
    @include transition;
    display: grid;
    grid-template-rows: 0fr;
    border: 1px solid $black-text;
    border-color: transparent;
    ._kab-wrap-js {
      min-height: 0;
    }
  }
  &._is-active {
    & > ._kab-hidden-js {
      border-color: $black-text;
      @include transition;
      grid-template-rows: 1fr;
      border: 1px solid $black-text;
    }
  }
}
