.tab {
  &__title {
    @include transition;
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      width: 15px;
      height: 18px;
      @include transition;
      transform: rotate(-180deg);
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__hidden {
    p {
      padding: 10px;
    }
  }
  &._is-active {
    & > ._tab-title-js {
      h4 {
      }
      ._burger {
        span {
          opacity: 0;
        }
        &::after {
          top: 43%;
          transform: rotate(40deg);
        }
        &::before {
          bottom: 40%;
          transform: rotate(-40deg);
        }
      }

      svg {
        transform: rotate(0deg);
      }
    }
    & > .kab__hidden {
    }
  }
}

._tab-js {
  & > ._tab-hidden-js {
    overflow: hidden;
    @include transition;
    display: grid;
    grid-template-rows: 0fr;
    ._tab-wrap-js {
      min-height: 0;
    }
  }
  &._is-active {
    & > ._tab-hidden-js {
      grid-template-rows: 1fr;
    }
  }
}
