.tab._tab-js._tab-top-js.rel
  .tab__title._tab-title-js
    h4  title1
    svg
      use(xlink:href='#arrow-down')
  .tab__hidden._tab-hidden-js 
    ._tab-wrap-js
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

.tab._tab-js._tab-top-js.rel
  .tab__title._tab-title-js
    h4  title2
    svg
      use(xlink:href='#arrow-down')
  .tab__hidden._tab-hidden-js 
    ._tab-wrap-js
      .tab._tab-js.rel
        .tab__title._tab-title-js
          h4  title21
          svg
            use(xlink:href='#arrow-down')
        .tab__hidden._tab-hidden-js 
          ._tab-wrap-js
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .tab._tab-js.rel
        .tab__title._tab-title-js
          h4  title22
          svg
            use(xlink:href='#arrow-down')
        .tab__hidden._tab-hidden-js 
          ._tab-wrap-js
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .tab._tab-js.rel
        .tab__title._tab-title-js
          h4  title23
          svg
            use(xlink:href='#arrow-down')
        .tab__hidden._tab-hidden-js 
          ._tab-wrap-js
            .tab._tab-js.rel
              .tab__title._tab-title-js
                h4  title1
                svg
                  use(xlink:href='#arrow-down')
              .tab__hidden._tab-hidden-js 
                ._tab-wrap-js
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .tab._tab-js.rel
              .tab__title._tab-title-js
                h4  title1
                svg
                  use(xlink:href='#arrow-down')
              .tab__hidden._tab-hidden-js 
                ._tab-wrap-js
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .tab._tab-js.rel
              .tab__title._tab-title-js
                h4  title1
                svg
                  use(xlink:href='#arrow-down')
              .tab__hidden._tab-hidden-js 
                ._tab-wrap-js
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
//- .kab._kab-js
  .kab__title._kab-title-js
    h4 kab title2
    svg
      use(xlink:href='#down')
  .kab__hidden._kab-hidden-js 
    ._kab-wrap-js
      .tab__body._tab-body-js
        .kab._kab-js
          .kab__title._kab-title-js
            h4 kab title3
            svg
              use(xlink:href='#down')
          .kab__hidden._kab-hidden-js 
            ._kab-wrap-js
              p Lorem ipsum dolor sit amet.
        .kab._kab-js
          .kab__title._kab-title-js
            h4 kab title4
            svg
              use(xlink:href='#down')
          .kab__hidden._kab-hidden-js 
            ._kab-wrap-js 
              .tab__body._tab-body-js
                .kab._kab-js
                  .kab__title._kab-title-js
                    h4 kab title3
                    svg
                      use(xlink:href='#down')
                  .kab__hidden._kab-hidden-js 
                    ._kab-wrap-js
                      p Lorem ipsum dolor sit amet.
                .kab._kab-js
                  .kab__title._kab-title-js
                    h4 kab title4
                    svg
                      use(xlink:href='#down')
                  .kab__hidden._kab-hidden-js 
                    ._kab-wrap-js 
                      p Lorem ipsum dolor sit amet.