section#bunner-slider.bunner-slider
  .swiper-pagination
  .slider-bunner.slider-bunner-js.swiper-container
    button.slider-arrow.full-prev.js-full-prev(type='button')
      svg
        use(xlink:href='#left')
    button.slider-arrow.full-next.js-full-next(type='button')
      svg
        use(xlink:href='#right')

    ul.bunner-slider__body.swiper-wrapper
      -
        var bunerFaq = [
          {
            src: './img/bunner/i-1.webp',
            title: "Конный клуб",
            title1: "В клубе загородного отдыха Усадьба «Фамилия»"
          },
          {
            src: './img/bunner/i-2.webp',
            title: "Конный клуб",
            title1: "В клубе загородного отдыха Усадьба «Фамилия»"
          },
          {
            src: './img/bunner/i-1.webp',
            title: "Конный клуб",
            title1: "В клубе загородного отдыха Усадьба «Фамилия»"
          }
        ];

      each entry in bunerFaq
        li.slider__item.slider-card.swiper-slide
          .slider-card__img.imgs
            img(data=entry.src alt='img')
          .slider-card__body
            .slider-card__title
              h1=entry.title
            p.slider-card__text=entry.title1
            a.btn.btn--success.but-wave.popups-init-js(rel='#popup1' href='#!')
              p form
