.popup.popup-js
  .popup__overlay.popup-overlay-js
    .popup__inner.popup-inner-js
      #video1.popup__content.popup__content--plyr
        video#playerFull1.slider-video.playerFull1(playsinline='' controls='')
          source(src='./video/video-1.mp4' type='video/mp4')
      #video2.popup__content.popup__content--plyr
        video#playerFull2.slider-video.playerFull1(playsinline='' controls='')
          source(src='./video/video-2.mp4' type='video/mp4')
    i.popup__close.popup-close-js
      svg
        use(xlink:href='#x-lg')
