section.accord#accord--cases1
  .container
    .accord__body._accord-js._accord-galery-js._accord-cases-js
      nav.accord__nav._accord-nav-js
        button(type='button')  s
        button(type='button')  l
        button(type='button')  i
        button(type='button')  d
        button(type='button')  all

      .accord__hidden._accord-hidden-js
        .accord-hidden__wrap._accord-hidden-wrap-js
          ul.accord__content._accord-content-js._accord-default-js
            -
              var blocks = [
                {src: './img/img-3.webp',data: 'red',},
                {src: './img/img-1.webp',data: 'red',},
                {src: './img/img-2.webp',data: 'red',},
                {src: './img/paralax.webp',data: 'blue',},
                {src: './img/paralax.webp',data: 'blue',},

              ];
            each block in blocks
              li
                    img(src=block.src alt='img')
          ul.accord__content._accord-content-js
            -
              var blocks = [
                {src: './img/paralax.webp',data: 'blue',},
                {src: './img/paralax.webp',data: 'blue',},
                {src: './img/img-2.webp',data: 'blue',},
                {src: './img/img-2.webp',data: 'blue',},
              ];
            each block in blocks
              li
                    img(src=block.src alt='img')
          ul.accord__content._accord-content-js
            -
              var blocks = [
                {src: './img/img-1.webp',data: 'green',},
                {src: './img/img-2.webp',data: 'green',},
                {src: './img/img-3.webp',data: 'green',},
              ];
            each block in blocks
              li
                    img(src=block.src alt='img')
          ul.accord__content._accord-content-js
            -
              var blocks = [
                {src: './img/img-2.webp',data: 'coral',},
                {src: './img/img-1.webp',data: 'coral',},
              ];
            each block in blocks
              li
                    img(src=block.src alt='img')
          ul.accord__content._accord-content-js
          .slider-cases.swiper-container
              button.slider-arrow.cases-prev.js-cases-prev(type='button')
                  svg
                        use(xlink:href='#left')
              button.slider-arrow.cases-next.js-cases-next(type='button')
                  svg
                        use(xlink:href='#right')
              ul.swiper-wrapper
              .swiper-pagination-cases


