#app.app

//- section(id='rooms').rooms.rel
//-         section.create-anzahl
//-           .create-anzahl__title
//-             h3 Количество гостей
//-           form(@submit.prevent)
//-             .create-anzahl__section(v-for='todo in todos_asc' :key='todos.indexOf(todo)')
//-               .create-anzahl__title--section
//-                 h4 НОМЕР {{ todos.indexOf(todo)+1 }}
//-               .create-anzahl__items
//-                 .create-anzahl__item
//-                   p Взрослые
//-                   span {{ todo.content_erwachsene }} 
//-                     button(type="button" @click.prevent='decrErwachsene(todo)') &minus;
//-                     button(type="button" @click.prevent='incrErwachsene(todo)') +

//-                 .create-anzahl__item
//-                   p Дети младше 14 лет
//-                   span {{ todo.content_kinder }}
//-                     button(type="button" @click.prevent='decrKinder(todo)') &minus;
//-                     button(type="button" @click.prevent='incrKinder(todo)') +
//-               button.create-anzahl__delete(@click.prevent='removeTodo(todo)') Удалить номер из списка
//-             .create-anzahl__buttons
//-               button(type='button' @click.prevent='addTodo').create-anzahl__button  + Добавить ещё номер 
//-               input(type='submit' value='Готово').create-anzahl__fertig


