.create-anzahl {
  width: 300px;
  min-height: 275px;
  padding: 20px 20px 24px;
  border-radius: 3px;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.24);
  background-color: white;

  &__section {
    border-top: 1px solid rgba(61, 61, 61, 0.24);
    margin: 16px 0 25px 0;
  }

  &__title {
    margin: 0 0 16px 0;
    &--section {
      margin: 10px 0 0 0;
    }

    h3 {
      font-family: "Arial-Bold", sans-serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 0.83;
      color: #3d3d3d;
    }

    &--section {
      h4 {
        font-family: "Arial-Bold", sans-serif;
        font-size: 12px;
        font-weight: bold;
        line-height: 2.67;
        color: #3d3d3d;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    margin: 8px 0 0 0;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    p {
      font-family: "Arial-Regular", sans-serif;
      font-size: 12px;
      text-align: left;
      color: rgba(61, 61, 61, 0.8);
      font-weight: 400;
      line-height: 15px; /* 125% */
      color: rgba(61, 61, 61, 0.8);
    }

    span {
      position: relative;
      margin: 5px 0 0 0;
      font-family: "Arial-Regular", sans-serif;
      font-size: 21px;
      font-weight: 400;
      line-height: 1.9;
      color: #3d3d3d;
      border-radius: 3px;
      border: 1px solid rgba(61, 61, 61, 0.38);
      background: #fff;
      text-align: center;
      transition: all 0.2s ease-in-out;
      width: 100%;
      height: 40px;
      cursor: pointer;
    }

    button {
      width: 24px;
      height: 24px;
      color: #006b36;
      font-size: 20px;
      background-color: rgba(7, 91, 186, 0.09);
      position: absolute;
      top: 50%;
      // transform: translateY(calc(-50% + 10px));
      transform: translateY(-50%);
      left: 8px;

      &:last-of-type {
        left: auto;
        right: 8px;
      }
    }
  }

  &__delete {
    border-radius: 3px;
    background-color: rgba(7, 91, 186, 0.09);
    margin: 10px 0 0 0;
    font-family: "Arial-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #3d3d3d;
    padding: 5px 0;
    width: 100%;
    text-align: center;
  }

  &__button {
    color: #006b36;
    text-align: center;
    font-family: "Arial-Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    height: 40px;
    border-radius: 3px;
    background-color: rgba(7, 91, 186, 0.09);
  }

 

  &__buttons {
    display: grid;
    grid-template-columns: 140px 104px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(61, 61, 61, 0.24);
    padding: 24px 0 0 0;
  }
}
