section(id='crambs').crambs.rel
  .container
    .crambs__body
      a(href='#!' ) 
        span Главная
        svg
          use(xlink:href='#arrow-right')
      a(href='#!' ) 
        span Какая-то категория
        svg
          use(xlink:href='#arrow-right')
      a(href='#!' )._product Прописан, капсулы, 120шт
