.prob {
  &__body {
    min-height: 719px;
    padding: 50px 0 0 0;
  }
  &__title {
    h2 {
      @include Text-Style-12;
    }
  }
  .fildset-radio--tiers {
    @include flex-column;
    row-gap: 30px;
    margin: 90px 0 0 0;
    align-items: start;
    @include transition;
    label {
      position: relative;
    }
    p {
      @include transition;
      position: relative;
      position: absolute;
      @include Text-Style-15;
      opacity: 0;
      width: 550px;
      border-radius: 18px;
      padding: 20px 45px;
      top: 50%;
      left: 300px;
      transform: translateY(-50%);
      box-shadow: 0 17.8px 35.6px 0 rgba(0, 0, 0, 0.08);
      background-color: $white;
      z-index: -1;
      svg {
        position: absolute;
        height: 0%;
        width: 0%;
        top: 0;
        left: -207px;
      }
    }
  }
  .fildset-radio--tiers input[type="radio"]:checked + label {
    @include Text-Style-14;
    p {
      opacity: 1;
      left: 489px;
      z-index: 1;
      svg {
        width: auto;
        height: 100%;
      }
    }
  }
  .fildset-radio--tiers input[type="radio"]:not(:checked) + label {
    @include Text-Style-13;
    &:hover {
      color: lighten($sandy-yellow, 15%);
    }
  }
}

@media (max-width: 1087px) {
  .prob__body {
    min-height: 684px;
  }
  .prob__body {
    min-height: auto;
    padding: 50px 0 21px 0;
  }
  .prob .fildset-radio--tiers {
    margin: 44px 0 0 0;
  }
  .prob .fildset-radio--tiers input[type="radio"]:not(:checked) + label p {
    transform: translateY(0%);
    left: 0px;
    top: 40px;
    width: calc(100vw - 40px);
    padding: 15px;
  }
  .prob .fildset-radio--tiers input[type="radio"]:checked + label p {
    position: relative;
    opacity: 1;
    transform: translateY(0%);
    left: 0px;
    top: 10px;
    width: calc(100vw - 40px);
    padding: 15px;
    height: auto;
  }
}
