#ques {
  position: relative;
  .sec__img {
    position: absolute;

    &--1 {
      width: 68px;
      height: 68px;
      left: 46%;
      top: 15%;
    }
    &--2 {
      width: 29px;
      height: 29px;
      left: 34%;
      top: -3%;
    }
    &--3 {
      width: 80px;
      height: 80px;
      left: 75%;
      top: 86%;
    }
    &--4 {
      width: 214px;
      height: 309px;
      left: 7%;
      top: 15%;
    }
    &--5 {
      width: 155px;
      height: 155px;
      left: 83%;
      top: 2%;
    }
    &--6 {
      width: 352px;
      height: 350px;
      left: 43%;
      top: 42%;
    }
    &--7 {
      width: 73px;
      height: 73px;
      left: 93%;
      top: 67%;
    }
  }

  .post {
    &__body {
      width: 100%;
      min-height: 402px;
      height: auto;
      border-radius: 16px;
      background-color: $periwinkle;
      padding: 40px 478px 40px 40px;
      @include flex-column;
      margin: 100px 0 100px 0;
    }
    &__title {
      margin: 0 0 0 0;
      h2 {
        @include Text-Style-40;
      }
    }
    &__text {
      margin: 0 0 0 0;
      @include Text-Style-41;
    }
    &__links {
      margin: 40px 0 0 0;
      display: flex;
      justify-content: space-between;
      a {
        @include flex-aligne-center;
        column-gap: 20px;

        &:hover {
          span {
            @include transition;
            color: #b0a8e9;
          }
        }
      }
      a span {
        @include Text-Style-42;
      }
      a svg {
        width: 35px;
        height: 35px;
      }
    }
    &__img {
      width: 320px;
      height: 640px;
      position: absolute;
      top: 50%;
      right: 100px;
      transform: translateY(-50%);
    }
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  #ques .post__img {
    right: 0px;
    top: 52.5%;
  }
  #ques .post__body {
    padding: 40px 371px 40px 40px;
  }
  #ques .post__links {
    justify-content: center;
    align-items: start;
    flex-direction: column;
    row-gap: 20px;
  }
}

@media (max-width: 767px) {
  #ques .post__body {
    width: 100%;
    min-height: 200px;
    height: auto;
    border-radius: 12px;
    padding: 20px;
    margin: 0px 0 0px 0;
  }
  #ques .post__links a svg {
    width: 20px;
    height: 20px;
  }
  #ques .post__links {
    margin: 10px 0 0 0;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    row-gap: 20px;
  }
  #ques .sec {
    padding: 50px 0 367px;
  }
  #ques .post__img {
    width: 181px;
    height: 334px;
    right: auto;
    left: 50%;
    top: 105%;
    transform: translateY(0%);
    transform: translateX(-50%);
  }
}
