#res {
  .post {
    &__body {
      grid-template-columns: 1fr;
      padding: 0 0 70px 0;
    }

    .title {
      h2 {
        @include Text-Style-25;
        span {
          @include Text-Style-18;
        }
      }
      p {
        @include Text-Style-20;
      }
    }
    &__text {
      @include Text-Style-26;
      margin: 30px 0 0 0;
    }
    &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, 320px);
      justify-content: space-between;
      column-gap: 30px;
      row-gap: 30px;
    }
    &__card {
      h4 {
        @include Text-Style-27;
        line-height: 2;
        border-bottom: 1px solid $sandy-yellow;
      }
      p {
        margin: 20px 0 0 0;
        @include Text-Style-26;
      }
    }
    .btn-success {
      margin: 134px 0 0 0;
      width: 324px;
      height: 75px;
      border-radius: 10px;
      background-color: $periwinkle;
      @include Text-Style-28;
      text-transform: none;
    }
  }
}

@media (max-width: 767px) {
  #res .post .btn-success {
    margin: 10px 0 0 0;
    max-width: 324px;
    width: 100%;
  }
  #res .post__cards {
    grid-template-columns: 1fr;
    justify-content: center;
    column-gap: 0px;
    row-gap: 20px;
  }
  #res .post__text {
    margin: 0px 0 0 0;
  }
}
