#team {
  overflow: hidden;
  .post {
    &__body {
      grid-template-columns: 1fr;
    }
  }
  .galCases__body {
    max-width: 100%;
    margin: 40px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 130px;
    column-gap: 50px;
  }
  .galCases__body button {
    width: 130px;
    height: 100%;
    border-radius: 10px;
    border: solid 2px $periwinkle;
    background-color: $white;
    margin: 0 0 0 0;
    // position: absolute;
    // left: auto;
    // right: -89%;
    // top: 339px;
    // transform: rotate(90deg);

    span {
      transform: rotate(90deg);
      @include Text-Style-30;
      @include flex-aligne-center;
    }
    svg {
      width: 30px;
      height: 30px;
      fill: $periwinkle;
      margin: 6px 0 0 15px;
      transform: rotate(0deg);
      &._is-active {
        transform: rotate(720deg);
      }
    }
  }

  .galCases__body ul {
    padding: 36px 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 405px);
    gap: 0 0px;
    justify-content: space-between;
    overflow: visible;
    margin: 0 0 -70px 0;
  }
  .galCases__body li {
    position: absolute;
  }
  .galCases__body li._is-active {
    min-height: 230px;
    transform: scaleY(1);
    margin: 0 0 74px 0;
    @include flex-column;
    position: relative;
    h3 {
      position: relative;
      position: absolute;
      @include Text-Style-16;
      top: -40px;
      left: 56px;
      white-space: nowrap;
      z-index: 4;
      color: $periwinkle;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 23px;
        background-color: $sandy-yellow;
        top: 5px;
        left: 0;
        z-index: -1;
      }
    }
    .block__img {
      width: 233px;
      height: 232px;
    }
    p {
      margin: 10px 0 0 0;
      @include Text-Style-17;
    }
  }
  .sec__img--1 {
    width: 151px;
    height: 154px;
    left: 61%;
    top: 20%;
  }
  .sec__img--2 {
    width: 374px;
    height: 379px;
    left: 1%;
    top: 10%;
  }
  .sec__img--3 {
    width: 75px;
    height: 94px;
    left: 71%;
    top: 33%;
  }
  .sec__img--4 {
    width: 117px;
    height: 119px;
    left: 78%;
    top: 47%;
  }
  .sec__img--5 {
    width: 359px;
    height: 355px;
    left: 76%;
    top: 55%;
  }
  .sec__img--6 {
    width: 75px;
    height: 94px;
    left: 31%;
    top: 82%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
}
@media (max-width: 767px) {
  #team .galCases__body ul {
    padding: 16px 0 0 0;
    grid-template-columns: 1fr;
    gap: 20px 0px;
    justify-content: start;
    margin: 0 0 0px 0;
    width: 100%;
  }
  #team .galCases__body li._is-active .block__img {
    max-width: 233px;
    width: 100%;
    height: 232px;
    border-radius: 10px;
    overflow: hidden;
  }
  #team .galCases__body {
    max-width: 100%;
    margin: 20px 0 0 0;
    grid-template-columns: 1fr 50px;
    column-gap: 20px;
  }
  #team .galCases__body button {
    width: 50px;
  }
  #team .galCases__body li._is-active {
    margin: 0 0 40px 0;
    h3 {
      white-space: normal;
      z-index: 4;
      color: $periwinkle;
      left: 18px;
    }
  }
  #team .sec__img--1 {
    width: 120px;
    height: 120px;
    left: -2%;
    top: 20%;
  }
  #team .sec__img--2 {
    width: 254px;
    height: 290px;
    left: 44%;
    top: 2%;
  }
  #team .sec__img--4 {
    left: 45%;
  }
  #team .galCases__body button svg {
    width: 20px;
    height: 20px;
  }
}
