.descr {
  &__title {
    h2 {
      @include Text-Style-11;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 360px 1fr;
    column-gap: 33px;
    row-gap: 30px;
    margin: 40px 0 0 0;
  }

  &__img {
    width: 206px;
    height: 295px;
  }
  &__left-top {
    border: solid 1px hwb(0 0% 100% / 0.103);
    @include flex-column;
    align-items: center;
    padding: 0 0 20px 0;
    span {
      @include Text-Style-20;
    }
    a {
      position: absolute;
      top: 10px;
      right: 10px;
      svg {
        @include transition;
        fill: $pinkish-grey;
        width: 25px;
        height: 24px;
      }
      &:hover {
        svg {
          fill: $hover;
        }
      }
    }
  }
  &__left-bottom {
    margin: 27px 0 0 0;
    display: flex;
    justify-content: space-between;
  }
  &__img-bottom {
    width: 60px;
    height: 85px;
    border: solid 1px hwb(0 0% 100% / 0.103);
  }
  &__right {
  }
  &__nav {
    @include flex-aligne-center;

    justify-content: space-between;
    border-bottom: 1px solid $white-four;
    a {
      @include Text-Style-13;
      padding: 0 0 13px 0;
      @include transition;
      @include hover;
      &._is-active {
        @include Text-Style-12;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: $jungle-green;
        }
      }
    }
  }
  &__right-body {
    display: grid;
    grid-template-columns: 1fr 325px;
    column-gap: 50px;
    row-gap: 50px;
    margin: 40px 0 0 0;
  }
  &__items {
  }
  &__shild {
    max-height: 257px;
    padding: 50px 50px 50px 45px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
    background-color: $white-three;
    h4 {
      @include Text-Style-21;
      margin: 0 0 5px 0;
    }
    a {
      @include Text-Style-22;
      border-bottom: dashed 1px $jungle-green;
      @include hover;
      margin: 0 0 0 5px;
      &:hover {
        border-bottom: dashed 1px $hover;
      }
    }
    p {
      @include Text-Style-18;
      margin: 0 0 12px 0;
      &:first-of-type {
        margin: 0 0 25px 0;
      }
      span {
        @include Text-Style-22;
      }
    }
  }
  &__line {
    margin: 0 0 13px 0;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    column-gap: 5px;
    &--radio {
      margin: 0 0 0 0;
      grid-template-columns: max-content max-content;
      justify-content: space-between;
      .fildset-radio {
        @include flex-column;
        row-gap: 10px;
        input[type="radio"]:not(:checked) + label::before,
        input[type="radio"]:checked + label::before {
          width: 16px;
          height: 16px;
          top: 50%;
          transform: translateY(-50%);
        }
        input[type="radio"]:checked + label::after,
        input[type="radio"]:not(:checked) + label::after {
          width: 8px;
          height: 8px;
          border-radius: 100%;
          transform: translate(4px, 9px);
          border: solid 2px green;
          background-color: green;
        }
        input[type="radio"]:not(:checked) + label,
        input[type="radio"]:checked + label {
          padding: 0 0 0 26px;
        }
      }
    }
    span {
      &:nth-child(1) {
        @include Text-Style-18;
        margin: 6px 0 0 0;
      }
      &:nth-child(2) {
        border-bottom: 1px dashed $black-three;
      }
      &:nth-child(3) {
        @include Text-Style-15;
        margin: 6px 0 0 0;
        line-height: 1;
      }
      &._rot {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: $cherry;
      }
    }
    a {
      @include Text-Style-17;
      margin: 6px 0 0 0;
      @include hover;
    }
  }
  &__price {
  }
  &__price-line {
    &:nth-child(1) {
      span {
        @include Text-Style-24;
        text-decoration: line-through;
        &:nth-child(2) {
          text-decoration: none;
          @include Text-Style-16;
          margin: 0 0 0 7px;
        }
      }
    }
    &:nth-child(2) {
      display: flex;
      justify-content: space-between;
      align-items: end;
      span {
        @include Text-Style-28;
        &:nth-child(2) {
          @include Text-Style-26;
        }
        span {
          @include Text-Style-27;
        }
      }
    }
  }
  &__wal {
    width: 164px;
    height: 51px;
    border: solid 1px $white-four;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    span {
      @include flex-center;
      @include transition;
      font-family: "MuseoSansCyrl-300", sans-serif;
      font-size: 30px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      color: $jungle-green;
      &:nth-child(1) {
        border-right: solid 1px $white-four;
        @include hover;
        @include transition;
        cursor: pointer;
      }
      &:nth-child(2) {
        @include Text-Style-32;
        padding: 3px 0 0 0;
      }
      &:nth-child(3) {
        border-left: solid 1px $white-four;
        @include hover;
        @include transition;
        cursor: pointer;
      }
    }
  }
  &__buttons {
    margin: 30px 0 0 0;
    @include flex-aligne-center;
    display: grid;
    grid-template-columns: 1fr 165px;
    justify-content: space-between;
    a {
      @include transition;
      &:hover {
        span {
          color: $hover;
          border-bottom: 1px dashed $hover;
        }
      }
      span {
        display: inline-block;
        border-bottom: 1px dashed $jungle-green;
      }
      @include Text-Style-30;
      margin: 8px 0 0 0;
    }
  }
  &__feedback {
    @include Text-Style-23;
    margin: 30px 0 0 0;
    a {
      margin: 0 0 0 20px;
      font-size: 12px;
      font-weight: bold;
      color: $jungle-green;
      width: 16px;
      height: 16px;
      border: solid 1px $jungle-green;
      @include flex-center;
      @include transition;
      @include hover;
      display: inline-flex;
      border-radius: 50%;
      &:hover {
        border: solid 1px $hover;
      }
    }
  }
  &__soc {
    margin: 20px 0 0 0;
  }
  .descr-soc {
    display: grid;
    grid-template-columns: repeat(6, min-content);
    column-gap: 20px;
    row-gap: 10px;

    li {
      cursor: pointer;
      &:hover {
        svg {
          transform: scale(1.05);
        }
      }
      a {
        position: relative;
        z-index: 4;
        svg {
          width: 24px;
          height: 26px;
          @include transition;
        }
      }
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        margin: 0 40px 0 0;
        position: relative;
        span {
          @include Text-Style-34;
          position: absolute;
          top: 0;
          z-index: 1;
          min-width: 100%;
          height: 100%;
          border-radius: 40px;
          background-color: $white;
          @include flex-aligne-center;
          padding: 0 10px 0 30px;
        }
      }
    }
  }
}
button.common-button {
  width: 165px;
  height: 52px;
  background-color: $jungle-green;
  border-radius: 3px;
  svg {
    width: 24px;
    height: 24px;
    fill: $white-three;
    margin: 0 7px 0 0;
  }
  &:hover {
    svg {
      fill: $hover;
    }
  }
}

@media (max-width: 1140px) {
  .descr {
    max-width: 500px;
    margin: 0 auto;
    &__title {
      h2 {
        font-size: 30px;
      }
    }
  }
  .descr__body {
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 30px;
    margin: 30px 0 0 0;
  }
  .descr__img {
    width: 100%;
    max-width: 206px;
    min-height: 295px;
    height: auto;
  }
  .descr__left-bottom {
    margin: 27px 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 60px);
    column-gap: 10px;
    row-gap: 10px;
  }
  .descr__right-body {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 20px;
    margin: 40px 0 0 0;
  }
  .descr__buttons {
    margin: 30px 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .descr__nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
  }
  .descr__nav a {
    padding: 0 0 6px 0;
  }
  .descr__line--radio {
    grid-template-columns: max-content;
    margin: 0 0 20px 0;
    row-gap: 10px;
  }
  .descr__line--radio .fildset-radio {
    row-gap: 5px;
  }
  .descr__price-line:nth-child(2) {
    flex-direction: column;
    align-items: start;
  }
  .descr__buttons a {
    margin: 0 0 0 0;
  }
  .descr .descr-soc {
    display: inline-grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 10px;
  }
}
@media (min-width: 601px) and (max-width: 1140px) {
  .descr {
    max-width: 800px;
    margin: 0 auto;
  }
  .descr .descr-soc {
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(24px, max-content));
    column-gap: 60px;
    row-gap: 10px;
    width: 100%;
  }
}
