section(id='descr').descr.rel
  .container
    .descr__title
      h2 Промисан. капсулы. 120 шт.
    .descr__body
      .descr__left
        .descr__left-top.rel
          .descr__img.rel
            .imgs
              img(src='./img/i-0.webp' alt='img')
          span Внешний вид товара может отличаться <br>от изображения на фотографии
          a(href="#!")
            svg
              use(xlink:href='#like')
        ul.descr__left-bottom
          li.descr__img-bottom.rel
            .imgs
              img(src='./img/i-1.webp' alt='img')
          li.descr__img-bottom.rel
            .imgs
              img(src='./img/i-1.webp' alt='img')
          li.descr__img-bottom.rel
            .imgs
              img(src='./img/i-1.webp' alt='img')
          li.descr__img-bottom.rel
            .imgs
              img(src='./img/i-1.webp' alt='img')
          li.descr__img-bottom.rel
            .imgs
              img(src='./img/i-1.webp' alt='img')
      .descr__right
        nav.descr__nav 
          a(href='#!' )._active-descr-link Основное
          a(href='#!' ) Инструкция
          a(href='#!' ) Формы выпуска 
            span 3
          a(href='#!' ) Аналоги 
            span 2
          a(href='#!' ) Отзывы 
            span 7
        .descr__right-body
          .descr__items
            .descr__line 
              span Производитель 
              span
              a(href='#!' ) МираксБиоФарма
            .descr__line 
              span Страна производства 
              span
              span Россия
            .descr__line 
              span Форма выпуска 
              span
              span Капсулы
            .descr__line 
              span Действующее вещество 
              span
              span Прописоний
            .descr__line 
              span Условия отпуска из аптек 
              span
              span._rot По рецепту
            .descr__line.descr__line--radio 
              span Срок годности:
              fildset.fildset-radio
                .form-check
                  input(type="radio" id="descr10" name='descr' value='16-25' checked)
                  label(for="descr10")  24 месяца - 3 590 ₽
                .form-check
                  input(type="radio" id="descr11" name='descr' value='26-35')
                  label(for="descr11")  10.10.2018 - 3 390 ₽
            .descr__price
              .descr__price-line
                span 3590 ₽
                span -20%
              .descr__price-line
                span 3390 ₽
                span Экономия 
                  span 200 руб.
            .descr__buttons
              .descr__wal 
                span -
                span 128
                span +

              button.btn.btn-success.but-wave.common-button(type='submit') 
                svg
                  use(xlink:href='#shopping-cart')
                |В корзину
              a(href='#!' ) 
                span В наличии в 4 аптеках
              a(href='#!' ) 
                span Купить в 1 клик

          .descr__shild
            h4 Способ получения
            p в 
              a(href='#!' ) Ростове-на-Дону
            p  Доставка 
              span – возможна
            p При заказе от 1 500 ₽
              span – Бесплатно
            p Самовывоз 
              span – бесплатно



    p.descr__feedback Оставьте отзыв, комментарий, репост - заработайте баллы
      a(href='#!' ) ?
    ul.descr__soc.descr-soc
      li
        a(href='#!' )
          svg
            use(xlink:href='#fb')
        span 100k
      li
        a(href='#!' )
          svg
            use(xlink:href='#image')
        span 20
      li
        a(href='#!' )
          svg
            use(xlink:href='#od')
        span 1
      li
        a(href='#!' )
          svg
            use(xlink:href='#google')
      li
        a(href='#!' )
          svg
            use(xlink:href='#mail')
      li
        a(href='#!' )
          svg
            use(xlink:href='#tw')


