section#products
    .container
      .products
        .product
          .product__img
            .imgs
              img(src='./img/products/i-1.webp'  alt='The Dandy chair')
          .product__name The Dandy chair
          span.product__price £250
        .product
          .product__img
            .imgs
              img(src='./img/products/i-2.webp'  alt='The Dandy chair')
          .product__name The Dandy chair
          span.product__price £250
        .product
          .product__img
            .imgs
              img(src='./img/products/i-3.webp'  alt='The Dandy chair')
          .product__name The Dandy chair
          span.product__price £250
        .product
          .product__img
            .imgs
              img(src='./img/products/i-4.webp'  alt='The Dandy chair')
          .product__name The Dandy chair
          span.product__price £250
      a(href='#!').btn.btn--light.products__link View collection