.bunner {
  min-height: 100vh;
  position: relative;
  .container {
    z-index: 2;
    position: relative;
  }
  &__body {
    padding: 278px 0 0 0;
    position: relative;
  }
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    // z-index: 11;
    height: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
  }
  &__person {
    width: 489px;
    height: 636px;
    z-index: 5;
    position: absolute;
    bottom: 0;
    right: 90px;
  }
}

// .bunner__body {
//   padding: 300px 300px 0 0px;
// }
.bunner__title {
  margin: 60px 0 0 0;
  h1 {
    color: #fff;
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 65px */
    letter-spacing: 1.5px;
  }
  span {
    color: #ffee7a;
  }
}
.bunner__text {
  margin: 50px 0 30px 0;
  padding: 0 0 0 39px;
  @include Text-Style-6;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 106px;
    background-color: $sandy-yellow;
    top: 0;
    left: 0;
  }
}
.bunner__link {
  opacity: 0.5;
  position: relative;

  &--arrow {
    opacity: 0.5;
    position: relative;
    position: absolute;
    transform: rotate(-90deg);
    right: 406px;
    top: 735px;
    z-index: 50;

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      top: 28px;
      left: -29px;
      border-left: 2px solid #ffee7a;
      border-radius: 100%;
    }
    svg {
      width: 5px;
      height: 76px;
      fill: $sandy-yellow;
      transform: rotate(90deg);
      margin: 0 30px 0 0;
    }
  }
}
// .bunner__button {
//   display: inline-block;

//   svg {
//     width: 20px;
//     height: 20px;
//     fill: green;
//     margin: 0 0 0 10px;
//   }
//   &:hover {
//     svg {
//       fill: lighten(green, 25%);
//     }
//   }
// }
// .slider-main-js {
//   max-height: 100%;
// }
