section#bunner.bunner
  .bunner__bg.imgs
    //- picture
    //-   source(srcset='./img/bunner/i-1.webp ' type='image/webp' media='(min-width: 1200px)')
    //-   source(srcset='./img/bunner/i-1.webp' type='image/webp' media='(min-width: 1000px) and (max-width: 1199px)')
    //-   source(srcset='./img/bunner/i-1.webp' type='image/webp' media='(max-width: 999px)')
    img(src='./img/bunner/i-1.webp' alt='img')

  .bunner__person.rel
    .imgs
      img(src='./img/bunner/i-2.webp' alt='img')
  .container
    .bunner__body
      ul.bunner__soc.soc
        li.soc__item
          a(href="#!") 
            svg
              use(xlink:href='#in')
        li.soc__item
          a(href="#!") 
            svg
              use(xlink:href='#fb')
        li.soc__item
          a(href="#!") 
            svg
              use(xlink:href='#lk')
      .bunner__title
        h1 Jūsų <span> reklamos</span> partneris <br>internete
      .bunner__text
        p Kad ir kaip būtų viskas gražu, marketingas<br>bus vertinamas pagal skaičius: reklama arba<br> atsiperka, arba ne. Ir viskas.

      a.bunner__link(href="#!") © Aurimas Skaržinskas - Marketingo vadovas
      a#bunner-link.bunner__link--arrow(href="#post-scroll")
        svg
          use(xlink:href='#arrow')
        span Sužinoti daugiau

