section(id='local').local.rel
  .container
    .local__title
      h2 На территории комплекса
    .local__swiper
      .swiper-1
        .swiper-1__body.rel
          .slider-arrow.arrow-prev-1
            svg
              use(xlink:href='#left') 
          .slider-arrow.arrow-next-1 
            svg
              use(xlink:href='#right')
          #swiper-1.swiper
            .swiper-wrapper
              -
                var blocks = [
                  { src: './img/sw-1/img-1.webp', title:"SPA комплекс", text:"Усадьба «Фамилия» Загородный комплекс премиум-класса"},
                  { src: './img/sw-1/img-2.webp', title:"Номера и коттеджи", text:"Начните планировать свой отдых прямо сейчас"},
                  { src: './img/sw-1/img-3.webp', title:"Ресторанный комплекс", text:"Любое событие приобретает особый статус, если проходит в Усадьба «Фамилия»"},
                  { src: './img/sw-1/img-4.webp', title:"Банкетная служба", text:"Начните планировать свой отдых прямо сейчас"},
                  { src: './img/sw-1/img-9.webp', title:"Конный клуб", text:"Усадьба «Фамилия» Загородный комплекс премиум-класса"},
                  { src: './img/sw-1/img-8.webp', title:"Летний бассейн", text:"Любое событие приобретает особый статус, если проходит в Усадьба «Фамилия»"},
                  { src: './img/sw-1/img-5.webp', title:"Спортивные площадки", text:"Начните планировать свой отдых прямо сейчас"},
                  { src: './img/sw-1/img-6.webp', title:"Рыбалка", text:"Усадьба «Фамилия» Загородный комплекс премиум-класса"},
                  { src: './img/sw-1/img-7.webp', title:"Концертная площадка", text:"Любое событие приобретает особый статус, если проходит в Усадьба «Фамилия»"},
                ];
              each block in blocks
                .local__slide.local-slide.swiper-slide
                  .local-slide__title
                    h3=block.title  
                  .local-slide__img.rel
                    .imgs
                      img(src=block.src)
                  p.local-slide__text=block.text
