section(id='down-menu').down
  .down__body
    ._down-js.rel 
      .down__item._down-item-js
        .down__title._down-title-js 
          a(href="#!") Название - ссылка 1
          span._down-action  развернуть
        .down__hidden._down-hidden-js
          .down__wrap
            ._down-js
              .down__item._down-item-js 
                .down__title._down-title-js 
                  a(href="#!")  ссылка
              .down__item._down-item-js 
                .down__title._down-title-js 
                  a(href="#!")  ссылка
              .down__item._down-item-js 
                .down__title._down-title-js 
                  a(href="#!")  ссылка

      .down__item._down-item-js
        .down__title._down-title-js 
          h3 Название - не ссылка2
          span._down-action  развернуть
        .down__hidden._down-hidden-js
          .down__wrap
            ._down-js
              .down__item._down-item-js 
                .down__title
                  a(href="#!")  ссылка
                .down__title._down-title-js 
                  a(href="#!")  ссылка
                  span._down-action  развернуть
                .down__hidden._down-hidden-js
                  .down__wrap
                    ._down-js
                      .down__item._down-item-js 
                        .down__title._down-title-js 
                          a(href="#!")  ссылка
                          span._down-action  развернуть
                        .down__hidden._down-hidden-js
                          .down__wrap
                            ._down-js
                              .down__item._down-item-js 
                                .down__title._down-title-js 
                                  a(href="#!")  ссылка 
                                  span._down-action  развернуть
                                .down__hidden._down-hidden-js
                                  .down__wrap
                                    ._down-js
                                      .down__item._down-item-js 
                                        .down__title._down-title-js 
                                          a(href="#!")  ссылка 
                                        .down__hidden._down-hidden-js
                                          .down__wrap
                .down__title
                  a(href="#!")  ссылка

      .down__item._down-item-js
        .down__title._down-title-js 
          a(href="#!")  Название-ссылка 5
          span._down-action  развернуть
        .down__hidden._down-hidden-js
          .down__wrap
            ._down-js
              .down__item._down-item-js 
                .down__title._down-title-js 
                  a(href="#!")  ссылка
                  span._down-action  развернуть
                .down__hidden._down-hidden-js
                  .down__wrap
                    ._down-js
                      .down__item._down-item-js 
                        .down__title._down-title-js 
                          a(href="#!")  ссылка
                          span._down-action  развернуть
                        .down__hidden._down-hidden-js
                          .down__wrap
                            ._down-js
                              .down__item._down-item-js 
                                .down__title._down-title-js 
                                  a(href="#!")  ссылка
                                  span._down-action  развернуть
                                .down__hidden._down-hidden-js
                                  .down__wrap
                                    ._down-js
                                      .down__item._down-item-js 
                                        .down__title._down-title-js 
                                          a(href="#!")  ссылка
                                        .down__hidden._down-hidden-js
                                          .down__wrap