.header {
  position: relative;
  z-index: 50;
  @include transition;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-top {
  background-color: $white;
  min-height: 40px;
  @include flex-aligne-center;
  &__body {
    @include flex-aligne-center;
    .select {
      max-width: 150px;
      .dropdown-button {
        padding: 0 0 0 16px;
        background-color: $white;

        span {
          line-height: 24px;
        }
        svg.icon {
          width: 9px;
          height: 12px;
          fill: $emerald;
          left: 0;
          top: 50%;
          transform: translateY(-50%) rotate(0deg);
        }
        svg {
          fill: $emerald;
          right: 4px;
        }
        &:hover {
          svg {
            fill: $hover;
          }
        }
      }
      .dropdown-list {
        z-index: 100;
      }
    }
    a {
      @include Text-Style;
      @include flex-aligne-center;
      white-space: nowrap;
      margin: 0 15px 0 0px;
      &:hover {
        color: $hover;
      }
      &.link-phone {
        @include Text-Style-6;
        margin: 0 0 0 15px;
        span {
          margin: 0 0 0 10px;
          color: #4c4c4c;
          font-family: "HouschkaPro-DemiBold", sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration: dashed !important;
          @include transition;
        }
        &:hover {
          color: $hover;
          span {
            color: $hover;
          }
        }
      }
      &.link-oder {
        margin: 0 15px 0 60px;
        &:hover {
          color: $hover;
        }
        svg {
          width: 20px;
          height: 20px;
          margin: 0 5px 0 0;
        }
      }
      &.link-status {
        &:hover {
          color: $hover;
        }
        margin: 0 0 0 60px;
        @include Text-Style-2;
      }
    }
  }
}

.header__enter {
  background-color: $white-two;
  min-width: 192px;
  height: 40px;
  margin: 0 0 0 auto;
  @include flex-center;
  a {
    @include Text-Style-3;
    &:hover {
      color: $hover;
    }
  }
  span {
    color: #9a9696;
    margin: 0 5px;
  }
}
.header .container {
  height: 100%;
}

/*=====================*/
.logo {
  svg {
    width: 233px;
    height: 67px;
  }
}
/*=====================*/
.header-midl {
  min-height: 120px;
  background-color: $emerald;
  &__body {
    position: relative;
    display: grid;
    grid-template-columns: 233px 1fr;
    width: 100%;
    height: 100%;
    min-height: 120px;
    gap: 0 55px;
    justify-content: space-between;
    align-items: center;
  }
}

.info {
  display: grid;
  grid-template-columns: 67% 1fr;
  align-items: center;
  justify-content: space-between;
  column-gap: 54px;

  .search-field {
    width: 100%;
    height: 36px;
    border-radius: 4px;
    background-color: $white;
  }
  .search-field label {
    @include Text-Style-5;
  }
  .search-field input[type="text"]:focus + label,
  .search-field input[type="text"]:not(:placeholder-shown) + label {
    transform: translateY(-133%);
  }
  .search-field input[type="text"] {
    border-radius: 4px;
    border: none;
    padding: 0px 17px 0px;
  }
  .search-field input[type="submit"] + svg {
    fill: $cherry;
  }
  .search-field__submit {
    width: 26px;
    height: 36px;
  }
  .search-field__submit::after {
    width: 25px;
    height: 25px;
    background: transparent;
  }
  .search-field input[type="submit"]:hover + svg {
    fill: lighten($cherry, 20%);
  }
  &__links {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: 20px;
    justify-content: space-between;
  }
  &__link {
    @include flex-column;
    @include transition;
    align-items: center;
    row-gap: 10px;
    svg {
      width: 30px;
      height: 30px;
      fill: $white-three;
      @include transition;
    }
    @include Text-Style-4;
    &:hover {
      color: $hover;
      svg {
        fill: $hover;
      }
    }
  }
}

// ==========================================
.responciveHeader {
  position: fixed;
  width: 100%;
  height: 70px;
  background: rgba(15, 18, 22, 0.65);
  border: 1px solid #1e2329;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(15px);
}

/*=========@media==============*/
._not-sm {
  display: flex !important;
}
._visible-sm {
  display: none !important;
}
/*=====================*/
#header-tab {
  position: absolute;
  top: -11px;
}
.header__low {
  background-color: $white-three;
  min-height: 76px;
  @include flex-aligne-center;

  .menu__list {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 0 0 250px;
  }

  .menu__item {
    display: flex;
    align-items: center;
    height: 100%;
    a {
      color: #434141;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      &:hover {
        color: $cherry;
      }
      &.menu__link--cherry {
        color: $cherry;
        &:hover {
          color: lighten($cherry, 20%);
        }
      }
    }
  }
  .menu__item a.menu__link--active {
    color: lighten($cherry, 20%);
  }

  ._tab-js {
    width: 100%;
  }
  ._tab-top-js {
    outline: 1px solid grey;
    border-radius: 3px;
    width: 190px;
  }
  .tab {
    overflow: hidden;

    background-color: $sunflower-yellow;
    &__title {
      display: flex;
      align-items: center;
      column-gap: 7px;
      padding: 0 8px;
      min-height: 42px;
      @include Text-Style-6;
      justify-content: space-between;
      &:hover {
        background-color: lighten($sunflower-yellow, 30%);
      }
      ._burger {
        width: 15px;
        height: 12px;
        span,
        &::after,
        &::before {
          width: 15px;
          height: 2px;
          background-color: $black-two;
        }
        span {
          top: 49%;
        }

        &::after {
          top: -1%;
          transform: translateY(50%);
        }
        &::before {
          bottom: 1%;
          transform: translateY(-50%);
        }
      }
      svg {
        min-width: 15px;
        height: 18px;
        transform: rotate(180deg);
      }
      &:not(.title--main) {
        background-color: lighten($sunflower-yellow, 30%);
        border: none;
        padding: 5px 8px;
        &:hover {
          background-color: lighten($sunflower-yellow, 20%);
        }
      }
    }
    &._is-active > .title--main {
      background-color: $sunflower-yellow;

      &:hover {
        background-color: lighten($sunflower-yellow, 30%);
      }
    }

    &._is-active > .tab__title:not(.title--main) {
    }
    &._is-active a {
      display: block;
      font-size: 14px;
      color: $black-two;
      padding: 10px 0 10px 10px;
      background-color: lighten($sunflower-yellow, 50%);
      &:hover {
        background-color: lighten($sunflower-yellow, 40%);
      }
    }

    // .tab .kab._is-active > .kab__title--main {
    //   background-color: $sunflower-yellow;

    //   &:hover {
    //     background-color: lighten($sunflower-yellow, 30%);
    //   }
    // }

    // .tab .kab .kab__title:not(.kab__title--main) {
    //   background-color: lighten($sunflower-yellow, 50%);
    //   &:hover {
    //     background-color: lighten($sunflower-yellow, 30%);
    //   }
    // }
    // .tab .kab._is-active {
    //   @include transition;
    // }
    // .tab .kab._is-active > .kab__title:not(.kab__title--main) {
    //   background-color: lighten($sunflower-yellow, 40%);
    //   box-shadow: none;
    // }
    // .tab .kab._is-active > .kab__title svg {
    //   transform: rotate(0deg);
    //   fill: $black-two;
    // }
    // .tab .kab._is-active > .kab__title h4 {
    //   color: $black-two;
    // }
    // .kab__title ._burger {
    //   width: 15px;
    //   height: 12px;
    //   span,
    //   &::after,
    //   &::before {
    //     width: 15px;
    //     height: 2px;
    //     background-color: $black-two;
    //   }
    //   span {
    //     top: 49%;
    //   }

    //   &::after {
    //     top: -1%;
    //     transform: translateY(50%);
    //   }
    //   &::before {
    //     bottom: 1%;
    //     transform: translateY(-50%);
    //   }
    //   &._is-active {
    //     &::after {
    //       top: 43%;
    //       transform: rotate(40deg);
    //     }
    //     &::before {
    //       bottom: 40%;
    //       transform: rotate(-40deg);
    //     }
    //   }
    // }

    // .tab .kab._is-active > .kab__title {
    //   border-bottom: none;
    // }
  }
}

@media (min-width: 1080px) and (max-width: 1180px) {
  .header-midl__body {
    gap: 0 20px;
  }
  .info {
    grid-template-columns: 67% 30%;
    column-gap: 20px;
  }
}
@media (max-width: 1079px) {
  ._not-sm {
    display: none !important;
  }
  ._visible-sm {
    display: flex !important;
  }
  .logo svg {
    width: 120px;
    height: 40px;
  }

  .header-top {
    min-height: 30px;
  }
  .header-top__body .select {
    flex: 0 0 131px;
  }
  .header-top__body a {
    margin: 0 15px 0 auto;
  }
  .header-top__body a.link-status {
    margin: 0;
  }
  .header-midl,
  .header-midl__body {
    min-height: 70px;
    height: 70px;
    gap: 0 16px;
  }
  .header-midl__body {
    grid-template-columns: 28px 120px 1fr;
    gap: 0 10px;
  }
  .info__links {
    grid-template-columns: repeat(3, max-content);
    column-gap: 16px;
    justify-content: start;
  }
  .header__burger {
    width: 28px;
    height: 21px;
    span,
    &::after,
    &::before {
      width: 28px;
      height: 3px;
      background-color: $white;
    }
  }
  .header .header__burger._is-active::before {
    bottom: 42%;
  }
  .info {
    grid-template-columns: 1fr;
    .search-field {
      top: 91px;
      position: relative;
      position: absolute;
      left: 0;
      width: 100%;
      height: 45px;
      border-radius: 5px;
      border: solid 1px $white-four;
      background-color: $white-three;
    }
    .search-field label {
      @include Text-Style-5;
      padding: 0 35px 0 0px;
      left: 10px;
    }
    .search-field input[type="text"] {
      padding: 0px 10px 0px;
    }
    .search-field input[type="text"]:focus + label,
    .search-field input[type="text"]:not(:placeholder-shown) + label {
      opacity: 0;
    }
  }
  .info__links {
    justify-content: end;
  }
  .info__link svg {
    width: 20px;
    height: 20px;
  }
  .menu {
    width: 100vw;
    height: calc(100vh - 179px);
    overflow: auto;
    position: fixed;
    top: 167px;
    left: 0;
    transform: translateX(-100vw);
    display: block;
    background-color: $white-three;
    z-index: 1000;
    padding: 20px 0;
    @include transition;
  }
  .header__low .menu__list {
    display: block;
    height: auto;
    padding: 40px 0 0 20px;
  }
  .menu__item {
    margin: 0 0 20px 0;
    a {
      color: #434141;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  .menu-active {
    transform: translateX(0vw);
    #header-tab {
      width: 100%;
      position: relative;
      border-radius: 0px;
      top: 0;
    }
  }
  // .kab__hidden--first {
  //   max-height: 50vh;
  //   overflow: auto !important;
  // }
}
