.header {
  z-index: 50;
  @include transition;
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  background-color: $rgb000;
  border: 1px solid transparent;
  overflow: hidden;
  // background-image: url("/dist/img/img-1.png")
}

.header .container {
  height: 100%;
  &::after {
    content: "";
    background-color: $rgb255;
    position: absolute;
    width: 1000px;
    height: 100%;
    top: 0;
    left: -840px;
    z-index: 2;
  }
}

.header__body {
  z-index: 4;
  position: relative;
  background: rgb(34, 34, 34);
  height: 100%;
  display: grid;
  grid-template-columns: 287px 1fr 230px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__burger {
  display: none;
}

.header__button {
}
/*=====================*/
.logo {
  background: #fff;
  align-items: center;
  display: grid;
  grid-template-columns: 47px 123px;
  column-gap: 5px;
  row-gap: 6px;
  margin: 0 0px 0 -25px;
  height: 100%;
  ._a {
    svg {
      width: 47px;
      height: 51px;
    }
  }
  ._b {
    svg {
      width: 100%;
      height: 20px;
    }
  }
  ._c {
    span {
      font-size: 11px;
      font-weight: 400;
      line-height: 13px;
      &:nth-child(1) {
        font-weight: 600;
      }
    }
  }
}

/*=====================*/
.header__menu {
  position: relative;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

.menu__item {
  display: flex;
  align-items: center;
  height: 100%;
  /* border: 1px solid transparent; */
  margin: 0 10px 0 0;
}

.menu__link {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  padding: 0 10px;
  @include transition;
  text-transform: uppercase;
  cursor: pointer;
  svg {
    width: 15px;
    height: 15px;
    @include transition;
    fill: white;
    margin: 0 0 0 10px;
  }

  &:hover {
    color: $akzent;
  }

  &--active {
    background: green;
  }

  &._is-active {
    & ~ .menu-tab {
      background-color: black;
      max-height: 190px;
      height: 190px;
      outline: solid 1px rgb(165, 10, 10);
      animation: pul 0.3s linear;
      animation-fill-mode: forwards;

      .smenu__item:hover {
        & > .smenu-title-js {
          background: rgb(147, 240, 185);
          svg {
            transform: rotate(90deg);
          }
        }
        & > .smenu__hidden {
          animation: pulse 0.3s linear;
          animation-fill-mode: forwards;
        }
      }
    }
    svg {
      transform: rotate(180deg);
    }
  }
}

/*=====================*/
.info {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(3, max-content) 120px;
  column-gap: 20px;
  &__text {
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    position: relative;
    padding: 0 0 0 13px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background: rgb(41, 204, 0);
      width: 7px;
      top: 50%;
      height: 7px;
      width: 7px;
      left: 0px;
      transform: translateY(-50%);
      border-radius: 50%;
    }
  }
  &__phone {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
  &__soc {
    @include flex-aligne-center;
    column-gap: 5px;
    a {
      @include flex-center;
      width: 30px;
      height: 30px;
      box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.25);
      background: rgb(255, 255, 255);
      border-radius: 50%;
      &:hover {
        background: $akzent;
        // text-shadow: 0 0  14px white;
      }
      svg {
        width: 80%;
        height: 80%;
      }
    }
  }
  &__soc {
  }
}

// ==========================================
.responciveHeader {
  position: fixed;
  width: 100%;
  height: 70px;
  background: rgba(15, 18, 22, 0.65);
  border: 1px solid #1e2329;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(15px);
}

.responciveHeader .menu__link {
  // color: rgb(15, 15, 15);
}

.responciveHeader .menu__link--active {
}

.responciveHeader .info__phone {
}

/*=========@media==============*/

@media (min-width: 1000px) and (max-width: 1199px) {
  .header {
    height: 60px;
  }

  .header__body {
    grid-template-columns: 100px 1fr minmax(260px, auto);
  }

  .info__phone {
    margin: 0 0 10px 0;
  }

  .header__menu {
    margin: 0 20px 0 0;
  }

  .info__search {
    margin: 0;
  }

  .info {
    padding: 0 0 0 0;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

/*===========*/

@media (max-width: 999px) {
  .header {
    height: 60px;
  }
  .header__body {
    grid-template-columns: 100px 1fr;
  }
  .header__menu {
    margin: 0;
  }
  ._burger {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    width: 20px;
    height: 12px;
    z-index: 1010;
    span {
      width: 20px;
      height: 2px;
      background-color: aliceblue;
    }
    &::after,
    &::before {
      width: 20px;
      height: 2px;
      background-color: aliceblue;
    }
  }

  .logo__link img {
    height: 30px;
    width: 30px;
  }

  .header__menu {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    transform: translateX(-100vw);
    left: 0;
    padding: 100px 20px 0 20px;
    overflow: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(15px);
    z-index: 1000;
    @include transition;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-active {
    transform: translateX(0);
  }

  .info {
    display: none !important;
  }

  .info.info-active {
    display: block !important;
    @include transition;
  }

  .info__search {
    margin: 50px 0 0;
  }

  .info__search input[type="text"] {
    width: 100%;
  }

  .menu-active .menu__link {
    border-radius: 10px;
    padding: 5px;
    background: transparent;
    &--active {
      color: green;
      background: lighten(green, 65%);
    }
  }

  .menu__item {
    margin: 0 0 20px 0;
    width: 100%;
    justify-content: flex-end;
  }

  .menu__item:last-child {
    margin: 0 0 30px 0;
  }
}
