header#header.header
  .container
    .header__body 
      a(href='#!').header__logo.logo
        svg
          use(xlink:href="#logo")
      .header__burger._burger
        span

      nav.header__menu.menu
        //- .header__close
        //-   svg
        //-     use(xlink:href='#x-lg')
        ul.menu__list
          li.menu__item
            a.menu__link(href='#!' rel='#galery') Рассчитать доставку
          li.menu__item
            a.menu__link(href='#!' rel='#galery') Дополнительные услуги
          li.menu__item
            a.menu__link(href='#!' rel='#galery') Контакты
          li.menu__item
            a.menu__link(href='#!' rel='#galery') Заказать

      .header__info.info
        a.info__phone(href='#!')._hover +7 (495) 260 68 53
        a.info__email(href='#!')._hover info@A5-EXPRESS.ru





