header#header.header
  .container
    .header__body 
      .header__logo.logo
        ._a
          svg
            use(xlink:href='#logo')
        ._b 
          svg
            use(xlink:href='#logo-sab')
          ._c
            span Работа 
            span в Европе
      .header__burger._burger
        span

      nav.header__menu.menu
        .header__close
          //- svg
          //-   use(xlink:href='#x-lg')
        ul.menu__list
          li.menu__item
            a.menu__link(href='#!' rel='#posts') ВАКАНСИИ
          li.menu__item
            a.menu__link(href='#!' rel='#galery') СТРАНЫ
          li.menu__item
            a.menu__link(href='#!' rel='#galery') ВОПРОСЫ
          li.menu__item
            a.menu__link(href='#!' rel='#galery') ПРО НАС
          li.menu__item
            a.menu__link(href='#!' rel='#galery') КОНТАКТЫ

      .header__info.info
        .info__soc 
          a(href='#!')
            svg
              use(xlink:href='#tel')
          a(href='#!')
            svg
              use(xlink:href='#inst')
        span
          .info__text Звоните, Пн-Пт с 10 до 18 
          a.info__phone(href='#!')._hover +38 067 230 20 54



