header.header#header
  .header__top.header-top
    .container 
      .header-top__body
        .select
          input(type="hidden" name="header_town")
          button(type="button").dropdown-button
            span Ростов-на-Дону
            svg
              use(xlink:href='#arrow')
            svg.icon
              use(xlink:href='#location')
          ul.dropdown-list
            .dropdown-list-wrap
              li.dropdown-list__item(data-value='Notes') Ростов-на-Дону
              li.dropdown-list__item(data-value='Notes') Mосква
              li.dropdown-list__item(data-value='Photo') Санкт Петербург
              li.dropdown-list__item(data-value='Dictionary') Сан Франциско
        a.link-phone(href="#!")._not-sm 8 800 100-01-03 
          span Обратный звонок
        a.link-oder(href="#!")._not-sm 
          svg
            use(xlink:href='#24_7')
          | Как сделать заказ
        a(href="#!") Аптеки
        a(href="#!")._not-sm Доставка
        a(href="#!").link-status Статус заказа
        .header__enter._not-sm
          a(href="#!") Вход
          span |
          a(href="#!") Регистрация

  .header__body.header-midl
    .container
      .header-midl__body
        .header__burger._visible-sm._burger
          span
        a(href='#!').header__logo.logo
          svg
            use(xlink:href='#logo_apteka')

        .header__info.info
          form.search-field
            input#search1(type='text' placeholder='search' name="" )
            label(for='search1') Поиск по названию, производителю, веществу, штрих-коду
            .search-field__submit
              input(type='submit')
              svg
                use(xlink:href='#search')

          ul.info__links
            li._not-sm
              a(href='#!' ).info__link 
                svg
                  use(xlink:href='#clipboards')
                |Заказы
            li._visible-sm
              a(href='#!' ).info__link 
                svg
                  use(xlink:href='#glass')
            li._visible-sm
              a(href='#!' ).info__link 
                svg
                  use(xlink:href='#phone-call')
            li._not-sm
              a(href='#!' ).info__link 
                svg
                  use(xlink:href='#like')
                |Избранное
            li
              a(href='#!' ).info__link
                svg
                  use(xlink:href='#shopping-cart')
                span._not-sm
                  | Корзина



  .header__low
    .container
      .header__menu.menu
        section(id='header-tab').tab.rel._tabs-container-js
          .tab__body._tab-body-js
            .kab._kab-js
              .kab__title.kab__title--main._kab-title-js
                ._burger
                  span
                h4 Каталог товаров

              .kab__hidden.kab__hidden--first._kab-hidden-js 
                ._kab-wrap-js
                  .tab__body._tab-body-js
                    .kab._kab-js
                      .kab__title._kab-title-js
                        h4 Лекарства
                        svg
                          use(xlink:href='#arrow')
                      .kab__hidden._kab-hidden-js 
                        ._kab-wrap-js 
                          .tab__body._tab-body-js
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Лекарства1
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Лекарства2
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Лекарства3
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Лекарства4

                    .kab._kab-js
                      .kab__title._kab-title-js
                        h4 Бад и витамины
                        svg
                          use(xlink:href='#arrow')
                      .kab__hidden._kab-hidden-js 
                        ._kab-wrap-js 
                          .tab__body._tab-body-js
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Бад и витамины1

                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Бад и витамины2

                    .kab._kab-js
                      .kab__title._kab-title-js
                        h4 Планирование семьи
                        svg
                          use(xlink:href='#arrow')
                      .kab__hidden._kab-hidden-js 
                        ._kab-wrap-js 
                          .tab__body._tab-body-js
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Планирование семьи1
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Планирование семьи2



                    .kab._kab-js
                      .kab__title._kab-title-js
                        h4 Медицинская техника
                        svg
                          use(xlink:href='#arrow')
                      .kab__hidden._kab-hidden-js 
                        ._kab-wrap-js 
                          .tab__body._tab-body-js
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Медицинская техника1
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Медицинская техника2



                    .kab._kab-js
                      .kab__title._kab-title-js
                        h4 Массмаркет
                        svg
                          use(xlink:href='#arrow')
                      .kab__hidden._kab-hidden-js 
                        ._kab-wrap-js 
                          .tab__body._tab-body-js
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Массмаркет1
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Массмаркет2



                    .kab._kab-js
                      .kab__title._kab-title-js
                        h4 Изделия медицинского назначения
                        svg
                          use(xlink:href='#arrow')
                      .kab__hidden._kab-hidden-js 
                        ._kab-wrap-js 
                          .tab__body._tab-body-js
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Изделия медицинского назначения1
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Изделия медицинского назначения2



                    .kab._kab-js
                      .kab__title._kab-title-js
                        h4 Перевязочные средства
                        svg
                          use(xlink:href='#arrow')
                      .kab__hidden._kab-hidden-js 
                        ._kab-wrap-js 
                          .tab__body._tab-body-js
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Перевязочные средства1
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Перевязочные средства2


                    .kab._kab-js
                      .kab__title._kab-title-js
                        h4 Подарочные наборы
                        svg
                          use(xlink:href='#arrow')
                      .kab__hidden._kab-hidden-js 
                        ._kab-wrap-js 
                          .tab__body._tab-body-js
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Подарочные наборы1
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Подарочные наборы2


                    .kab._kab-js
                      .kab__title._kab-title-js
                        h4 Травы и чаи
                        svg
                          use(xlink:href='#arrow')
                      .kab__hidden._kab-hidden-js 
                        ._kab-wrap-js 
                          .tab__body._tab-body-js
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Травы и чаи1
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Травы и чаи2


                    .kab._kab-js
                      .kab__title._kab-title-js
                        h4 Лечебная косметика
                        svg
                          use(xlink:href='#arrow')
                      .kab__hidden._kab-hidden-js 
                        ._kab-wrap-js 
                          .tab__body._tab-body-js
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Лечебная косметика1
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Лечебная косметика2


                    .kab._kab-js
                      .kab__title._kab-title-js
                        h4 Простуда
                        svg
                          use(xlink:href='#arrow')
                      .kab__hidden._kab-hidden-js 
                        ._kab-wrap-js 
                          .tab__body._tab-body-js
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Простуда1
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Простуда2



                    .kab._kab-js
                      .kab__title._kab-title-js
                        h4 Алергия
                        svg
                          use(xlink:href='#arrow')
                      .kab__hidden._kab-hidden-js 
                        ._kab-wrap-js 
                          .tab__body._tab-body-js
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Алергия1
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Алергия2



                    .kab._kab-js
                      .kab__title._kab-title-js
                        h4 Ортопедия
                        svg
                          use(xlink:href='#arrow')
                      .kab__hidden._kab-hidden-js 
                        ._kab-wrap-js 
                          .tab__body._tab-body-js
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Ортопедия1
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Ортопедия2



                    .kab._kab-js
                      .kab__title._kab-title-js
                        h4 Оптика
                        svg
                          use(xlink:href='#arrow')
                      .kab__hidden._kab-hidden-js 
                        ._kab-wrap-js 
                          .tab__body._tab-body-js
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Оптика1
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Оптика2



                    .kab._kab-js
                      .kab__title._kab-title-js
                        h4 Гомеопатия
                        svg
                          use(xlink:href='#arrow')
                      .kab__hidden._kab-hidden-js 
                        ._kab-wrap-js 
                          .tab__body._tab-body-js
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Гомеопатия1
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Гомеопатия2


                    .kab._kab-js
                      .kab__title._kab-title-js
                        h4 Питание
                        svg
                          use(xlink:href='#arrow')
                      .kab__hidden._kab-hidden-js 
                        ._kab-wrap-js 
                          .tab__body._tab-body-js
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Питание1
                            .kab._kab-js
                              .kab__title._kab-title-js
                                a(href="#!") Питание2


        ul.menu__list
          li.menu__item
            a.menu__link.menu-link-js.menu__link--active(href='#!' rel='#posts') Акции
          li.menu__item
            a.menu__link.menu-link-js(href='#!' rel='#galery') Товар дня
          li.menu__item
            a.menu__link.menu-link-js.menu__link--cherry(href='#!' rel='#galery') %Распродажа
          li.menu__item
            a.menu__link.menu-link-js(href='#!' rel='#galery') аптечка
          li.menu__item
            a.menu__link.menu-link-js(href='#!' rel='#galery') Программа лольности
          li.menu__item
            a.menu__link.menu-link-js(href='#!' rel='#galery') О компании

