.select-custom {
  position: relative;
  margin: 30px 0;
}

.dropdown-button {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  background: white;
  border: 1px solid green;
  height: 46px;
  padding: 13px 20px;
  @include transition;
    z-index: 2;
}

/* .dropdown-button:focus,.dropdown-button-active {
  box-shadow: inset 0 0 5px rgb(111, 142, 245);
} */
.dropdown-button:hover {
  background:  lighten(green, 75%);
  color: lighten(green, 25%);
  border: 1px solid lighten(green, 25%);
  svg{
    fill: lighten(green, 25%);
  }
}


.dropdown-button-active{
// outline: 2px solid #050505 ;
}



.dropdown-button svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0%, -50%);
  pointer-events: none;
  @include transition;
  &._is-active{
    transform: translate(0%, -50%) rotate(180deg);
  }
}


.dropdown-list {
  position: absolute;
  top: 46px;
  right: 0;
  width: 100%;
  text-align: left;
  background: white;
  /* border: 1px solid #7ab764; */
  z-index: 1;
  transform:  scaleY(0);
  transform-origin: top;
  border-top: 1px solid lighten(green, 25%);
  border-bottom: 1px solid lighten(green, 25%);
@include transition;
}

.dropdown-list._is-active{
transform:  scaleY(1);
}

.dropdown-list__item {
  padding: 5px 20px;
  border: 1px solid transparent;
  cursor: pointer;
  border-top: none;
  @include transition;
  border-left: 1px solid lighten(green, 25%);
  border-right: 1px solid lighten(green, 25%);
 
}

.dropdown-list__item._item-active{
background: lighten(green, 25%);
}

.dropdown-list__item:first-child {
  // border-top: 1px solid rgba(40, 40, 40, 0.8);
  // border-top-left-radius: 5px;
  // border-top-right-radius: 5px;
}

.dropdown-list__item:last-child {
  // border-bottom-left-radius: 5px;
  // border-bottom-right-radius: 5px;
}

.dropdown-list__item:hover {
   background:  rgba(37, 38, 41, .05);
  color: lighten(green, 25%);
  svg{
    fill: lighten(green, 25%);
  }
}

.drop__input{
margin: 10px 0 0 0;
/* opacity: 0;
visibility: hidden; */
}