.select {
  position: relative;
  .dropdown-button {
    min-width: 230px;
    position: relative;
    background: $white;
    min-height: 50px;
    text-align: left;
    z-index: 2;
    padding: 0px 20px;
    border-radius: 5px;
    border: solid 1px $greyish;
    &._is-new {
      background: #edf1f7;
      padding: 8px 20px;
    }
    ._drop-hidden {
      @include Text-Style-31;
      display: none;
      &._is-active {
        display: block;
      }
    }
    span {
      @include Text-Style-31;
      &._is-new {
        color: #000;
        font-family: "PT Serif", serif;
        font-size: 26px;
        font-weight: 400;
        line-height: 34px;
      }
    }
  }
  .form-field__area-svg {
    &._is-active {
      transform: translateY(-50%) rotate(180deg);
    }
  }
  .dropdown-list {
    border: solid 1px $greyish;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    text-align: left;
    background: $white;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: top;
    @include transition;
    max-height: 155px;
    overflow: hidden;
  }

  .dropdown-list._is-active {
    transform: scaleY(1);
    overflow: auto;
  }

  .dropdown-list__item {
    padding: 3px 20px;
    cursor: pointer;
    @include transition;
    @include Text-Style-31;
  }

  .dropdown-list__item._item-active {
    background: $focus;
  }

  .dropdown-list__item:hover {
    background: $focus;
  }

  .drop__input {
    // margin: 10px 0 0 0;
    // border: 1px solid #545553;
    /* opacity: 0;
visibility: hidden; */
  }
}
