.container
  .select
      .dropdown-button
        p Место проживания 
        input(type="hidden" name='place' value="" )
        span
        .form-field__area-svg
          svg
            use(xlink:href='#arrow-down')
      ul.dropdown-list
        -
          var blocks = [
            {text: 'коттеджи 2-х местные' },
            {text: 'дом Лесника' },
            {text: 'дом Охотника' },
            {text: 'дом Рыбака №1' },
            {text: 'дом Рыбака №2' },
          ];
        each block in blocks
          li.dropdown-list__item(data-value=block.text)=block.text

