.select {
  position: relative;
  border: none;
  width: 100%;
  height: 100%;
  .dropdown-button {
    position: relative;
    background: beige;
    text-align: left;
    z-index: 2;
    border-radius: 5px;
    @include transition;
    padding: 10px 20px;

    &._is-new {
      padding: 12px 20px 13px;
      & ~ .dropdown-list {
        top: 74px;
      }
    }

    span {
      @include transition;
      &._is-new {
        display: flex;
        color: #000;
        font-family: "PT Serif", serif;
        font-size: 26px;
        font-weight: 400;
        line-height: 34px;
        opacity: 1;
        width: 80%;
      }
    }
  }
  .form-field__area-svg {
    &._is-active {
      transform: translateY(-50%) rotate(180deg);
    }
  }
  .dropdown-list {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: solid 1px grey;

    width: 100%;
    text-align: left;
    background: white;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: top;
    @include transition;
    max-height: 0;
    overflow: hidden;
  }

  .dropdown-list._is-active {
    transform: scaleY(1);
    overflow: auto;
    max-height: 155px;
  }

  .dropdown-list__item {
    padding: 10px 20px;
    cursor: pointer;
    @include transition;
  }

  .dropdown-list__item._item-active {
    background: beige;
  }

  .dropdown-list__item:hover {
    background: beige;
  }

  // .drop__input {
    // margin: 10px 0 0 0;
    // border: 1px solid #545553;
    /* opacity: 0;
visibility: hidden; */
  // }
}
