.select
  input(type="hidden")
  button.dropdown-button
    span Ростов-на-Дону
    svg.icon
      use(xlink:href='#arrow')
  ul.dropdown-list
    .dropdown-list-wrap
      li.dropdown-list__item(data-value='Notes') Mосква
      li.dropdown-list__item(data-value='Photo') Санкт Петербург
      li.dropdown-list__item(data-value='Dictionary') Сан Франциско
  //- input.drop__input(type='text' value='')