footer(id="footer").footer
  .container
    .footer__title
      p Агентство по трудоустройству 
      h2 «TeRRa Work»
    .footer__text 
      p Компания, созданная с целью помощи трудовым мигрантам найти 
      p работу за границей. Мы предоставляем работу в строительных
      p компаниях, фабриках, заводах, складах, отелях и ресторанах.

    .footer__items
      .footer__item
        .footer__info
          p Сергей Сергев
          span Менеджер компании
          .marker
        .footer__img
          .imgs 
            img(src="./img/shef.webp" alt = "img")

      .footer__item.footer__item--mit
        p Свяжитесь с нами
        a.btn.btn-blue(href="#!") 
          svg 
            use(xlink:href="#phonered")

          span +38 (095) 000 44 53
        span Пн-Пт: с 10:00 до 18:0 0
        span Сб-Вс: выходной
        p Пишите нам
        .footer__soc.soc 
          a(href='#!')
            svg
              use(xlink:href='#tel')
          a(href='#!')
            svg
              use(xlink:href='#inst')

      form.footer__item(action="#" name="send-form").send#send-form
        p._a или пишите нам
        .send__linia.input-field._b
          input#name(type='text' name='name1' value='' placeholder=' Denzel Washington')
          label.text-field__label(for='name1') Имя (обязательно) 

        .send__linia.input-field._c
          input#tel(type='tel' name='name2' value='' placeholder=' Denzel Washington')
          label.text-field__label(for='name2') Телефон (обязательно)
        .send__linia.textarea-field._d 
          textarea#textarea4(name="textarea4" row='20' placeholder="Введите текст" )
          label(for='textarea4') Сообщение
        .send__linia._e
          button.btn.btn-success.but-wave(type="submit" name = "submit") Отправить
          include ../svgbunner.pug
          span Это бесплатно

.footer-low

  .container.footer-low__body
    span Terra Work 2022
    a.btn.btn-blue(href="#!") Политика конфиденциальности
    .footer__link
      span Разработано в 
      a.btn.btn-blue(href="#!") IPR