footer(id="footer").footer
  .container
    .footer__title
      p
      h2
    .footer__items
      .footer__item
        .footer__img
          .imgs 
            img(src="./img/shef.webp" alt = "img")
        .footer__info
          p
          span
      .footer__item
        p
        a.btn.btn-blue(href="#!") 
          svg 
            use(xlink: href="#!" rel="phone")
          span
        span
        span
        p
        .footer__soc
      .footer__item
      .footer__low
        span
        a.btn.btn-blue(href="#!") 
        .footer__link
          span
          a.btn.btn-blue(href="#!") 