.rec {
  &__title {
    h2 {
      @include Text-Style-70;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    row-gap: 80px;
    justify-content: space-between;
    margin: 50px 0 0 0;
  }
  &__item {
    display: grid;
    grid-template-columns: 92px 1fr;
    column-gap: 10px;
    row-gap: 10px;
    svg {
      width: 92px;
      height: 63px;
      grid-row: 1/3;
    }
    h3 {
      @include Text-Style-71;
    }
    p {
      @include Text-Style-74;
    }
  }
  &__img {
    position: relative;
    position: absolute;
    left: 49%;
    top: 59%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 251px;
    height: 138px;
  }
  &__cont {
    height: 152px;
    overflow: hidden;
  }
  &__cont-body {
    @include flex-aligne-center;
    height: 152px;
    justify-content: space-between;
  }
  &__cont-title {
    z-index: 2;
    position: relative;
    h2 {
      @include Text-Style-72;
    }
    p {
      @include Text-Style-73;
    }
  }
  &__form {
    z-index: 2;
    width: 402px;
    @include flex-aligne-center;
    border-radius: 3px;
    overflow: hidden;
    .text-field {
      height: 55px;
      box-shadow: 2.5px 11.7px 46px 0 rgba(46, 46, 46, 0.03);
      background-color: $white-three;
    }
    button {
      background-color: $cherry-light;
      min-width: 137px;
      height: 55px;
      @include Text-Style-33;
      border-radius: 0;
    }
    label {
      @include Text-Style-74;
      @include flex-aligne-center;
      column-gap: 14px;
      svg {
        width: 14px;
        height: 12px;
        fill: #b8b8b8;
      }
    }
  }
}
