.footer {
  position: relative;
  background-color: #0b0d17;
  margin: auto 0 0 0;
  padding: 30px 0;
}

.footer {
  &__body {
    display: grid;
    grid-template-columns: 1fr 107px 1fr;
    column-gap: 68px;
    row-gap: 50px;
  }

  &__col {
  }

  &__low {
    margin: 37px 0 0 0;
    span {
      display: block;
      margin: 30px 0;
      text-align: center;
      @include Text-Style;
    }
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      opacity: 0.2;
      background-color: $white;
      top: 16px;
      left: 0;
      z-index: 1;
    }
  }
  &__logo {
    position: relative;
    margin: 0 auto;
    z-index: 10;
    background-color: #0b0d17;
    padding: 0 20px;
  }
  .logo {
    width: 154px;
    height: 39px;
  }
}

.footer-col {
  &:first-of-type {
    .footer-col__title {
      margin: 0 0 30px 0;
    }
  }
  &:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &:last-of-type {
    margin: 0 0 0 40px;
    .footer-col__title {
      margin: 0 0 30px 0;
    }
  }
  &__title {
    margin: 0 0 15px 0;
    h2 {
      @include Text-Style-43;
      text-transform: uppercase;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    row-gap: 10px;
    justify-content: space-between;
    a {
      @include Text-Style-11;
      opacity: 0.65;
      &:hover {
        color: #b0a8e9;
      }
    }
  }
  .footer-col__svg {
    width: 105px;
    height: 74px;
    margin: 0 0 20px 0;
    &:last-of-type {
      width: 107px;
      height: 93px;
      margin: 0 0 0 4px;
    }
  }

  &__link {
    width: 100%;
    margin: 0 0 30px 0;
    @include flex-aligne-center;
    &:hover {
      svg {
        fill: #b0a8e9;
      }
      span {
        color: #b0a8e9;
      }
    }
    svg {
      @include transition;
      fill: $periwinkle;
      width: 24px;
      height: 24px;
    }
    span {
      @include Text-Style;
      margin: 0 0 0 22px;
    }
    &:last-of-type {
      margin: 0 0 0 0;
    }
  }
  .soc {
    margin: 60px 0 0 0;
    &__item {
      width: 54px;
      height: 54px;
      svg {
        width: 18px;
        height: 18px;
      }
      .soc__item a svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-col__items {
    grid-template-columns: 1fr;
    row-gap: 10px;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .footer-col {
    @include flex-center;
    flex-direction: column;
  }
  .footer__body {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 20px;
  }
  .footer-col__items {
    grid-template-columns: 1fr;
    row-gap: 10px;
    justify-content: start;
  }
  .footer-col .soc {
    margin: 30px 0 0 0;
  }
  .footer .soc {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
  }
  .footer-col:last-of-type {
    margin: 0;
  }
  .footer-col__link {
    margin: 0 0 20px 0;
  }
}
