.footer {
  position: relative;
  margin: auto 0 0 0;
  padding: 52px 0;
  background-color: $white-five;
  &__body {
  }
  &__row {
    display: grid;
    grid-template-columns: 61px repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 20px;
    &:nth-child(2){
      grid-template-columns:  repeat(5, 1fr);
      margin: 0 0 0 101px;
    }
    &:nth-child(3){
      grid-template-columns:  repeat(3, 1fr);
    }
  }
  &__column {
  }
  &__logo {
  }

  .column {
    &__title {
      h3 {
        @include Text-Style-39;
      }
    }

    &__text {
      p {
        @include Text-Style-40;
      }
    }

    &__link {
      @include Text-Style-4;
    }

    span {
      @include Text-Style-48;
    }
  }
}
.logo {
  svg {
    width: 61px;
    height: 67px;
  }
}
