section(id='footer').footer.rel
  .container
    .footer-body
      .footer-top
        .footer-menu-column
          span.router-menu-title Menu
          .footer-menu__link New arrivals
          .footer-menu__link Best sellers
          .footer-menu__link Recently viewed
          .footer-menu__link Popular this week
          .footer-menu__link All products
        .footer-menu-column
          span.router-menu-title Categories
          .footer-menu__link Crockery
          .footer-menu__link Furniture
          .footer-menu__link Homeware
          .footer-menu__link Plant pots
          .footer-menu__link Chairs
          .footer-menu__link Crockery
        .footer-menu-column
          span.router-menu-title Our company
          .footer-menu__link About us
          .footer-menu__link Vacancies
          .footer-menu__link Contact us
          .footer-menu__link Privacy
          .footer-menu__link Returns policy
        .footer-menu-column
          span.router-menu-title Join our mailing list
          form.footer-form.join-form.footer-suscribe
            input(type='text' placeholder="your@email.com").dark
            a(href='#!').btn.btn--white.join-form__button Sign up
      .footer-bottom
        span.footer-bottom__copy Copyright 2022 Avion LTD
        .footer-soc
          a(href="#!").footer-soc__link
            svg
              use(xlink:href='#in') 
          a(href="#!").footer-soc__link
            svg
              use(xlink:href='#fb')
          a(href="#!").footer-soc__link
            svg
              use(xlink:href='#insta')
          a(href="#!").footer-soc__link
            svg
              use(xlink:href='#scipe')
          a(href="#!").footer-soc__link
            svg
              use(xlink:href='#twitter')
          a(href="#!").footer-soc__link
            svg
              use(xlink:href='#pinterest')



