footer#footer.footer
  .container
    .footer__body
      .footer__col.footer-col
        .footer-col__title 
          h2 PASALUGOS
        ul.footer-col__items
          li
            a(href="#!") Google Ads
          li
            a(href="#!") Youtube
          li
            a(href="#!") Tinklapiai ir e-parduotuvės
          li
            a(href="#!") Facebook
          li
            a(href="#!") Linkedin
          li
            a(href="#!") Parduodančių tekstų rašymas
          li
            a(href="#!") Instagram
          li
            a(href="#!") Naujienlaiškis
          li
            a(href="#!") Marketingo strategijos kūrimas 
        ul.soc
          li.soc__item
            a(href="#!") 
              svg
                use(xlink:href='#in')
          li.soc__item
            a(href="#!") 
              svg
                use(xlink:href='#fb')
          li.soc__item
            a(href="#!") 
              svg
                use(xlink:href='#lk')
      .footer__col.footer-col
        .footer-col__title 
          h2 SERTIFIKATAI
        img.footer-col__svg(src='./img/futer-1.svg' alt='img')
        img.footer-col__svg(src='./img/futer-2.svg' alt='img')
      .footer__col.footer-col
        .footer-col__title 
          h2 Reach us
        a(href="#!").footer-col__link
          svg
            use(xlink:href='#futer-4')
          span info@bereklamosnegerai.lt
        a(href="#!").footer-col__link
          svg
            use(xlink:href='#futer-5')
          span +370 698 49159
        a(href="#!").footer-col__link
          svg
            use(xlink:href='#futer-6')
          span Vilnius: Pelesos g. 1- 306, LT-02161

    .footer__low
      a(href="#!").footer__logo.logo 
        img.footer-col__svg(src='./img/logo.svg' alt='img')
      span © 2021 Be reklamos negerai. All rights reserved
