.footer {
  // .footer__body
  padding: 53px 0 95px 0;
  &__body {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    justify-content: space-between;
    column-gap: 20px;
  }

  // .footer__col

  &__col {
    p {
      @include Text-Style-77;
      &:last-of-type {
        @include Text-Style-78;
      }
    }

    &--last {
      a {
        @include Text-Style-70;
        margin: 7px 0 15px 0;
      }
      .soc {
        margin: 15px 0;
        a {
          margin: 0 0 0 0;
        }
      }
    }
  }

  // .footer__title

  &__title {
    h2 {
      @include Text-Style-76;
    }
  }

  // .footer__links

  &__links {
    margin: 15px 0 0 0;
    li {
    }
    a {
      @include Text-Style-75;
    }
  }

  &__low {
    margin: 20px 0 0 0;
    p {
      margin: 0 0 20px 0;
      @include Text-Style-79;
      a {
        @include Text-Style-80;
        text-decoration: underline !important;
      }
    }
  }

  &__pol {
    @include Text-Style-81;
  }
}
#_returnToTop {
  position: fixed;
  right: 134px;
  bottom: 134px;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  box-shadow: 0 5px 8px 0 rgba(135, 135, 135, 0.2);
  background-color: $white-three;
  @include flex-center;
  @include transition;
  svg {
    width: 24px;
    height: 13px;
  }
  &:hover {
    box-shadow: 0 5px 8px 0 rgba(135, 135, 135, 0.4);
  }
}
