.footer {
  position: relative;
  margin: auto 0 0 0;
  padding: 30px 0;
  background-color: $white-five;
  &__body {
  }
  &__row {
    display: grid;
    grid-template-columns: 70px 269px 367px 169px 163px;
    column-gap: 32px;
    row-gap: 20px;

    position: relative;
    &:nth-child(2) {
      grid-template-columns: 269px 165px 172px 165px 165px;
      margin: 0 0 20px 101px;
      padding: 25px 0 0 0;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 600px;
        height: 1px;
        top: 0;
        left: 301px;
        background: #efefef;
      }
      & .footer__column {
        &:not(:first-child) {
          padding: 4px 0 0 0;
        }
        &:nth-child(3) {
          li:nth-child(1) {
            white-space: nowrap;
          }
        }
      }
    }
    &:nth-child(3) {
      grid-template-columns: 137px 1fr 161px;
      padding: 35px 0 0 0;
      margin: 0 0 -29px 0;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 1px;
        top: 0;
        left: 0;
        background: #efefef;
      }
      .column:nth-child(2) {
        padding: 0 28px 0px 230px;
        margin: -3px 0 0 0;
      }
      .column:nth-child(3){
         margin: -3px 0 0 0;
      }
      .column__text p {
        margin: 0;
      }
      a {
        @include Text-Style-47;
        margin: 0 51px 3px 0;
      }
    }
  }
  &__column {
  }
  &__logo {
  }

  .column {
    &--second {
      padding: 0 40px 0 0;
    }
    &--third {
      display: grid;
      grid-template-areas: "a a " "b c";
      grid-template-columns: repeat(2, max-content);
      column-gap: 55px;
      grid-template-rows: repeat(2, min-content);
      // row-gap: 50px;
      ._a-third {
        grid-area: a;
      }
      ._b-third {
        grid-area: b;
      }
      ._c-third {
        grid-area: c;
      }
    }
    &__title {
      margin: 3px 0 0 0;
      h3 {
        @include Text-Style-39;
      }
      a {
        @include Text-Style-42;
        &:last-of-type {
          @include Text-Style-43;
          margin: 8px 0 0 0;
        }
      }
    }

    &__text {
      p {
        @include Text-Style-40;
        margin: 21px 12px 0 0;
      }
      li {
        margin: 18px 0 0px 0;
        a {
          @include Text-Style-40;
          &:hover {
            color: lighten($jungle-green, 25%);
          }
        }
      }
      &--border {
        max-width: 106px;
        li:last-child {
          padding: 0 0 31px;
          border-bottom: solid 1px #efefef;
        }
      }
    }

    &__link {
      @include Text-Style-4;
      margin: 22px 0 0 0;
      &:hover {
        color: lighten($jungle-green, 25%);
      }
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: 100%;
        left: 0;
        background: $jungle-green;
      }
    }
    &__block {
      margin: 19px 0 0 0;
      p {
        @include Text-Style-44;
      }
      a {
        @include Text-Style-45;
      }
    }

    span {
      @include Text-Style-48;
    }
  }
}

