footer#footer.footer
  .container
    .footer__body
      .footer__row
        .footer__column.column
            a(href="#!")#logoSvg.footer__logo.logo
              svg
                use(xlink:href='#logo')

        .footer__column.column.column--second
            .column__title 
              h3 Address
            .column__text
              p
                | Russia, Krasnodar region, Dinskoy
                | district, st. Plastunovskaya, Estate
                | "Famila"
            a(href="#!").column__link On the map
            a(href="#!").column__link Route to the Estate "Familia"
        .footer__column.column.column--third
            .column__title._a-third
              h3 Hotel
            ul.column__text._b-third
              li 
                a(href="#!") Presidential Cottage
              li 
                a(href="#!") Family cottage
              li 
                a(href="#!") Lux
              li 
                a(href="#!") Junior Suite



      .footer__row
        .footer__column.column
            .column__text
              p © Estate "Familia",<br> All rights reserved
