.btn {
  border: 1px solid transparent;
  outline: none;
  @include flex-center;
  cursor: pointer;
  @include transition;
}

.btn--success {
  flex-grow: 0;
  border-radius: 10px;
  border: solid 1px $white-16;
  background-color: $jungle-green;
  p {
    @include Text-Style-29;
  }
  &:hover {
    box-shadow: 0 6px 10px lighten($jungle-green, 60%),
      inset 0 0 15px rgba(255, 255, 255, 1);
  }
}
/* .btn--success:focus {
  border: 1px solid #2b2b63;
  background: #d6a6f7;
  box-shadow: 0px 0px 20px white !important;
  color: white;
} */

// .btn--light svg {
//   width: 20px;
//   height: 20px;
//   fill: chocolate;
// }

// .btn--light:hover svg {
//   fill: var(--red);
// }

// .btn--empty:focus {
//   border: 1px solid #0000cc;
//   background: #3333ff;
//   box-shadow: 0px 0px 20px white !important;
//   color: white;
// }

// .btn--light:hover,
// .btn--cross:hover {
//   background: #9999ff;
//   border: 1px solid #0000cc;
//   box-shadow: 0px 0px 20px white !important;
//   color: white;
// }

// .btn--light:focus,
// .btn--cross:focus {
//   border: 1px solid #0000cc;
//   background: #3333ff;
//   box-shadow: 0px 0px 20px white !important;
//   color: white;
// }

// .btn--success-icon {
//   min-width: 300px;
//   height: 40px;
//   background: rgb(12, 185, 133);
//   border: 3px solid rgb(12, 185, 133);
//   border-radius: 10px;
//   cursor: pointer;
// }

// .btn--success-icon svg,
// .btn--success-icon span {
//   color: white;
//   fill: white;
// }
