.realise {
  margin: 40px 0 0 0;
  &__body {
    max-width: 847px;
  }
  .title {
    padding: 0 0 24px 0;
  }
  &__item {
  }
  .realise-item {
    padding: 15px 0 15px 33px;
    display: grid;
    grid-template-columns: 87px max-content 88px 165px;
    column-gap: 35px;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    border-top: 1px solid $white-four;
    &__img {
      width: 73px;
      height: 152px;

      svg {
        width: 24px;
        height: 24px;
        fill: $pinkish-grey;
        z-index: 4;
        position: absolute;
        top: -5px;
        right: -33px;
      }
      &:hover {
        svg {
          fill: $hover;
        }
      }
    }
    span {
      display: block;
      @include Text-Style-47;
    }
    .common-button {
      width: 165px;
      height: 42px;
    }
    &__fidback {
      margin: 10px 0 15px 0;
      @include flex-aligne-center;
      svg {
        width: 20px !important;
        height: 20px !important;
        fill: $sunflower-yellow;
        &:last-of-type {
          fill: $white-three;
          stroke: $sunflower-yellow;
        }
      }
      //
      //
      // }
      span {
        display: inline-block;
        @include Text-Style-45;
        line-height: 1;
        margin: 0 0 0 10px;
        padding: 3px 0 0 0;
      }
    }
    &__text {
      @include Text-Style-46;
    }
    .common-span {
      margin: 0 0 0 0;
      p {
        @include Text-Style-49;
        top: 50%;
        transform: translateY(-50%);
        right: -30px;
      }
    }

    &__col {
      position: relative;
      ._last {
        position: absolute;
        top: 110%;
        @include Text-Style-20;
      }
    }
  }
}

@media (max-width: 1140px) {
  .realise .realise-item {
    padding: 15px 0 37px 0;
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 20px;
  }
  .realise .realise-item__img {
    width: 73px;
    height: 152px;
  }
  .realise {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 601px) and (max-width: 1140px) {
  .realise__body {
    max-width: 847px;
  }
}
