section(id='realise').realise.rel

  .container
    .title
      h3 Форма выпуска
    ul.realise__body
      li.realise__item.realise-item
        .realise-item__img.rel
          .imgs
            img(src='./img/i-4.webp' alt='img')
          svg
            use(xlink:href='#like')

        .realise-item__col
          .realise-item__title 
            h4 Nuxe Сплендьез Крем SPF 20 50мл
          .realise-item__fidback 
            fildset.fildset-rating
              .fildset-rating__items
                input(type="radio" id="fidback5" name='fidback' value='5' )
                label(for="fidback5")
                  svg
                    use(xlink:href='#star-empty')  
                input(type="radio" id="fidback4" name='fidback' value='4' )
                label(for="fidback4")
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback3" name='fidback' value='3' )
                label(for="fidback3") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback2" name='fidback' value='2' )
                label(for="fidback2") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback1" name='fidback' value='1' )
                label(for="fidback1") 
                  svg
                    use(xlink:href='#star-empty') 
            span 15
          p.realise-item__text Производитель: МирамаксБиоФарма, Россия
          p.realise-item__text Действующее вещество: Пенициллин


        .realise-item__col
          .common-span 2520 ₽
            p -20%
          span 2100 ₽

        .realise-item__col
          button.btn.btn-success.but-wave.common-button(type='submit') 
            svg
              use(xlink:href='#shopping-cart')
            |В корзину
          span._last В наличии
      li.realise__item.realise-item
        .realise-item__img.rel
          .imgs
            img(src='./img/i-5.webp' alt='img')
          svg
            use(xlink:href='#like')

        .realise-item__col
          .realise-item__title 
            h4 Nuxe Сплендьез Крем SPF 20 50мл
          .realise-item__fidback 
            fildset.fildset-rating
              .fildset-rating__items
                input(type="radio" id="fidback5" name='fidback' value='5' )
                label(for="fidback5")
                  svg
                    use(xlink:href='#star-empty')  
                input(type="radio" id="fidback4" name='fidback' value='4' )
                label(for="fidback4")
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback3" name='fidback' value='3' )
                label(for="fidback3") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback2" name='fidback' value='2' )
                label(for="fidback2") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback1" name='fidback' value='1' )
                label(for="fidback1") 
                  svg
                    use(xlink:href='#star-empty') 
            span 15
          p.realise-item__text Производитель: МирамаксБиоФарма, Россия
          p.realise-item__text Действующее вещество: Пенициллин


        .realise-item__col
          .common-span 2520 ₽
            p -20%
          span 2100 ₽

        .realise-item__col
          button.btn.btn-success.but-wave.common-button(type='submit') 
            svg
              use(xlink:href='#shopping-cart')
            |В корзину
          span._last В наличии
      li.realise__item.realise-item
        .realise-item__img.rel
          .imgs
            img(src='./img/i-6.webp' alt='img')
          svg
            use(xlink:href='#like')

        .realise-item__col
          .realise-item__title 
            h4 Nuxe Сплендьез Крем SPF 20 50мл
          .realise-item__fidback 
            fildset.fildset-rating
              .fildset-rating__items
                input(type="radio" id="fidback5" name='fidback' value='5' )
                label(for="fidback5")
                  svg
                    use(xlink:href='#star-empty')  
                input(type="radio" id="fidback4" name='fidback' value='4' )
                label(for="fidback4")
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback3" name='fidback' value='3' )
                label(for="fidback3") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback2" name='fidback' value='2' )
                label(for="fidback2") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback1" name='fidback' value='1' )
                label(for="fidback1") 
                  svg
                    use(xlink:href='#star-empty') 
            span 15
          p.realise-item__text Производитель: МирамаксБиоФарма, Россия
          p.realise-item__text Действующее вещество: Пенициллин


        .realise-item__col
          .common-span 2520 ₽
            p -20%
          span 2100 ₽

        .realise-item__col
          button.btn.btn-success.but-wave.common-button(type='submit') 
            svg
              use(xlink:href='#shopping-cart')
            |В корзину
          span._last В наличии
      li.realise__item.realise-item
        .realise-item__img.rel
          .imgs
            img(src='./img/i-10.webp' alt='img')
          svg
            use(xlink:href='#like')

        .realise-item__col
          .realise-item__title 
            h4 Nuxe Сплендьез Крем SPF 20 50мл
          .realise-item__fidback 
            fildset.fildset-rating
              .fildset-rating__items
                input(type="radio" id="fidback5" name='fidback' value='5' )
                label(for="fidback5")
                  svg
                    use(xlink:href='#star-empty')  
                input(type="radio" id="fidback4" name='fidback' value='4' )
                label(for="fidback4")
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback3" name='fidback' value='3' )
                label(for="fidback3") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback2" name='fidback' value='2' )
                label(for="fidback2") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback1" name='fidback' value='1' )
                label(for="fidback1") 
                  svg
                    use(xlink:href='#star-empty') 
            span 15
          p.realise-item__text Производитель: МирамаксБиоФарма, Россия
          p.realise-item__text Действующее вещество: Пенициллин


        .realise-item__col
          .common-span 2520 ₽
            p -20%
          span 2100 ₽

        .realise-item__col
          button.btn.btn-success.but-wave.common-button(type='submit') 
            svg
              use(xlink:href='#shopping-cart')
            |В корзину
          span._last В наличии
      li.realise__item.realise-item
        .realise-item__img.rel
          .imgs
            img(src='./img/i-1.webp' alt='img')
          svg
            use(xlink:href='#like')

        .realise-item__col
          .realise-item__title 
            h4 Nuxe Сплендьез Крем SPF 20 50мл
          .realise-item__fidback 
            fildset.fildset-rating
              .fildset-rating__items
                input(type="radio" id="fidback5" name='fidback' value='5' )
                label(for="fidback5")
                  svg
                    use(xlink:href='#star-empty')  
                input(type="radio" id="fidback4" name='fidback' value='4' )
                label(for="fidback4")
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback3" name='fidback' value='3' )
                label(for="fidback3") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback2" name='fidback' value='2' )
                label(for="fidback2") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback1" name='fidback' value='1' )
                label(for="fidback1") 
                  svg
                    use(xlink:href='#star-empty') 
            span 15
          p.realise-item__text Производитель: МирамаксБиоФарма, Россия
          p.realise-item__text Действующее вещество: Пенициллин


        .realise-item__col
          .common-span 2520 ₽
            p -20%
          span 2100 ₽

        .realise-item__col
          button.btn.btn-success.but-wave.common-button(type='submit') 
            svg
              use(xlink:href='#shopping-cart')
            |В корзину
          span._last В наличии


section(id='analogs').realise.rel
  .container
    .title
      h3 Аналоги
    ul.realise__body
      li.realise__item.realise-item
        .realise-item__img.rel
          .imgs
            img(src='./img/i-4.webp' alt='img')
          svg
            use(xlink:href='#like')

        .realise-item__col
          .realise-item__title 
            h4 Nuxe Сплендьез Крем SPF 20 50мл
          .realise-item__fidback 
            fildset.fildset-rating
              .fildset-rating__items
                input(type="radio" id="fidback5" name='fidback' value='5' )
                label(for="fidback5")
                  svg
                    use(xlink:href='#star-empty')  
                input(type="radio" id="fidback4" name='fidback' value='4' )
                label(for="fidback4")
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback3" name='fidback' value='3' )
                label(for="fidback3") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback2" name='fidback' value='2' )
                label(for="fidback2") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback1" name='fidback' value='1' )
                label(for="fidback1") 
                  svg
                    use(xlink:href='#star-empty') 
            span 15
          p.realise-item__text Производитель: МирамаксБиоФарма, Россия
          p.realise-item__text Действующее вещество: Пенициллин


        .realise-item__col
          .common-span 2520 ₽
            p -20%
          span 2100 ₽

        .realise-item__col
          button.btn.btn-success.but-wave.common-button(type='submit') 
            svg
              use(xlink:href='#shopping-cart')
            |В корзину
          span._last В наличии
      li.realise__item.realise-item
        .realise-item__img.rel
          .imgs
            img(src='./img/i-5.webp' alt='img')
          svg
            use(xlink:href='#like')

        .realise-item__col
          .realise-item__title 
            h4 Nuxe Сплендьез Крем SPF 20 50мл
          .realise-item__fidback 
            fildset.fildset-rating
              .fildset-rating__items
                input(type="radio" id="fidback5" name='fidback' value='5' )
                label(for="fidback5")
                  svg
                    use(xlink:href='#star-empty')  
                input(type="radio" id="fidback4" name='fidback' value='4' )
                label(for="fidback4")
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback3" name='fidback' value='3' )
                label(for="fidback3") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback2" name='fidback' value='2' )
                label(for="fidback2") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback1" name='fidback' value='1' )
                label(for="fidback1") 
                  svg
                    use(xlink:href='#star-empty') 
            span 15
          p.realise-item__text Производитель: МирамаксБиоФарма, Россия
          p.realise-item__text Действующее вещество: Пенициллин


        .realise-item__col
          .common-span 2520 ₽
            p -20%
          span 2100 ₽

        .realise-item__col
          button.btn.btn-success.but-wave.common-button(type='submit') 
            svg
              use(xlink:href='#shopping-cart')
            |В корзину
          span._last В наличии
      li.realise__item.realise-item
        .realise-item__img.rel
          .imgs
            img(src='./img/i-6.webp' alt='img')
          svg
            use(xlink:href='#like')

        .realise-item__col
          .realise-item__title 
            h4 Nuxe Сплендьез Крем SPF 20 50мл
          .realise-item__fidback 
            fildset.fildset-rating
              .fildset-rating__items
                input(type="radio" id="fidback5" name='fidback' value='5' )
                label(for="fidback5")
                  svg
                    use(xlink:href='#star-empty')  
                input(type="radio" id="fidback4" name='fidback' value='4' )
                label(for="fidback4")
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback3" name='fidback' value='3' )
                label(for="fidback3") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback2" name='fidback' value='2' )
                label(for="fidback2") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback1" name='fidback' value='1' )
                label(for="fidback1") 
                  svg
                    use(xlink:href='#star-empty') 
            span 15
          p.realise-item__text Производитель: МирамаксБиоФарма, Россия
          p.realise-item__text Действующее вещество: Пенициллин


        .realise-item__col
          .common-span 2520 ₽
            p -20%
          span 2100 ₽

        .realise-item__col
          button.btn.btn-success.but-wave.common-button(type='submit') 
            svg
              use(xlink:href='#shopping-cart')
            |В корзину
          span._last В наличии
      li.realise__item.realise-item
        .realise-item__img.rel
          .imgs
            img(src='./img/i-10.webp' alt='img')
          svg
            use(xlink:href='#like')

        .realise-item__col
          .realise-item__title 
            h4 Nuxe Сплендьез Крем SPF 20 50мл
          .realise-item__fidback 
            fildset.fildset-rating
              .fildset-rating__items
                input(type="radio" id="fidback5" name='fidback' value='5' )
                label(for="fidback5")
                  svg
                    use(xlink:href='#star-empty')  
                input(type="radio" id="fidback4" name='fidback' value='4' )
                label(for="fidback4")
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback3" name='fidback' value='3' )
                label(for="fidback3") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback2" name='fidback' value='2' )
                label(for="fidback2") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback1" name='fidback' value='1' )
                label(for="fidback1") 
                  svg
                    use(xlink:href='#star-empty') 
            span 15
          p.realise-item__text Производитель: МирамаксБиоФарма, Россия
          p.realise-item__text Действующее вещество: Пенициллин


        .realise-item__col
          .common-span 2520 ₽
            p -20%
          span 2100 ₽

        .realise-item__col
          button.btn.btn-success.but-wave.common-button(type='submit') 
            svg
              use(xlink:href='#shopping-cart')
            |В корзину
          span._last В наличии
      li.realise__item.realise-item
        .realise-item__img.rel
          .imgs
            img(src='./img/i-1.webp' alt='img')
          svg
            use(xlink:href='#like')

        .realise-item__col
          .realise-item__title 
            h4 Nuxe Сплендьез Крем SPF 20 50мл
          .realise-item__fidback 
            fildset.fildset-rating
              .fildset-rating__items
                input(type="radio" id="fidback5" name='fidback' value='5' )
                label(for="fidback5")
                  svg
                    use(xlink:href='#star-empty')  
                input(type="radio" id="fidback4" name='fidback' value='4' )
                label(for="fidback4")
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback3" name='fidback' value='3' )
                label(for="fidback3") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback2" name='fidback' value='2' )
                label(for="fidback2") 
                  svg
                    use(xlink:href='#star-empty') 
                input(type="radio" id="fidback1" name='fidback' value='1' )
                label(for="fidback1") 
                  svg
                    use(xlink:href='#star-empty') 
            span 15
          p.realise-item__text Производитель: МирамаксБиоФарма, Россия
          p.realise-item__text Действующее вещество: Пенициллин


        .realise-item__col
          .common-span 2520 ₽
            p -20%
          span 2100 ₽

        .realise-item__col
          button.btn.btn-success.but-wave.common-button(type='submit') 
            svg
              use(xlink:href='#shopping-cart')
            |В корзину
          span._last В наличии




