.btn-success {
  @include Text-Style-2;
  text-transform: uppercase;
  width: 216px;
  height: 51px;
  border-radius: 10px;
  background-color: $periwinkle;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include transition;
  border: solid 1px transparent;
  &:hover {
    color: lighten($periwinkle, 25%);
    border: solid 1px lighten($periwinkle, 25%);
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 1);
  }
}
