.btn-blue {
  width: 100%;
  text-align: center;
  @include transition;
  background-color: #8edbfa;
  border: solid 1px #056f99;
  @include flex-center;
  &:hover {
    background-color: rgb(8, 101, 163);
    border: solid 1px lighten(#8edbfa, 25%);
  }
}
