.btn-empty {
  display: inline-block;
  p {
    @include Text-Style-11;
    @include transition;
    margin: 0 0 0 55px;
  }
  svg {
    @include transition;
    width: 38px;
    height: 38px;
    float: left;
  }
  &:hover {
    p {
      color: lighten($jungle-green, 25%);
    }
  }
}
