section(id="unter").unter.rel
  .container
    .unter__title
      span Обеспечим&nbsp;
      span.dick полную поддержку&nbsp;
      span на
        .marker
      p всех этапах сотрудничества
    ul.unter__body
      li
        .unter_nummer 01
        h2 Звонок или Заявка
        p Расскажем вам все нюнсы и 
        p детали работы
      li
        .unter_nummer 02
        h2 Подбор вакансии
        p Подберем для вас варианты  
        p работы по вашим пожеланиям
      li
        .unter_nummer 03
        h2 Согласование 
        h2 вашей кандидатуры
        p При необходимости 
        p собеседование 
      li
        .unter_nummer 04
        h2 Трансфер в страну 
        h2 работы
        p Мы поможем добраться до места

      li
        .unter_nummer 05
        h2 Встречаем вас и 
        h2 заселяем 
        p Встречаем вас и заселяем
      li
        .unter_nummer 06
        h2 Заключение 
        h2 контракта
        p Получение миграционных 
        p документов для работы

      li
        .unter_nummer 07
        h2 Приступаете к 
        h2 работе
        p Успешно вступаете в должность и  
        p зарабатываете достойную
        p зарплату


      li
        a.unter__button.btn.btn-success.but-wave.popups-init-js(rel="#popup1" href="#!") Заполнить анкету
