$white: #fff;
$black: #282828;
$black-text: #333;
$black-text1: #1f222c;
$akzent: #008000;
$hover: lighten($akzent, 25%);
$icon-dark: #282828;
$black-1: #0a0c13;
$black-2: #777e90;
$black-3: #909090;
$bg-grey: #f4f5f6;
$orange-span: #ff6600;
// color: $orange-span;
// color: $akzent;
// color: $black-1;
// color: $black-text1;
