$rgb255: rgb(255, 255, 255);
$rgb000: rgb(0, 0, 0);
$rgb137: rgb(137, 137, 137);
$rgb73: rgb(73, 73, 73);
$rgb117: rgb(117, 117, 117);
$red: rgb(237, 0, 0);
$akzent: lighten(rgb(237, 0, 0), 40%);
$rgb90: rgb(90, 90, 90);
$rgb41: rgb(41, 204, 0);
