.wrapper {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  .imgs {
    // z-index: +1;
  }
}

* {
  //  outline: 1px solid green;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi", sans-serif;
  //  font-family: 'Playfair Display', serif;
  font-size: 16px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.inner {
  position: relative;
}
.svgSpriteWrap{
  position: absolute;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: $dark;
  &:hover {
    text-shadow: 0 0 8px lighten($primary, 25%);
  }
}

.imgs {
  overflow: hidden;
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.imgs img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
}

.rel {
  position: relative;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}


/* +++++++++++++++++++++++++++++++++++++ */

.d-flex {
  display: flex;
}
.jucc {
  justify-content: center;
}
.alic {
  align-items: center;
}
.fdc {
  flex-direction: column;
}
._hover {
  &:hover {
    color: white;
    text-shadow: 0 0 14px lighten($primary, 25%);
  }
}

.lock {
  overflow: hidden;
}
.ttu {
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1340px) {
  .container {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}

@media (max-width: 767px) {
  .container {
    margin: 0 25px;
    max-width: calc(100% - 50px);
  }
}










/* +++++++++++++++++++++++++++++++++++++ */
// @media (prefers-reduced-motion: no-preference) {
//   .top-animation {
//     animation: wipe-enter 1.5s;
//   }
//   @keyframes wipe-enter {
//     0% {
//       transform: translate(0, -100px);
//       opacity: 0;
//     }
//     100% {
//       transform: translate(0, 0);
//       opacity: 1;
//     }
//   }

//   .left-animation {
//     animation: left-enter 1.5s;
//   }
//   @keyframes left-enter {
//     0% {
//       transform: translate(-200px, 0);
//       opacity: 0;
//     }
//     100% {
//       transform: translate(0, 0);
//       opacity: 1;
//     }
//   }

//   .right-animation {
//     animation: right-enter 1.5s;
//   }
//   @keyframes right-enter {
//     0% {
//       transform: translate(200px, 0);
//       opacity: 0;
//     }
//     100% {
//       transform: translate(0, 0);
//       opacity: 1;
//     }
//   }
// }
/* +++++++++++++++++++++++++++++++++++++ */

// a.common__link {
//   width: 104px;
//   height: 104px;
//   z-index: 50;
//   border-radius: 100px;
//   box-shadow: 0 4px 24px 0 rgba(27, 49, 95, 0.15);
//   background-color: rgba(9, 72, 207);
//   opacity: 0;
//   z-index: 50;
//   svg {
//     width: 50px;
//     height: 50px;
//     fill: $white;
//     transition: all 0.3s;
//   }
//   &:hover {
//     background-color: lighten(rgba(9, 72, 207), 25%);
//     box-shadow: 0 4px 24px 0 rgba(9, 72, 207, 0.45);
//     svg {
//       fill: rgba(9, 72, 207);
//     }
//   }
// }
