.fildset-switch {
  @include flex-aligne-center;
  input[type="radio"]:checked + label {
    color: $jungle-green;
    @include transition;
    @include Text-Style-34;
    padding: 0 0 0 0;
  }
  input[type="radio"]:not(:checked) + label {
    @include transition;
    @include Text-Style-35;
    padding: 0 0 0 0;
  }
  input[type="radio"]:checked + label:after,
  input[type="radio"]:checked + label::before,
  input[type="radio"]:not(:checked) + label:after,
  input[type="radio"]:not(:checked) + label::before {
    display: none;
  }
  
  span {
    @include Text-Style-35;
  }
  input{
    position: fixed!important;
  }
  column-gap: 5px;
}
