.fildset-radio {
  input[type="radio"]:checked,
  input[type="radio"]:not(:checked) {
    position: fixed !important;
    left: -9999px !important;
    height: 0px;
    width: 0px;
  }
  input[type="radio"]:checked + label,
  input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    opacity: 1;
    @include Text-Style-36;
    line-height: 26px;
    line-height: 26px;
    padding: 0 0 0 46px;
    @include transition;
    &:hover {
      color: lighten($jungle-green, 25%);
    }
  }

  input[type="radio"]:checked + label:after,
  input[type="radio"]:checked + label::before,
  input[type="radio"]:not(:checked) + label:after,
  input[type="radio"]:not(:checked) + label::before {
    display: block;
    @include transition;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
  }

  input[type="radio"]:not(:checked) + label::before {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: solid 2.4px #bababa;
    background: transparent;
  }
  input[type="radio"]:checked + label::before {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background: transparent;
    border: solid 2px $dark-sea-green;
  }

  input[type="radio"]:checked + label::after,
  input[type="radio"]:not(:checked) + label::after {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    top: 0;
    left: 0;
    transform: translate(6px, 6px);
    border: solid 2px $jungle-green;
    background-color: $jungle-green;
  }
  input[type="radio"]:checked + label::after {
    opacity: 1;
  }
  input[type="radio"]:not(:checked) + label::after {
    opacity: 0;
  }

  &--tiers {
    @include flex-aligne-center;
    input[type="radio"]:checked + label {
      color: $jungle-green;
      @include transition;
      @include Text-Style-34;
      padding: 0 0 0 0;
    }
    input[type="radio"]:not(:checked) + label {
      @include transition;
      @include Text-Style-35;
      padding: 0 0 0 0;
    }
    input[type="radio"]:checked + label:after,
    input[type="radio"]:checked + label::before,
    input[type="radio"]:not(:checked) + label:after,
    input[type="radio"]:not(:checked) + label::before {
      display: none;
    }
    span {
      @include Text-Style-35;
    }
    @include flex-aligne-center;
    column-gap: 5px;
  }

  &--sex {
    input[type="radio"]:not(:checked) + label::before {
      border-radius: 5px;
    }
    input[type="radio"]:checked + label::before,
    input[type="radio"]:not(:checked) + label::before {
      border-radius: 5px;
    }

    input[type="radio"]:checked + label:after,
    input[type="radio"]:not(:checked) + label:after {
      display: none;
    }
    input[type="radio"]:checked + label + svg,
    input[type="radio"]:not(:checked) + label + svg {
      display: inline-block !important;
      width: 14px;
      transform: translate(6px, 6px);
      height: 14px;
      position: absolute;
      top: 0;
      left: 0;
      @include transition;
    }
    input[type="radio"]:checked + label + svg {
      opacity: 1;
    }
    input[type="radio"]:not(:checked) + label + svg {
      opacity: 0;
    }
  }
}

.fildset-checkbox {

  input[type="checkbox"]:checked,
  input[type="checkbox"]:not(:checked) {
    position: fixed !important;
    left: -9999px !important;
    height: 0px;
    width: 0px;
  }

  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 46px;
    // line-height: 20px;
    @include Text-Style-36;
    padding: 0 0 0 46px;
    line-height: 26px;
    cursor: pointer;
    @include transition;
    &:hover {
      color: lighten($jungle-green, 25%);
    }
  }

  input[type="checkbox"]:not(:checked) + label::before,
  input[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: transparent;
    @include transition;
  }

  input[type="checkbox"]:not(:checked) + label::before {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: solid 2.4px #bababa;
  }
  input[type="checkbox"]:checked + label::before {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: solid 2px $dark-sea-green;
  }

  input[type="checkbox"]:checked + label::after,
  input[type="checkbox"]:not(:checked) + label::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    top: 0;
    left: 0;
    transform: translate(6px, 6px);
    border: solid 2px $jungle-green;
    background-color: $jungle-green;
    @include transition;
  }
  input[type="checkbox"]:checked + label::after {
    opacity: 1;
  }
  input[type="checkbox"]:not(:checked) + label::after {
    opacity: 0;
  }
}

