// @font-face {
//   font-family: "Lobster-Regular";
//   src: url("../fonts/Lobster-Regular.woff2");
//   src: url("../fonts/Lobster-Regular.woff");
//   font-weight: 400;
//   font-style: normal;
//   font-stretch: normal;
// }

// @font-face {
//   font-family: "Arial-Regular";
//   src: url("../fonts/arial_reg.woff2");
//   src: url("../fonts/arial_reg.woff");
//   font-weight: 400;
//   font-style: normal;
//   font-stretch: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: "Arial-Bold";
//   src: url("../fonts/arial_bold.woff2");
//   src: url("../fonts/arial_bold.woff");
//   font-weight: 700;
//   font-style: normal;
//   font-stretch: normal;
//   font-display: swap;
// }

//   @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Noto+Serif:wght@700&family=PT+Sans&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&family=Roboto+Slab:wght@700&display=swap');

// font-family: 'Arial-Regular', sans-serif;
// font-family: 'Arial-Bold', sans-serif;
// font-family: 'Inter', sans-serif;
// font-family: 'Noto Serif', serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'PT Serif', serif;
// font-family: 'Roboto Flex', sans-serif;
// font-family: 'Roboto Slab', serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.f1,
.f1 * {
  @include fs11;
  font-weight: 400;
  line-height: 13px;
}
.f2 {
  color: $rgb255;
  @include fs12;
  font-weight: 400;
  line-height: 15px;
}
.f3 {
  color: $rgb255;
  @include fs10;
  font-weight: 400;
  line-height: 12px;
}
.f4 {
  color: $rgb255;
  @include fs16;
  font-weight: 600;
  line-height: 20px;
}
.f5 {
  color: $rgb000;
  @include fs32;
  font-weight: 400;
  line-height: 44px;
}

.f6 {
  color: $rgb000;
  @include fs20;
  font-weight: 600;
  line-height: 24px;
}

.f7 {
  color: $rgb137;
  @include fs12;
  font-weight: 400;
  line-height: 15px;
}

.f8 {
  color: $rgb255;
  @include fs14;
  font-weight: 600;
  line-height: 17px;
}

.f9 {
  color: $rgb000;
  @include fs32;
  font-weight: 400;
  line-height: 44px;
}

.f10 {
  color: $rgb000;
  @include fs12;
  font-weight: 400;
  line-height: 15px;
}

.f11 {
  color: $rgb000;
  @include fs32;
  font-weight: 400;
  line-height: 44px;
}

.f12 {
  color: rgb(10, 7, 7);
  @include fs12;
  font-weight: 400;
  line-height: 15px;
}

.f13 {
  color: $rgb000;
  @include fs14;
  font-weight: 600;
  line-height: 44px;
}

.f14 {
  color: $rgb000;
  @include fs12;
  font-weight: 400;
  line-height: 15px;
}

.f1 {
  color: $rgb000;
  @include fs12;
  font-weight: 400;
  line-height: 15px;
}

.f15 {
  color: $rgb255;
  @include fs12;
  font-weight: 600;
  line-height: 15px;
}

.f16 {
  color: $rgb255;
  @include fs14;
  font-weight: 600;
  line-height: 17px;
}

.f17 {
  color: $rgb000;
  @include fs32;
  font-weight: 600;
  line-height: 44px;
}

.f18 {
  color: $rgb000;
  @include fs22;
  font-weight: 400;
  line-height: 44px;
}

.f19 {
  color: $rgb000;
  @include fs13;
  font-weight: 400;
  line-height: 16px;
}

.f20 * {
  color: $rgb000;
  @include fs32;
  font-weight: 600;
  line-height: 44px;
}

.f21 {
  color: $rgb90;
  @include fs18;
  font-weight: 400;
  line-height: 22px;
}

.f22 {
  color: $rgb000;
  @include fs14;
  font-weight: 600;
  line-height: 17px;

  text-align: center;
}
.f23 {
  color: $rgb255;
  @include fs32;
  font-weight: 400;
  line-height: 44px;

  text-align: center;
}
.f24 {
  color: $rgb255;
  @include fs24;
  font-weight: 600;
  line-height: 44px;
}

.f25 {
  color: $rgb255;
  @include fs13;
  font-weight: 400;
  line-height: 16px;
}

.f26 {
  color: $rgb000;
  @include fs32;
  font-weight: 600;
  line-height: 44px;
}

.f27 {
  color: $rgb000;
  @include fs32;
  font-weight: 400;
  line-height: 38px;
}

.f28 {
  color: $rgb000;
  @include fs32;
  font-weight: 600;
  line-height: 44px;
}

.f29 {
  color: $rgb73;
  @include fs18;
  font-weight: 500;
  line-height: 44px;
}

.f30 {
  color: $rgb255;
  @include fs32;
  font-weight: 600;
  line-height: 44px;
}
.f31 {
  color: $rgb255;
  @include fs18;
  font-weight: 400;
  line-height: 22px;
}
.f32 {
  color: $rgb255;
  @include fs17;
  font-weight: 400;
  line-height: 21px;
}
.f33 {
  color: $rgb255;
  @include fs17;
  font-weight: 400;
  line-height: 21px;
}
.f34 {
  color: $rgb255;
  @include fs22;
  font-weight: 500;
  line-height: 27px;
}
.f35 {
  color: $rgb117;
  @include fs12;
  font-weight: 400;
  line-height: 15px;
}

.f36 {
  color: $rgb255;
  @include fs12;
  font-weight: 400;
  line-height: 15px;
}
.f37 {
  color: $rgb255;
  @include fs16;
  font-weight: 400;
  line-height: 20px;
}
.f38 {
  color: $rgb255;
  @include fs12;
  font-weight: 400;
  line-height: 15px;
}
.f39 {
  color: $rgb255;
  @include fs17;
  font-weight: 400;
  line-height: 21px;
}
.f40 {
  color: $rgb255;
  @include fs12;
  font-weight: 400;
  line-height: 15px;
}
.f41 {
  color: $rgb255;
  @include fs12;
  font-weight: 400;
  line-height: 15px;

  text-decoration-line: underline;
}
.f42 {
  @include fs12;
  font-weight: 400;
  line-height: 15px;
}
