@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.woff2");
  src: url("../fonts/Gilroy-ExtraBold.woff");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-MediumItalic";
  src: url("../fonts/Montserrat-MediumItalic.woff2");
  src: url("../fonts/Montserrat-MediumItalic.woff");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-Light";
  src: url("../fonts/WorkSans-Light.woff2");
  src: url("../fonts/WorkSans-Light.woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-Italic";
  src: url("../fonts/WorkSans-Italic.woff2");
  src: url("../fonts/WorkSans-Italic.woff");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-Regular";
  src: url("../fonts/WorkSans-Regular.woff2");
  src: url("../fonts/WorkSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-Medium";
  src: url("../fonts/WorkSans-Medium.woff2");
  src: url("../fonts/WorkSans-Medium.woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-SemiBold";
  src: url("../fonts/WorkSans-SemiBold.woff2");
  src: url("../fonts/WorkSans-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-Bold";
  src: url("../fonts/WorkSans-Bold.woff2");
  src: url("../fonts/WorkSans-Bold.woff");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
// font-family: 'Montserrat-MediumItalic', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Work Sans', sans-serif;
// font-family: 'Gilroy-ExtraBold', sans-serif;
// font-family: "WorkSans-SemiBold", sans-serif;
// font-family: "WorkSans-Regular", sans-serif;
// font-family: "WorkSans-Light", sans-serif;
// font-family: "WorkSans-Bold", sans-serif;
// font-family: "WorkSans-Italic", sans-serif;
// font-family: "WorkSans-Medium", sans-serif;

@mixin Text-Style-5 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 1.5px;
  color: $sandy-yellow;
}

@mixin Text-Style-32 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 1.5px;
  text-align: center;
  color: $black-two;
}
@mixin Text-Style-3 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 1.5px;
  color: $white;
}
@mixin Text-Style-40 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 45px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 1.35px;
  color: $white;

  @media (max-width: 767px) {
    font-size: 30px;
  }
}
@mixin Text-Style-38 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 1.2px;
  color: $black-two;
}
@mixin Text-Style-30 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 1.2px;
  color: $periwinkle;
  @media (max-width: 767px) {
    font-size: 20px;
  }
}
@mixin Text-Style-12 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 1.2px;
  color: $white;

  @media (max-width: 767px) {
    font-size: 30px;
  }
}
@mixin Text-Style-27 {
  font-family: "Montserrat-MediumItalic", sans-serif;
  font-size: 35px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.3;
  letter-spacing: 1.05px;
  color: $white;
  @media (max-width: 767px) {
    font-size: 30px;
  }
}
@mixin Text-Style-7 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.9px;
  color: $black;
}
@mixin Text-Style-25 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.9px;
  color: $white;
  @media (max-width: 767px) {
    font-size: 20px;
  }
}

@mixin Text-Style-22 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.9px;
  color: $black-three;
  @media (max-width: 767px) {
    font-size: 20px;
  }
}
@mixin Text-Style-18 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.9px;
  color: $periwinkle;
  @media (max-width: 767px) {
    font-size: 20px;
  }
}
@mixin Text-Style-16 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.9px;
  color: $black-two;

  @media (max-width: 767px) {
    font-size: 20px;
  }
}
@mixin Text-Style-35 {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.9px;
  color: $white;
}
@mixin Text-Style-14 {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.75px;
  color: $sandy-yellow;

  @media (max-width: 767px) {
    font-size: 15px;
  }
}
@mixin Text-Style-13 {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.75px;
  color: $white;
  @media (max-width: 767px) {
    font-size: 15px;
  }
}
@mixin Text-Style-41 {
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: 0.75px;
  color: $text-gray-7;
  @media (max-width: 767px) {
    font-size: 18px;
  }
}
@mixin Text-Style-6 {
  font-family: "WorkSans-Light", sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.75px;
  color: $white;

  @media (max-width: 767px) {
    font-size: 15px;
  }
}
@mixin Text-Style-28 {
  font-family: "WorkSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0.6px;
  color: $white;
}
@mixin Text-Style-42 {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.6px;
  color: $white;
  @media (max-width: 767px) {
    font-size: 15px;
  }
}
@mixin Text-Style-37 {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.6px;
  text-align: center;
  color: $white;
}
@mixin Text-Style-15 {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.6px;
  color: $black-two;
}
@mixin Text-Style-20 {
  font-family: "WorkSans-Italic", sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 1.3;
  letter-spacing: 0.6px;
  color: $periwinkle;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}
@mixin Text-Style-39 {
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.6px;
  color: $white;
}
@mixin Text-Style-21 {
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: center;
  color: $black-two;
  @media (max-width: 767px) {
    font-size: 15px;
  }
}

@mixin Text-Style-29 {
  font-family: "WorkSans-Bold", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0.51px;
  color: $white;
}
@mixin Text-Style-19 {
  font-family: "WorkSans-Bold", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0.51px;
  color: $periwinkle;
}
@mixin Text-Style-10 {
  font-family: "WorkSans-Bold", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0.51px;
  color: $black-two;
}
@mixin Text-Style-9 {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.51px;
  color: $white;
}
@mixin Text-Style-34 {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.51px;
  text-align: center;
  color: $periwinkle;
}
@mixin Text-Style-8 {
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.51px;
  color: $black;
}
@mixin Text-Style-33 {
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.51px;
  text-align: center;
  color: $text-gray-900;
}
@mixin Text-Style-26 {
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.51px;
  color: $white;

  @media (max-width: 767px) {
    font-size: 15px;
  }
}
@mixin Text-Style-17 {
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.51px;
  color: $black-two;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}
@mixin Text-Style-31 {
  font-family: "WorkSans-Bold", sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0.45px;
  color: $periwinkle;
}
@mixin Text-Style-43 {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.45px;
  color: $white;
}
@mixin Text-Style-36 {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.45px;
  color: $periwinkle;
}
@mixin Text-Style-24 {
  font-family: "WorkSans-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.67;
  color: $dark-periwinkle;
}
// @mixin Text-Style-2 {
//   font-family: "WorkSans-Medium", sans-serif;
//   font-size: 15px;
//   font-weight: 500;
//   line-height: 1.3;
//   letter-spacing: 0.45px;
//   color: $white;
// }
@mixin Text-Style-23 {
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 15px;
  line-height: 1.67;
  color: $text-gray-900;

  @media (max-width: 767px) {
    font-size: 14px;
  }
}
@mixin Text-Style {
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0.45px;
  color: $white;
  @media (max-width: 767px) {
    font-size: 12px;
  }
}
@mixin Text-Style-11 {
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.36px;
  color: $white;
}

@mixin Text-Style-2 {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.51px;
  color: $black-two;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}
@mixin Text-Style-3 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 100px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 3px;
  color: $periwinkle;
}
@mixin Text-Style-4 {
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.6px;
  color: $text-gray-900;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}
