
// @font-face {
//   font-family: "Lobster-Regular";
//   src: url("../fonts/Lobster-Regular.woff2");
//   src: url("../fonts/Lobster-Regular.woff");
//   font-weight: 400;
//   font-style: normal;
//   font-stretch: normal;
// }

@font-face {
  font-family: "Arial-Regular";
  src: url("../fonts/arial-reg.woff2");
  src: url("../fonts/arial-reg.woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Arial-Bold";
  src: url("../fonts/arial-bold.woff2");
  src: url("../fonts/arial-bold.woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}


  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Noto+Serif:wght@700&family=PT+Sans&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&family=Roboto+Slab:wght@700&display=swap');

// font-family: 'Arial-Regular', sans-serif;
// font-family: 'Arial-Bold', sans-serif;
// font-family: 'Inter', sans-serif;
// font-family: 'Noto Serif', serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'PT Serif', serif;
// font-family: 'Roboto Flex', sans-serif;
// font-family: 'Roboto Slab', serif;