input:not([type="range"]) {
  // background: transparent;
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
  @include flex-center;
  position: relative;
  background: transparent;
  @include transition;
  &:focus {
    padding: 30px 20px 8px;
    color: $black-two;
    font-family: "PT Serif", serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    & ~ label {
      z-index: 4;
      padding-bottom: 30px;
    }
  }
  &:not(:placeholder-shown) {
    color: $black-two;
    font-family: "PT Serif", serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    // background: $focus;
    // padding: 30px 20px 8px;
    & ~ label {
      z-index: 4;
      padding-bottom: 30px;
    }
  }
}

input[type="submit"]:not(:placeholder-shown) {
  font-family: "Arial-Bold", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.07;
  color: white;
  border-radius: 3px;
  background: #006b36;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

textarea {
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  background: transparent;
  resize: none;
  @include transition;
  display: block;
  border-radius: 5px;
  border: solid 1px $greyish;
  background-color: $white;
  &::placeholder {
    @include transition;
    @include Text-Style-31;
  }
  &:hover {
    cursor: pointer;
    border: solid 1px lighten($jungle-green, 25%);
    &::placeholder {
      color: lighten($jungle-green, 25%);
    }
  }
  &:focus {
    // background: $focus;
    &::placeholder {
      opacity: 0;
    }
  }
  &:not(:placeholder-shown) {
    // background: $focus;
    &::placeholder {
      opacity: 0;
    }
  }
}

input:not([type="range"]) ~ span {
  @include transition;
}

input:not([type="range"]) + i {
  @include transition;
}

// [[[[[[[[[[[[[[[[[[[[[[[[[[[[[]]]]]]]]]]]]]]]]]]]]]]]]]]]]]
// [[[[[[[[[[[[[[[[[[[[[[[[[[[[[]]]]]]]]]]]]]]]]]]]]]]]]]]]]]

// input:not([type="range"]):focus + i {
//   opacity: 0;
//   z-index: -1;
// }

// input:not([type="range"]):focus ~ span {
//   opacity: 0;
//   z-index: -1;
// }

// =============================
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: fixed;
  left: -9999px !important;
  height: 0px;
  width: 0px;
}
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  @include transition;
  @include Text-Style-34;
  color: $jungle-green;
  padding: 0 0 0 0;
}
input[type="radio"]:not(:checked) + label {
  @include transition;
  @include Text-Style-35;
  padding: 0 0 0 0;
}

input[type="radio"]:checked + label:after,
input[type="radio"]:checked + label::before,
input[type="radio"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label::before {
  display: block;
  @include transition;
   content: "";
  position: absolute;
  left: 0px;
  top: 0px;
}

input[type="radio"]:not(:checked) + label::before {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  border: solid 2.4px #bababa;
  background: transparent;
}
input[type="radio"]:checked + label::before {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background: transparent;
  border: solid 2px $dark-sea-green;
}

input[type="radio"]:checked + label::after,
input[type="radio"]:not(:checked) + label::after {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  top: 0;
  left: 0;
  transform: translate(6px, 6px);
  border: solid 2px $jungle-green;
  background-color: $jungle-green;
}
input[type="radio"]:checked + label::after {
  opacity: 1;
}
input[type="radio"]:not(:checked) + label::after {
  opacity: 0;
}


// =============================
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: fixed;
  left: -9999px !important;
  height: 0px;
  width: 0px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid #bcaaa4;
  background-color: #fbe9e7;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 7px;
  border-radius: 1px;
  border-left: 4px solid #2979ff;
  border-bottom: 4px solid #2979ff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

// .contacts-form__item {
//   min-height: 30px;
//   margin: 30px 0 0 0;
//   position: relative;
// }

// .contacts-form__item label {
//   position: absolute;
//   top: 50%;
//   left: 10px;
//   transition: 0.3s;
//   transform: translateY(-50%);
//   pointer-events: none;
//   width: 100%;
// }

// .contacts-form__item input:not([type="range"]) {
//   color: transparent;
// }

// .contacts-form__item input:not([type="range"])::-webkit-input-placeholder {
//   color: transparent;
// }

// .contacts-form__item input:not([type="range"]):focus + label,
// .contacts-form__item textarea:focus + label {
//   transform: translateY(-34px);
//   left: 0;
//   color: #6666ff;
// }

// /* ================ */

// /*=======input[type=range]============*/
// #rangeValue {
//   outline: 1px solid #4164ff;
//   border-radius: 10px;
//   padding: 5px;
//   text-align: center;
// }

// .range-wrap input[type="range"] {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   height: 8px;
//   margin: 15px 0;
//   padding: 0 0 0 0;
//   display: block;
//   padding: 0;
//   width: 100%;
//   border-radius: 5px;
//   border: none !important;
//   background: #fff;
//   outline: none !important;
// }

// .range-wrap input[type="range"]::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   box-sizing: content-box;
//   /* border: 5px solid #7ab764; */
//   height: 20px;
//   width: 20px;
//   border-radius: 50%;
//   background-color: #4164ff;
//   cursor: ew-resize;
//   margin-top: -6px;
// }

// .range-wrap input[type="range"]::-moz-range-thumb {
//   -moz-appearance: none;
//   box-sizing: content-box;
//   /* border: 5px solid #7ab764; */
//   height: 20px;
//   width: 20px;
//   border-radius: 50%;
//   background-color: #4164ff;
//   cursor: ew-resize;
//   margin-top: -6px;
// }

// .range-wrap input[type="range"]::-ms-thumb {
//   appearance: none;
//   box-sizing: content-box;
//   /* border: 5px solid #7ab764; */
//   height: 20px;
//   width: 20px;
//   border-radius: 50%;
//   background-color: #4164ff;
//   cursor: ew-resize;
//   margin-top: -6px;
// }
// /*
// */
// .range-wrap input[type="range"]::-webkit-slider-runnable-track {
//   -webkit-appearance: none;
//   height: 8px;
//   /* color: transparent; */
// }

// .range-wrap input[type="range"]::-moz-track {
//   -moz-appearance: none;
//   height: 8px;
// }

// .range-wrap input[type="range"]::-ms-track {
//   appearance: none;
//   height: 8px;
// }

// .range-wrap input[type="range"]:active::-webkit-slider-thumb {
//   background-color: #fff;
//   outline: 3px solid #4164ff;
// }
