.slider__item {
  position: relative;
}

.slider__body {
  overflow: hidden;
}

.slider-arrow {
  position: relative;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 2;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  border: solid 2px $jungle-green;
  background: transparent;
  cursor: pointer;
}

.slider-arrow svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  z-index: 2;
  stroke-width: 1px;
  transition: all 0.2s ease-in-out;
  stroke: $jungle-green;
}

.slider-arrow[disabled] {
  opacity: 0.3;
  &:hover {
    cursor: none;
  }
}

.slider-arrow:not([disabled]) {
  &:hover {
    transform: scale(1.05) translate(0%, -50%);
    border: solid 2px lighten($jungle-green, 25%);
  }

  &:hover > svg {
    stroke: lighten($jungle-green, 25%);
  }
}

// .slider-arrow-prev {
//   left: -55px;
// }

// .slider-arrow-next {
//   right: -55px;
// }

// /*===============================*/
// .slider-full {
//   margin: 50px 0 0 0;
//   overflow: hidden;
// }
// /*===============================*/

// @media (min-width: 0) and (max-width: 1329px) {

//   .slider-arrow {
//     top: 110%;
//     transform: translate(0%, 0%);
//       width: 30px;
//   height: 30px;
//   }
//   .slider-arrow-prev {
//   left: 30%;
// }

// .slider-arrow-next {
//   right: 30%;
// }
// .slider-arrow svg {
//   width: 15px;
//   height: 15px;
// }
// .slider-arrow:hover {
//   transform: scale(1.05) translate(0%, 0%);
// }
// }
